#!/bin/sh

set -e

/usr/bin/mysqldump -u{{mariadb_backup_user}} -p{{mariadb_backup_password | vault(vault_keydir)}} --single-transaction --databases middleware gateway > /tmp/mysqldump.sql
cat /tmp/mysqldump.sql
rm /tmp/mysqldump.sql
