---
env: template

instance_name: OpenConext
base_domain: "%base_domain%"
support_email: help@{{ base_domain }}
noreply_email: no-reply@{{ base_domain }}
replica_set_name:
smtp_server: localhost
error_mail_to: "{{ support_email }}"

php_display_errors: 1
apache_server_admin: "{{ support_email }}"
janus_ssp_technicalcontact_name: "Technical Contact"
janus_ssp_technicalcontact_email: "{{ support_email }}"
janus_ssp_managingcontact_name: "Managing Contact"
janus_ssp_managingcontact_email: "{{ support_email }}"
diy_technicalcontact_name: "Technical Contact"
diy_technicalcontact_email: "{{ support_email }}"


attribute_aggregation_gui_version: 2.0.12
attribute_aggregation_server_version: 2.0.12
attribute_mapper_version: 0.0.1
authz_admin_version: 2.0.12
authz_playground_version: 1.7
oidc_playground_client_version: 0.0.1
oidc_playground_server_version: 0.0.1
authz_server_version: 1.3.10
engine_version: "5.9.4"
manage_gui_version: 4.0.2
manage_server_version: 4.0.2
lifecycle_version: "0.0.5"
monitoring_tests_version: 6.0.5
mujina_version: 7.0.7
oidc_version: 1.3.4
pdp_server_version: 2.0.5
pdp_gui_version: 2.0.5
profile_version: "1.2.1"
teams_gui_version: 8.0.5
teams_server_version: 8.0.5
voot_version: 3.0.6

databases:
  names:
    - teams
    - "{{ engine_database_name }}"
    - authz-server
    - pdp-server
    - oidc-server
    - aaserver
    - shibboleth
    - eb_logins 
  users:
    - { name: teamsrw, db_name: teams, password: "{{ mysql_passwords.teams }}" }
    - { name: "{{ engine_database_user }}", db_name: "{{ engine_database_name }}", password: "{{ mysql_passwords.eb }}" }
    - { name: authz-serverrw, db_name: authz-server, password: "{{ mysql_passwords.authz_server }}" }
    - { name: pdp-serverrw, db_name: pdp-server, password: "{{ mysql_passwords.pdp_server }}" }
    - { name: oidc-serverrw, db_name: oidc-server, password: "{{ mysql_passwords.oidc_server }}" }
    - { name: aa-serverrw, db_name: aaserver, password: "{{ mysql_passwords.aa_server }}" }
    - { name: shibrw, db_name: shibboleth, password: "{{ mysql_passwords.shibboleth }}" }
    - { name: lifecyclerw, db_name: eb_logins, password: "{{ mysql_passwords.lifecycle }}" }

mongo_port: 27017
mongo_cluster: false
mongo_hostname: localhost
mongo_tls: false

mongo:
  users:
    - { name: managerw, db_name: metadata, password: "{{ mongo_passwords.manage }}" }
    - { name: oidcngrw, db_name: oidcng, password: "{{ mongo_passwords.oidcng }}" }

tls:
  cert_path: /etc/pki/tls/certs
  cert_path_ca: /etc/pki/ca-trust/source/anchors/
  cert_private_path: /etc/pki/tls/private


tls_ca: star.{{ base_domain }}_ca.pem

tls_star_cert_haproxy: star.{{ base_domain }}_haproxy.pem
tls_star_cert_bundle_name: star.{{ base_domain }}_ca_bundle.pem
tls_star_cert: star.{{ base_domain }}.pem
tls_star_cert_key: star.{{ base_domain }}.key

tls_https:
  - name: star
    key_name: "star.{{ base_domain }}.key"
    crt_name: "star.{{ base_domain }}.pem"
    bundle_name: "star.{{ base_domain }}_ca_bundle.pem"
    key_content: "{{ https_star_private_key }}"

# Value for the isMemberOf attribute for users from IdPs that are marked as 'guest'.
guest_qualifier: "urn:collab:org:{{ base_domain }}"

engine_janus_user: engineblock

engine_database_name: eb
engine_database_host: "{{ mysql_host }}"
engine_database_port: 3306
engine_database_user: ebrw
engine_database_password: "{{ mysql_passwords.eb }}"

engine_apache_environment: test
engine_apache_symfony_environment: prod

janus_teams_oauth_key: https://teams.{{ base_domain }}/teams/teams.xml

janus_attribute_sources:
 - voot

engine_janus_cache_lifetime: 0

engine_trusted_proxy_ips:
  - 192.168.1.1
  - 10.0.0.1
#
engine_keys:
  default:
    privateFile: /etc/openconext/engineblock.pem
    publicKey: engineblock.crt
    publicFile: /etc/openconext/engineblock.crt

engine_block:
  metadataRepositories:
    - {
        index: 0,
        type: "database",
        value: "Doctrine"
      }

profile_apache_symfony_environment: prod
# Engine's assertion signing certificate:
engine_profile_idp_certificate: /etc/openconext/engineblock.crt

tomcat_apps:
  - oidc

# shibboleth
shibboleth_apps:
  teams:
    entityID: "https://teams.{{ base_domain }}/shibboleth"
    baseurl: ""
  authz:
    entityID: "https://authz.{{ base_domain }}/shibboleth"
    baseurl: ""
  "authz-admin":
    entityID: "https://authz-admin.{{ base_domain }}/shibboleth"
    baseurl: ""
  pdp:
    entityID: "https://pdp.{{ base_domain }}/shibboleth"
    baseurl: ""
  "attribute-aggregation":
    entityID: "https://aa.{{ base_domain }}/shibboleth"
    baseurl: ""
  "attribute-aggregation-link":
    entityID: "https://link.{{ base_domain }}/shibboleth"
    baseurl: ""
  "manage":
    entityID: "https://manage.{{ base_domain }}/shibboleth"
    baseurl: ""

shib:
  db_host: "127.0.0.1"
shibboleth_database_backend: true

teams:
  db_name: "teams"
  db_user: "teamsrw"
  db_password: "{{ mysql_passwords.teams }}"
  db_host: "{{ mysql_host }}"
  group_name_context: "urn:collab:group:{{ base_domain }}:"
  voot_api_user: "voot"
  product_name: "OpenConext Teams"
  default_stem_name: "demo:openconext:org"

engineblock:
  idp_url: https://engine.{{ base_domain }}/authentication/idp/single-sign-on
  idp_entity_id: https://engine.{{ base_domain }}/authentication/idp/metadata

mujina_idp:
  private_key: "{{ mujina_idp_private_key }}"
  certificate: MIIDEzCCAfugAwIBAgIJAKoK/heBjcOYMA0GCSqGSIb3DQEBBQUAMCAxHjAcBgNVBAoMFU9yZ2FuaXphdGlvbiwgQ049T0lEQzAeFw0xNTExMTExMDEyMTVaFw0yNTExMTAxMDEyMTVaMCAxHjAcBgNVBAoMFU9yZ2FuaXphdGlvbiwgQ049T0lEQzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANBGwJ/qpTQNiSgUglSE2UzEkUow+wS8r67etxoEhlzJZfgK/k5TfG1wICDqapHAxEVgUM10aBHRctNocA5wmlHtxdidhzRZroqHwpKy2BmsKX5Z2oK25RLpsyusB1KroemgA/CjUnI6rIL1xxFn3KyOFh1ZBLUQtKNQeMS7HFGgSDAp+sXuTFujz12LFDugX0T0KB5a1+0l8y0PEa0yGa1oi6seONx849ZHxM0PRvUunWkuTM+foZ0jZpFapXe02yWMqhc/2iYMieE/3GvOguJchJt6R+cut8VBb6ubKUIGK7pmoq/TB6DVXpvsHqsDJXechxcicu4pdKVDHSec850CAwEAAaNQME4wHQYDVR0OBBYEFK7RqjoodSYVXGTVEdLf3kJflP/sMB8GA1UdIwQYMBaAFK7RqjoodSYVXGTVEdLf3kJflP/sMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADggEBADNZkxlFXh4F45muCbnQd+WmaXlGvb9tkUyAIxVL8AIu8J18F420vpnGpoUAE+Hy3evBmp2nkrFAgmr055fAjpHeZFgDZBAPCwYd3TNMDeSyMta3Ka+oS7GRFDePkMEm+kH4/rITNKUF1sOvWBTSowk9TudEDyFqgGntcdu/l/zRxvx33y3LMG5USD0x4X4IKjRrRN1BbcKgi8dq10C3jdqNancTuPoqT3WWzRvVtB/q34B7F74/6JzgEoOCEHufBMp4ZFu54P0yEGtWfTwTzuoZobrChVVBt4w/XZagrRtUCDNwRpHNbpjxYudbqLqpi1MQpV9oht/BpTHVJG2i0ro=
  passphrase: secret
  entity_id: http://mock-idp
  base_url: https://mujina-idp.{{ base_domain }}
  cookie_secure: true

mujina_sp:
  private_key: "{{ mujina_sp_private_key }}"
  certificate: MIIDEzCCAfugAwIBAgIJAKoK/heBjcOYMA0GCSqGSIb3DQEBBQUAMCAxHjAcBgNVBAoMFU9yZ2FuaXphdGlvbiwgQ049T0lEQzAeFw0xNTExMTExMDEyMTVaFw0yNTExMTAxMDEyMTVaMCAxHjAcBgNVBAoMFU9yZ2FuaXphdGlvbiwgQ049T0lEQzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANBGwJ/qpTQNiSgUglSE2UzEkUow+wS8r67etxoEhlzJZfgK/k5TfG1wICDqapHAxEVgUM10aBHRctNocA5wmlHtxdidhzRZroqHwpKy2BmsKX5Z2oK25RLpsyusB1KroemgA/CjUnI6rIL1xxFn3KyOFh1ZBLUQtKNQeMS7HFGgSDAp+sXuTFujz12LFDugX0T0KB5a1+0l8y0PEa0yGa1oi6seONx849ZHxM0PRvUunWkuTM+foZ0jZpFapXe02yWMqhc/2iYMieE/3GvOguJchJt6R+cut8VBb6ubKUIGK7pmoq/TB6DVXpvsHqsDJXechxcicu4pdKVDHSec850CAwEAAaNQME4wHQYDVR0OBBYEFK7RqjoodSYVXGTVEdLf3kJflP/sMB8GA1UdIwQYMBaAFK7RqjoodSYVXGTVEdLf3kJflP/sMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADggEBADNZkxlFXh4F45muCbnQd+WmaXlGvb9tkUyAIxVL8AIu8J18F420vpnGpoUAE+Hy3evBmp2nkrFAgmr055fAjpHeZFgDZBAPCwYd3TNMDeSyMta3Ka+oS7GRFDePkMEm+kH4/rITNKUF1sOvWBTSowk9TudEDyFqgGntcdu/l/zRxvx33y3LMG5USD0x4X4IKjRrRN1BbcKgi8dq10C3jdqNancTuPoqT3WWzRvVtB/q34B7F74/6JzgEoOCEHufBMp4ZFu54P0yEGtWfTwTzuoZobrChVVBt4w/XZagrRtUCDNwRpHNbpjxYudbqLqpi1MQpV9oht/BpTHVJG2i0ro=
  passphrase: secret
  entity_id: http://mock-sp
  base_url: https://mujina-sp.{{ base_domain }}
  idp_metadata_url: https://engine.{{ base_domain }}/authentication/idp/metadata
  single_sign_on_service_location: https://engine.{{ base_domain }}/authentication/idp/single-sign-on
  cookie_secure: true

authzserver:
  db_user: authz-serverrw
  db_password: "{{ mysql_passwords.authz_server }}"
  db_host: "{{ mysql_host }}"
  db_name: authz-server

voot:
  authz_checkToken_endpoint_url: "https://authz.{{ base_domain }}/oauth/check_token"
  authz_checkToken_clientId: "vootservice"
  authz_checkToken_secret: "{{ voot_authz_checkToken_secret }}"
  oidc_checkToken_endpoint_url: "https://oidc.{{ base_domain }}/introspect"
  oidc_checkToken_clientId: "https@//oidc.test.surfconext.nl"
  oidc_checkToken_secret: "{{ voot_oidc_checkToken_secret }}"
  loggers:
    - { name: "voot", level: "DEBUG" }
  externalGroupProviders:
    - {
        type: "teams",
        url: "https://teams.{{ base_domain }}/api/voot",
        credentials: {
         username: "{{ teams.voot_api_user }}",
         secret: "{{ external_group_provider_secrets.teams }}"
        },
        schacHomeOrganization: "{{ base_domain}}",
        name: "SURFteams",
        timeoutMillis: 15000
      }

##
# Config for the authz-admin application
##

authzadmin:
  defaultClients:
      - clientId: "{{ authzplayground.springapp_authz_client_id }}"
        secret: "{{ authzplayground.springapp_authz_client_secret }}"
        resourceIds:
          - groups
        scopes:
          - groups
        grantTypes:
          - authorization_code
          - implicit
        redirectUris:
          - https://authz-playground.{{ base_domain }}/redirect
      - clientId: surf-teams
        secret: "{{ teams_authz_client_secret }}"
        resourceIds:
          - groups
        scopes:
          - groups
        grantTypes:
          - client_credentials
      - clientId: engineblock
        secret: "{{ engineblock_authz_client_secret }}"
        resourceIds:
          - groups
        scopes:
          - groups
        grantTypes:
          - client_credentials
      - clientId: pdp_client
        secret: "{{ pdp_client_secret }}"
        resourceIds:
          - groups
        scopes:
          - groups
        grantTypes:
          - authorization_code
          - implicit
          - client_credentials
      - clientId: "{{ aa.authz_client_id }}"
        secret: "{{ aa_authz_client_secret }}"
        scopes:
          - groups
          - attribute-aggregation
          - saml-attribute-query
        grantTypes:
          - authorization_code
          - implicit
          - client_credentials
  defaultResourceServers:
    - clientId: vootservice
      secret: "{{ voot.authz_checkToken_secret }}"
    - clientId: pdp
      secret: "{{ voot.oidc_checkToken_secret }}"
    - clientId: "{{ aa.authz_resource_server_id }}"
      secret: "{{ aa.authz_secret }}"

authzplayground:
  springapp_authz_client_id: cool_app_id
  springapp_authz_client_secret: "{{ authzplayground_springapp_authz_client_secret }}"
  springapp_oidc_client_id: https@//authz-playground.{{ base_domain }}
  springapp_oidc_client_secret: "{{ authzplayground_springapp_oidc_client_secret }}"

oidc_playground:
  discovery_endpoint: "https://oidcng.{{ base_domain }}/oidc/.well-known/openid-configuration"
  client_id: playground_client
  secret: "{{ oidc_playground_secret }}"
  resource_server_id: resource-server-playground-client
  resource_server_secret: "{{ oidc_playground_resource_server_secret }}"
  gui_disclaimer:
    background_color: red
    content: "{{ env }}"

pdp:
  username: "pdp_admin"
  password: "{{ pdp_password }}"
  db_user: pdp-serverrw
  db_password: "{{ mysql_passwords.pdp_server }}"
  db_host: "{{ mysql_host }}"
  db_name: pdp-server
  spring_profiles_active: test
  cache_policies: false
  include_inactive_policies: true
  sab_username: coin-test
  sab_password: "{{ pdp_sab_password }}"
  sab_endpoint: https://sab-ng.surfnet.nl/simplesaml/module.php/attributes/server.php

aa:
  eb_username: "eb"
  eb_password: "{{ aa_eb_password }}"
  db_user: aa-serverrw
  db_password: "{{ mysql_passwords.aa_server }}"
  db_host: "{{ mysql_host }}"
  db_name: aaserver
  authz_client_id: "https@//aa.{{base_domain}}"
  authz_resource_server_id: aa
  authz_secret: "{{ aa_authz_client_secret }}"
  idin_client_id: am_aa_client
  idin_secret: "{{ aa_idin_client_secret }}"
  oidc_client_id: "https@//aa.{{base_domain}}"
  oidc_secret: "{{ aa_oidc_client_secret }}"
  orcid_authorization_uri: "https://sandbox.orcid.org/oauth/authorize"
  orcid_client_id: "anonymous"
  orcid_secret: "{{ aa_orcid_password }}"
  access_token_uri: "https://sandbox.orcid.org/oauth/token"
  spring_profiles_active: acc
  sab_username: coin-test
  sab_password: "{{ aa_sab_password }}"
  sab_endpoint: https://sab-ng.surfnet.nl/simplesaml/module.php/attributes/server.php
  surfmarket_url: https://example.org
  surfmarket_username: example@example.org
  surfmarket_password: "{{ aa_surfmarket_password }}"
  sbs_username: sbs_aa
  sbs_password: "{{ aa_sbs_password }}"
  aggregate_cache: 0

oidc:
  environment: test
  issuer: https://oidc.{{ base_domain }}/
  db_user: oidc-serverrw
  db_password: "{{ mysql_passwords.oidc_server }}"
  db_host: "{{ mysql_host }}"
  db_name: oidc-server
  sp_entity_id: https://oidc.{{base_domain}}
  api_user: manage

oidcng:
  issuer: https://oidc.{{ base_domain }}/ 
  mongo_host: "{{ mongo_hostname }}" 
  mongo_port: "{{ mongo_port }}" 
  mongo_user: oidcngrw
  mongo_password: "{{ mongo_passwords.oidcng }}" 
  mongo_database: oidcng
  sp_entity_id: https://oidcng.{{ base_domain }}
  api_user: manage
  key_rollover_cron_expression: "0 0 0 * * *"
  acr_values_supported:
    - http://{{ base_domain }}/assurance/loa1
    - http://{{ base_domain }}/assurance/loa2
    - http://{{ base_domain }}/assurance/loa3

monitoring_tests:
  mujina_idp_entity_id: http://mock-idp
  mujina_sp_base_url: https://mujina-sp.{{ base_domain }}
  person_id: "{{ monitoring_tests_person_id }}"
  user: monitor
  password: "{{ monitoring_tests_password }}"

manage:
  eb_db_user: "{{ engine_database_user }}"
  eb_db_password: "{{ mysql_passwords.eb }}"
  eb_db_name: "{{ engine_database_name }}"
  eb_db_host: "{{ mysql_host }}"
  mongo_port: "{{ mongo_port }}"
  mongo_user: managerw
  mongo_password: "{{ mongo_passwords.manage }}"
  mongo_database: metadata
  backdoor_api_user: backdoor_api_user
  oidcng_name: "OpenConext OIDC-NG"
  oidc_push_enabled: false
  run_migrations: false
  push_after_migration: false
  features: push, validation, push_preview, orphans
  apiUsers:
    - {
        name: "dashboard",
        password: "{{ manage_dashboard_secret }}",
        scopes: ["READ"]
      }
    - {
        name: "pdp",
        password: "{{ manage_pdp_secret }}",
        scopes: ["READ"]
      }
    - {
        name: "sysadmin",
        password: "{{ manage_sysadmin_secret }}",
        scopes: [READ, WRITE, PUSH, SYSTEM]
      }

loadbalancing:
  engine:
    port: 401

  profile:
    port: 402

  static:
    port: 403

  engine_api:
    port: 405

  metadata:
    port: 409

  teams:
    port: 601

  authzserver:
    port: 602

  authz_admin:
    port: 603

  authz_playground:
    port: 604

  oidc_playground:
    port: 619

  voot:
    port: 605

  pdp:
    port: 613

  oidc:
    port: 614

  aa:
    port: 615

  manage:
    port: 617

  mujina_sp:
    port: 607

  mujina_idp:
    port: 608

  welcome:
    port: 609
  
  oidcng:
    port: 620

haproxy_applications:

  - name: engine
    vhost_name: "engine"
    ip: "{{ ansible_default_ipv4 }}"
    ha_method: "GET"
    ha_url: "/health"
    port: "401"
    servers: "{{php_servers}}"

  - name: profile
    vhost_name: "profile"
    ip: "{{ ansible_default_ipv4 }}"
    ha_method: "HEAD"
    ha_url: "/health"
    port: "402"
    servers: "{{php_servers}}"

  - name: static
    vhost_name: "static"
    ip: "{{ ansible_default_ipv4 }}"
    ha_method: "HEAD"
    ha_url: "/media/alive.txt"
    port: "403"
    servers: "{{php_servers}}"

  - name: metadata
    vhost_name: "metadata"
    ip: "{{ ansible_default_ipv4 }}"
    ha_method: "HEAD"
    ha_url: "/alive.txt"
    port: "409"
    servers: "{{php_servers}}"

  - name: engine_api
    vhost_name: "engine-api"
    ip: "{{ ansible_default_ipv4 }}"
    ha_method: "GET"
    ha_url: "/"
    port: "405"
    servers: "{{php_servers}}"

  - name: teams
    vhost_name: "teams"
    ip: "{{ ansible_default_ipv4 }}"
    ha_method: "GET"
    ha_url: "/api/teams/health"
    port: "601"
    servers: "{{java_servers}}"

  - name: authzserver
    vhost_name: "authz"
    ip: "{{ ansible_default_ipv4 }}"
    ha_method: "GET"
    ha_url: "/health"
    port: "602"
    servers: "{{java_servers}}"

  - name: authz_admin
    vhost_name: "authz-admin"
    ip: "{{ ansible_default_ipv4 }}"
    ha_method: "GET"
    ha_url: "/health"
    port: "603"
    servers: "{{java_servers}}"

  - name: authz_playground
    vhost_name: "authz-playground"
    ip: "{{ ansible_default_ipv4 }}"
    ha_method: "GET"
    ha_url: "/health"
    port: "604"
    servers: "{{java_servers}}"

  - name: oidc_playground
    vhost_name: "oidc-playground"
    ip: "{{ ansible_default_ipv4 }}"
    ha_method: "GET"
    ha_url: "/health"
    port: "619"
    servers: "{{java_servers}}"
  
  - name: voot
    vhost_name: "voot"
    ip: "{{ ansible_default_ipv4 }}"
    ha_method: "GET"
    ha_url: "/health"
    port: "605"
    servers: "{{java_servers}}"

  - name: pdp
    vhost_name: "pdp"
    ip: "{{ ansible_default_ipv4 }}"
    ha_method: "GET"
    ha_url: "/pdp/api/health"
    port: "613"
    servers: "{{java_servers}}"

  - name: oidc
    vhost_name: "oidc"
    ip: "{{ ansible_default_ipv4 }}"
    ha_method: "GET"
    ha_url: "/health"
    port: "614"
    servers: "{{java_servers}}"

  - name: aa
    vhost_name: "aa"
    ip: "{{ ansible_default_ipv4 }}"
    ha_method: "GET"
    ha_url: "/aa/api/health"
    port: "615"
    servers: "{{java_servers}}"
  
  - name: link
    vhost_name: "link"
    ip: "{{ ansible_default_ipv4 }}"
    ha_method: "GET"
    ha_url: "/aa/api/health"
    port: "615"
    servers: "{{java_servers}}"

  - name: manage
    vhost_name: "manage"
    ip: "{{ ansible_default_ipv4 }}"
    ha_method: "GET"
    ha_url: "/manage/api/health"
    port: "617"
    servers: "{{java_servers}}"

  - name: mujina-sp
    vhost_name: "mujina-sp"
    ip: "{{ ansible_default_ipv4 }}"
    ha_method: "GET"
    ha_url: "/"
    port: "607"
    servers: "{{java_servers}}"

  - name: mujina-idp
    vhost_name: "mujina-idp"
    ip: "{{ ansible_default_ipv4 }}"
    ha_method: "GET"
    ha_url: "/"
    port: "608"
    servers: "{{java_servers}}"

  - name: welcome
    vhost_name: "welcome"
    ip: "{{ ansible_default_ipv4 }}"
    ha_method: "GET"
    ha_url: "/"
    port: "609"
    servers: "{{php_servers}}"

  - name: oidcng
    vhost_name: "oidcng"
    ip: "{{ ansible_default_ipv4 }}"
    ha_method: "GET"
    ha_url: "/actuator/health"
    port: "620"
    servers: "{{java_servers}}"

haproxy_backend_tls: False

haproxy_sni_ip: "*"
haproxy_sni_ipv6: "::1"

php_servers:
   - { ip: "127.0.0.1", label: "php"}

java_servers:
   - { ip: "127.0.0.1", label: "java"}

iptables_enable: false
dashboard_install: false
