{
  "$schema": "http://json-schema.org/draft-04/schema#",
  "title": "provisioning",
  "order": 5,
  "type": "object",
  "properties": {
    "id": {
      "type": "number"
    },
    "eid": {
      "type": "number"
    },
    "entityid": {
      "type": "string"
    },
    "type": {
      "type": "string",
      "enum": [
        "provisioning"
      ]
    },
    "revisionid": {
      "type": "number"
    },
    "state": {
      "type": "string",
      "enum": [
        "prodaccepted",
        "testaccepted"
      ]
    },
    "created": {
      "type": "string"
    },
    "revisionnote": {
      "type": "string"
    },
    "notes": {
      "type": [
        "string",
        "null"
      ]
    },
    "applications": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "saml20_sp",
              "oidc10_rp"
            ]
          }
        }
      }
    },
    "metaDataFields": {
      "type": "object",
      "properties": {
        "provisioning_type": {
          "type": "string",
          "enum": [
            "scim",
            "eva",
            "graph"
          ],
          "info": "From the pull down, select the type of provisioning."
        },
        "scim_url": {
          "type": "string",
          "format": "url",
          "info": "Enter the URL for the SCIM endpoint"
        },
        "scim_user": {
          "type": "string",
          "info": "The user of the SCIM endpoint."
        },
        "scim_password": {
          "type": "string",
          "info": "The password of the SCIM endpoint."
        },
        "scim_update_role_put_method": {
          "type": "boolean",
          "default": false,
          "info": "If checked then we use the PUT method for Group updates thus sending all information (e.g. all members), otherwise PATCH with only the added or removed member."
        },
        "eva_url": {
          "type": "string",
          "format": "url",
          "info": "Enter the URL for the Eva endpoint"
        },
        "eva_token": {
          "type": "string",
          "info": "The token of the EVA endpoint."
        },
        "eva_guest_account_duration": {
          "type": "number",
          "info": "The number of days the EVA guest account will be valid."
        },
        "graph_url": {
          "type": "string",
          "format": "url",
          "info": "Enter the URL for the Graph endpoint"
        },
        "graph_client_id": {
          "type": "string",
          "info": "The client ID of the Graph endpoint."
        },
        "graph_secret": {
          "type": "string",
          "info": "The secret of the Graph endpoint."
        },
        "graph_tenant": {
          "type": "string",
          "info": "The tenant of the Graph endpoint."
        }
      },
      "patternProperties": {
        "^name:({{ supported_language_codes | replace(',','|') }})$": {
          "type": "string",
          "info": "Set the name of the provisioning group."
        },
        "^description:({{ supported_language_codes | replace(',','|') }})$": {
          "type": "string",
          "info": "The description of the service."
        }
      },
      "required": [
        "provisioning_type",
        "name:en"
      ],
      "additionalProperties": false
    }
  },
  "required": [
    "metaDataFields"
  ],
  "additionalProperties": false,
  "indexes": []
}
