<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OpenConext</title>
  <link rel="stylesheet" href="css/style.min.css" />
</head>
<body>
<div class="wrapper">
  <div style="padding: 40px" class="column-center content-holder app-grid-holder">
    <h1 class="hidden-phone">Welcome to OpenConext</h1>
    <section>
      <p>You have completed the OpenConext setup. Import the <a href="openconext_ca.crt">Certificate Authority</a> into your browser for an optimal Conext-perience.</p>
      <h2>OpenConext Services</h2>
      <ul class="app-grid filters-available lmng-active"
          data-search-placeholder="Search in applications">
          <li class="connected" data-id="1">
          <h2>
            <a href="https://profile.{{ base_domain }}/" target="_blank" >
              Profile
            </a>
          </h2>
          <img src="images/profile-logo.png" alt="" />
          <p class="desc">
            View and edit your profile
          </p>
          <div class="app-meta-cta">
            <a href="https://profile.{{ base_domain }}/" target="_blank" rel="tooltip" title="Go to app">
              <i class="icon-external-link"></i>
            </a>
          </div>
        </li>
        <li class="connected" data-id="1">
          <h2>
            <a href="https://teams.{{ base_domain }}/" target="_blank" >
              Teams
            </a>
          </h2>
          <img src="images/teams-logo.png" alt="" />
          <p class="desc">
            Manage team members
          </p>
          <div class="app-meta-cta">
            <a href="https://teams.{{ base_domain }}/" target="_blank" rel="tooltip" title="Go to app">
              <i class="icon-external-link"></i>
            </a>
          </div>
        </li>
      </ul>
      
      <h2>OpenConext Administration</h2>
      <ul class="app-grid filters-available lmng-active"
          data-search-placeholder="Search in applications">
        <li class="connected" data-id="1">
          <h2>
            <a href="https://serviceregistry.{{ base_domain }}/simplesaml/module.php/janus/index.php" target="_blank" >
              Service Registry
            </a>
          </h2>
          <img src="images/sr-logo.png" alt="" />
          <p class="desc">
            Manage SPs and IdPs
          </p>
          <div class="app-meta-cta">
            <a href="https://serviceregistry.{{ base_domain }}/simplesaml/module.php/janus/index.php" target="_blank" rel="tooltip" title="Go to app">
              <i class="icon-external-link"></i>
            </a>
          </div>
        </li>

        <li class="connected" data-id="1">
          <h2>
            <a href="https://authz-admin.{{ base_domain }}" target="_blank" >
              Authorization server Admin
            </a>
          </h2>
          <img src="images/oauth-2-sm.png" alt="" />
          <p class="desc">
            Authorization server
          </p>
          <div class="app-meta-cta">
            <a href="https://authz-admin.{{ base_domain }}" target="_blank" rel="tooltip" title="Go to app">
              <i class="icon-external-link"></i>
            </a>
          </div>
        </li>

        <li class="connected" data-id="1">
          <h2>
            <a href="https://engine.{{ base_domain }}" target="_blank" >
              OpenConext EngineBlock
            </a>
          </h2>
          <img src="images/engine-block-logo.jpg" alt="" />
          <p class="desc">
            OpenConext EngineBlock
          </p>
          <div class="app-meta-cta">
            <a href="https://engine.{{ base_domain }}" target="_blank" rel="tooltip" title="Go to app">
              <i class="icon-external-link"></i>
            </a>
          </div>
        </li>
  	<li class="connected" data-id="1">
          <h2>
            <a href="https://oidc.{{ base_domain }}" target="_blank" >
              OpenConext OIDC
            </a>
          </h2>
          <img src="images/openid_connect-logo.png" alt="" />
          <p class="desc">
            OpenConext OIDC
          </p>
          <div class="app-meta-cta">
            <a href="https://oidc.{{ base_domain }}" target="_blank" rel="tooltip" title="Go to app">
              <i class="icon-external-link"></i>
            </a>
          </div>
        </li>

      </ul>
      
      <h2>OpenConext Utilities</h2>
      <ul class="app-grid filters-available lmng-active"
          data-search-placeholder="Search in applications">
        <li class="connected" data-id="1">
          <h2>
            <a href="https://mujina-sp.{{ base_domain }}/user.jsp" target="_blank" >
              Mujina SP
            </a>
          </h2>
          <img src="images/mujina-logo.jpg" alt="" />
          <p class="desc">
            Mujina Service Provider
          </p>
          <div class="app-meta-cta">
            <a href="https://mujina-sp.{{ base_domain }}/user.jsp" target="_blank" rel="tooltip" title="Go to app">
              <i class="icon-external-link"></i>
            </a>
          </div>
        </li>

        <li class="connected" data-id="1">
          <h2>
            <a href="https://mujina-idp.{{ base_domain }}/user.jsp" target="_blank" >
              Mujina IdP
            </a>
          </h2>
          <img src="images/mujina-logo.jpg" alt="" />
          <p class="desc">
            Mujina Identity Provider
          </p>
          <div class="app-meta-cta">
            <a href="https://mujina-idp.{{ base_domain }}/user.jsp" target="_blank" rel="tooltip" title="Go to app">
              <i class="icon-external-link"></i>
            </a>
          </div>
        </li>

        <li class="connected" data-id="1">
          <h2>
            <a href="https://authz-playground.{{ base_domain }}" target="_blank" >
              OAuth2 playground
            </a>
          </h2>
          <img src="images/api-logo.png" alt="" />
          <p class="desc">
            Test the VOOT group API
          </p>
          <div class="app-meta-cta">
            <a href="https://api.{{ base_domain }}/v1/test" target="_blank" rel="tooltip" title="Go to app">
              <i class="icon-external-link"></i>
            </a>
          </div>
        </li>
      </ul>
    </section>
  </div>

</div>

<footer class="footer">
  <div class="content-some-dense">
    OpenConext | <a href="https://www.openconext.org/about/mailing-lists">OpenConext Community mailing list</a>
  </div>
</footer>
<script src="js/tools/sizewatcher.js"></script>
</body>
</html>
