logging.config=file://{{ authz_server_dir }}/logback.xml

spring.datasource.url=jdbc:mysql://{{ authzserver.db_host }}/{{ authzserver.db_name }}
spring.datasource.username={{ authzserver.db_user }}
spring.datasource.password={{ authzserver.db_password | vault }}

server.port={{ springapp_tcpport }}
