# 6 months
oauthServer.accessTokenValiditySeconds = 15552000

# 13 months
oauthServer.refreshTokenValiditySeconds = 202176000

# approval must last as long as the refresh token (13 months)
oauthServer.approvalExpirySeconds = 202176000

confirmPage.logoUrl=/images/openconext_logo.png

# This should be 'SurfConext' when deployed by SURF.
confirmPage.appName=OpenConext VM

# see for all options: http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
spring.thymeleaf.mode=HTML5

logging.config=file://{{ authz_server_dir }}/logback.xml

spring.datasource.url=jdbc:mysql://{{ authzserver.db_host }}/{{ authzserver.db_name }}
spring.datasource.username={{ authzserver.db_user }}
spring.datasource.password={{ authzserver.db_password | vault(env) }}

server.port={{ springapp_tcpport }}
