Listen {{ apache_app_listen_address.authzserver }}:10{{ loadbalancing.authzserver.port }}
<VirtualHost {{ apache_app_listen_address.authzserver }}:10{{ loadbalancing.authzserver.port }}>
    ServerName authz.{{ base_domain }}:443

    ErrorLog logs/authz_ssl_error_log
    TransferLog logs/authz_ssl_access_log
    LogLevel warn

    ProxyPass /Shibboleth.sso !
    ProxyPass / http://localhost:{{ springapp_tcpport }}/ retry=0

    # Allow non-saml access for machine clients.
    <Location ~ "/oauth/(check_token|token)">
      allow from all
      satisfy any
    </Location>

    # Enable shibboleth for all other URLs, but the health check
    <Location ~ "/health">
      allow from all
      satisfy any
    </Location>


    # Enable shibboleth for all other URLs
    <Location />
      ShibRequestSetting applicationId authz
      AuthType shibboleth
      ShibRequireSession On
      require valid-user
      ShibUseHeaders On
    </Location>


</VirtualHost>
