Listen {{ apache_app_listen_address.authzserver }}:{{ loadbalancing.authzserver.port }}
<VirtualHost {{ apache_app_listen_address.authzserver }}:{{ loadbalancing.authzserver.port }}>
    ServerName https://authz.{{ base_domain }}

    ErrorLog "|/usr/bin/logger -p local3.err  -t 'Apache-Authz-Server'"
    CustomLog "|/usr/bin/logger -p local3.info  -t 'Apache-Authz-Server'" combined

    ProxyPass /Shibboleth.sso !
    ProxyPass / http://localhost:{{ springapp_tcpport }}/ retry=0

    # Allow non-saml access for machine clients.
    <Location ~ "/oauth/(check_token|token)">
      allow from all
      satisfy any
    </Location>

    # Enable shibboleth for all other URLs, but the health check and info page
    <Location ~ "/(health|info)">
      allow from all
      satisfy any
    </Location>


    # Enable shibboleth for all other URLs
    <Location />
      ShibRequestSetting applicationId authz
      AuthType shibboleth
      ShibRequireSession On
      require valid-user
      ShibUseHeaders On
    </Location>


</VirtualHost>
