parameters:
    help_url:
        en: '{{ profile_support_url_help_en }}'
        nl: '{{ profile_support_url_help_nl }}'
        pt: '{{ profile_support_url_help_pt }}'
    privacy_url:
        en: '{{ profile_support_url_privacy_en }}'
        nl: '{{ profile_support_url_privacy_nl }}'
        pt: '{{ profile_support_url_privacy_pt }}'
    terms_of_service_url:
        en: '{{ profile_support_url_terms_en }}'
        nl: '{{ profile_support_url_terms_nl }}'
        pt: '{{ profile_support_url_terms_pt }}'
    platform_url:
        en: '{{ profile_platform_url_en }}'
        nl: '{{ profile_platform_url_nl }}'
        pt: '{{ profile_platform_url_pt }}'
    profile_explanation_image_path:
        en: build/images/profile_home_en.png
        nl: build/images/profile_home_nl.png
        pt: build/images/profile_home_pt.png
    attribute_information_url:
        en: '{{ profile_support_url_attributes_en }}'
        nl: '{{ profile_support_url_attributes_nl }}'
        pt: '{{ profile_support_url_attributes_pt }}'

