; General PHP settings for all OpenConext hosts

; disable onzinnige 'X-Powered-By' HTTP header
expose_php = Off

; more secure
session.cookie_httponly = On
session.cookie_secure = On
session.hash_function = 1
session.hash_bits_per_character = 6

; You are required to use the date.timezone setting
date.timezone = "{{ timezone }}"

; Disable unused php functions
disable_functions = exec,passthru,shell_exec,system,popen,curl_multi_exec,show_source,pcntl_alarm,pcntl_fork,pcntl_waitpid,pcntl_wait,pcntl_wifexited,pcntl_wifstopped,pcntl_wifsignaled,pcntl_wifcontinued,pcntl_wexitstatus,pcntl_wtermsig,pcntl_wstopsig,pcntl_signal,pcntl_signal_dispatch,pcntl_get_last_error,pcntl_strerror,pcntl_sigprocmask,pcntl_sigwaitinfo,pcntl_sigtimedwait,pcntl_exec,pcntl_getpriority,pcntl_setpriority,
