---
- name: Add group engine
  ansible.builtin.group:
    name: "engine"
    state: present
  register: engine_guid

- name: Add user engine
  ansible.builtin.user:
    name: "engine"
    group: "engine"
    createhome: false
    state: present
  register: engine_uid

- name: Create some dirs
  ansible.builtin.file:
    state: directory
    dest: "{{ item }}"
    owner: root
    group: root
    mode: "0755"
  with_items:
    - "{{ _engine_config_dir }}"
    - "{{ _engine_config_dir }}/certs"
    - "{{ _engine_config_dir }}/configs"
    - "{{ _engine_config_dir }}/images"
    - "{{ _engine_config_dir }}/languages"

- name: Place parameters.yml
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "{{ _engine_config_dir }}/configs/{{ item }}"
    mode: "0640"
    owner: "root"
    group: "engine"
  with_items:
    - "parameters.yml"
    - "monolog.yml"
  notify: "Restart engine"

- name: Check presence of environment specific attributes.json
  ansible.builtin.stat:
    path: "{{ inventory_dir }}/files/eb/attributes.json"
  register: engine_attributes_json_present
  become: false
  delegate_to: localhost

- name: Copy environment specific attributes.json
  ansible.builtin.copy:
    src: "{{ inventory_dir }}/files/eb/attributes.json"
    dest: "{{ _engine_config_dir }}/configs/"
    mode: "0644"
    owner: root
    group: engine
  when: engine_attributes_json_present.stat.exists

- name: Check presence of language specific overrides
  ansible.builtin.stat:
    path: "{{ inventory_dir }}/files/eb/languages/"
  register: engine_overrides_present
  become: false
  delegate_to: localhost

- name: Copy language specific overrides
  ansible.builtin.template:
    src: "{{ item }}"
    dest: "{{ _engine_config_dir }}/languages/"
    owner: root
    group: engine
    mode: "0644"
  when: engine_overrides_present.stat.exists
  with_fileglob:
    - "{{ inventory_dir }}/files/eb/languages/*"
  notify: "Restart engine"

- name: Check if we have a custom logo
  ansible.builtin.stat:
    path: "{{ inventory_dir }}/files/logo.png"
  register: engine_customlogo
  become: false
  delegate_to: localhost

- name: Install environment specific logo
  ansible.builtin.copy:
    src: "{{ inventory_dir }}/files/logo.png"
    dest: "{{ _engine_config_dir }}/images/"
    owner: root
    group: engine
    mode: "0644"
  when: engine_customlogo.stat.exists

- name: Check if we have a custom favicon
  ansible.builtin.stat:
    path: "{{ inventory_dir }}/files/favicon.ico"
  register: engine_customfavicon
  become: false
  delegate_to: localhost

- name: Install environment specific favicon
  ansible.builtin.copy:
    src: "{{ inventory_dir }}/files/favicon.ico"
    dest: "/opt/openconext/common/"
    owner: root
    group: root
    mode: "0644"
  when: engine_customfavicon.stat.exists

- name: Check if we have a custom background back image for the feedback page
  ansible.builtin.stat:
    path: "{{ inventory_dir }}/files/eb/background-back.svg"
  register: engine_customfeedbackbackground
  become: false
  delegate_to: localhost

- name: Install environment specific background back image
  ansible.builtin.copy:
    src: "{{ inventory_dir }}/files/eb/background-back.svg"
    dest: "{{ _engine_config_dir }}/images/"
    owner: root
    group: engine
    mode: "0644"
  when: engine_customfeedbackbackground.stat.exists

- name: Check if we have a custom background front image for the feedback page
  ansible.builtin.stat:
    path: "{{ inventory_dir }}/files/eb/background-front.svg"
  register: engine_customfeedbackforeground
  become: false
  delegate_to: localhost

- name: Install environment specific background front image
  ansible.builtin.copy:
    src: "{{ inventory_dir }}/files/eb/background-front.svg"
    dest: "{{ _engine_config_dir }}/images/"
    owner: root
    group: engine
    mode: "0644"
  when: engine_customfeedbackforeground.stat.exists

- name: Check if we have a Stepup GW certificate
  ansible.builtin.stat:
    path: "{{ inventory_dir }}/files/certs/stepup_gateway.pem"
  register: engine_stepupgwcert
  become: false
  delegate_to: localhost

- name: Install Stepup GW certificate
  ansible.builtin.copy:
    src: "{{ inventory_dir }}/files/certs/stepup_gateway.pem"
    dest: "{{ _engine_config_dir }}/certs/"
    owner: root
    group: engine
    mode: "0644"
  when: engine_stepupgwcert.stat.exists

- name: Copy over the engineblock keys
  ansible.builtin.copy:
    content: "{{ item.private_key }}"
    dest: "{{ _engine_config_dir }}/certs/{{ item.name }}.key"
    owner: root
    group: engine
    mode: "0440"
  no_log: true
  loop: "{{ engine_key_and_certs }}"

- name: Copy engineblock certificates to correct location
  ansible.builtin.copy:
    src: "{{ inventory_dir }}/files/certs/{{ item.crt_name }}"
    dest: "{{ _engine_config_dir }}/certs/{{ item.name }}.crt"
    owner: root
    group: engine
    mode: "0644"
  no_log: true
  loop: "{{ engine_key_and_certs }}"

- name: Create Docker volume to contain the sessions
  community.docker.docker_volume:
    name: engineblock_sessions
    state: present

- name: Add the MariaDB docker network to the list of networks when MariaDB runs in Docker
  ansible.builtin.set_fact:
    engine_docker_networks:
      - name: loadbalancer
      - name: openconext_mariadb
  when: mariadb_in_docker | default(false) | bool

- name: Create the container
  community.docker.docker_container:
    name: "engineblock"
    image: ghcr.io/openconext/openconext-engineblock/openconext-engineblock:{{ engine_version }}
    pull: true
    restart_policy: "always"
    networks: "{{ engine_docker_networks }}"
    labels:
      traefik.http.routers.engine.rule: "Host(`engine.{{ base_domain }}`)"
      traefik.http.routers.engine.service: "engineblock"
      traefik.http.routers.engine.tls: "true"
      traefik.http.routers.engineapi.rule: "Host(`engine-api.{{ base_domain }}`)"
      traefik.http.routers.engineapi.service: "engineblock"
      traefik.http.routers.engineapi.tls: "true"
      traefik.enable: "true"
    env:
      APACHE_UID: "#{{ engine_uid.uid }}"
      APACHE_GUID: "#{{ engine_guid.gid }}"
      TZ: "{{ timezone }}"
      PHP_MEMORY_LIMIT: "{{ engine_php_memory }}"
      APP_ENV: "prod"
      APP_SECRET: "{{ engine_parameters_secret }}"
      APP_DEBUG: "{{ engine_debug | bool | int }}"
    etc_hosts:
      host.docker.internal: host-gateway
    mounts:
      - source: "{{ _engine_config_dir }}/configs/parameters.yml"
        target: "/var/www/html/config/packages/prod/parameters.yml"
        type: bind
        read_only: true
      - source: "{{ _engine_config_dir }}/languages/overrides.en.php"
        target: "/var/www/html/languages/overrides.en.php"
        type: bind
        read_only: true
      - source: "{{ _engine_config_dir }}/languages/overrides.nl.php"
        target: "/var/www/html/languages/overrides.nl.php"
        type: bind
        read_only: true
      - source: "{{ _engine_config_dir }}/configs/attributes.json"
        target: "/var/www/html/config/packages/prod/attributes.json"
        type: bind
        read_only: true
      - source: "{{ _engine_config_dir }}/images/background-back.svg"
        target: "/var/www/html/web/images/background-back.svg"
        type: bind
        read_only: true
      - source: "{{ _engine_config_dir }}/images/background-front.svg"
        target: "/var/www/html/web/images/background-front.svg"
        type: bind
        read_only: true
      - source: "{{ _engine_config_dir }}/images/logo.png"
        target: "/var/www/html/web/images/logo.png"
        type: bind
        read_only: true
      - source: "{{ _engine_config_dir }}/certs/"
        target: "/var/www/html/certs/"
        type: bind
        read_only: true
      - source: "/opt/openconext/common/favicon.ico"
        target: "/var/www/html/web/favicon.ico"
        type: bind
        read_only: true
      - source: "engineblock_sessions"
        target: "/tmp/"
        type: volume
    healthcheck:
      test: ["CMD-SHELL", "curl --fail -s http://localhost/internal/health | grep -q '\"status\":\"UP\"'"]
      start_period: 60s
      interval: 10s
      timeout: 1s
      retries: 20
  register: "engine_container"
