---
- name: Install
  yum: name=haproxy.x86_64 state=present

- name: Install socat
  yum: name=socat state=present

- name: enable service
  service: name=haproxy enabled=yes
  notify:
    - restart haproxy

- name: Copy config
  template: src=haproxy.cfg.j2 dest=/etc/haproxy/haproxy.cfg
  notify: reload haproxy

- name: start
  service: name=haproxy state=started
