parameters:
{% if 'docker' in group_names %}
    app_env: prod
    app_debug: false
    app_secret: {{ azuremfa_secret }}
{% endif %}
    # All locales supported by the application
    locales: [{{ enabled_locales | join(",") }}]

    # SAML configuration
    saml_idp_publickey: '{{ current_release_config_file_dir_name_in_config }}/cert.pem'
    saml_idp_privatekey: '{{ current_release_config_file_dir_name_in_config }}/key.pem'
    # NOTE: same key used for metadata and response/assertion signing
    saml_metadata_publickey: '{{ current_release_config_file_dir_name_in_config }}/cert.pem'
    saml_metadata_privatekey: '{{ current_release_config_file_dir_name_in_config }}/key.pem'

    saml_remote_sp_entity_id: 'https://{{ gateway_vhost_name }}/gssp/azuremfa/metadata'
    saml_remote_sp_certificate: '{{ current_release_config_file_dir_name_in_config }}/gateway.crt'
    saml_remote_sp_acs: 'https://{{ gateway_vhost_name }}/gssp/azuremfa/consume-assertion'

    # View parameters
    support_url:
{% for locale, url in azuremfa_support_url.items() %}
        {{ locale }}: "{{ url | replace('%', '%%') }}"
{% endfor %}

    support_email: support@surfconext.nl

    # Authentication issuers matching this regex will send ForceAuthn to the Azure MFA. The at sign is used as a
    # delimiter, be sure to escape the first sign as Symfony would see it as a reference to a service.
    ra_issuer_entity_id_regex: '@@^https://(?:[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?\.)+[a-z0-9][a-z0-9-]{0,61}[a-z0-9]/vetting-procedure/gssf/azuremfa/metadata$@'

    # Metadata cache settings
    federation_metadata_cache_location : '{{ current_release_config_file_dir_name_in_config }}/federation-metadata'
