- name: install rsyslog
  package:
    name:
      - rsyslog
      - rsyslog-gnutls
      - rsyslog-relp
    state: present
  notify:
  - "restart rsyslog"

- name: Create the pki directory if it does not exist
  file:
    path: /etc/pki/rsyslog
    state: directory
    owner: root
    group: root
    mode: 0755

# We need a key and client certificate to when using RELP
- name: put rsyslog client key
  copy:
    content: "{{ rsyslogclientkey }}"
    dest: "/etc/pki/rsyslog/rsyslogclient.key"
    mode: 0400
    owner: root
  when: 
    - rsyslog_remote_server_relp is defined
  no_log: true
  notify:
    - "restart rsyslog"

- name: put rsyslog client certificate
  copy:
    src: "{{ inventory_dir }}/files/certs/rsyslog/rsyslogclient.crt"
    dest: "/etc/pki/rsyslog/rsyslogclient.crt"
    mode: 0744
    owner: root
    group: adm
  when: 
    - rsyslog_remote_server_relp is defined
  notify:
    - "restart rsyslog"

- name: put rsyslog CA file (new location) 
  copy: 
    src: "{{ inventory_dir }}/files/certs/rsyslog/rsyslogclientca.crt"
    dest: "/etc/pki/rsyslog/rsyslogclientca.crt"
    mode: 0744
    owner: root
    group: adm
  when: 
    - rsyslog_remote_server_relp is defined

- name: put ryslog config file
  template:
    src: "rsyslog.conf.j2"
    dest: "/etc/rsyslog.conf"
  when: 
  notify:
    - "restart rsyslog"
  when: ansible_os_family == 'RedHat'

- name: put ryslog config file
  template:
    src: "rsyslog_onlyforward.conf.j2"
    dest: "/etc/rsyslog.conf"
  notify:
    - "restart rsyslog"
  when: ansible_os_family == 'Debian'

- name: include tasks for central syslog server
  include_tasks: rsyslog_central.yml
  when:  "'sysloghost' in group_names"

- name: Include tasks for authentication log processing 
  include_tasks: process_auth_logs.yml
  when: "'auth_processor' in group_names"
