---
# The server uses a different set of keys as the client
- name: put rsyslog server key
  copy:
    content: "{{ rsyslogserverkey }}" 
    dest: "/etc/pki/rsyslog/rsyslogserver.key"
    mode: 0400
    owner: root

- name: Create the group that is allowed to read the logs
  group: 
    name: "{{ rsyslog_read_group }}"
    state: present

- name: Create directory to save the logs
  file:
    path: "{{rsyslog_dir }}"
    owner: root
    group: "{{ rsyslog_read_group }}"
    mode: "0750"
    recurse: true

- name: put rsyslog client certificate
  copy:
    src: "{{ inventory_dir }}/files/certs/rsyslog/rsyslogserver.crt"
    dest: "/etc/pki/rsyslog/rsyslogserver.crt"
    mode: 0644
    owner: root
    group: adm

- name: place rsyslog CA file
  copy:
    src: "{{ inventory_dir }}/files/certs/rsyslog_ca.pem"
    dest: "{{ rsyslog_ca }}" 
    mode: 0644

- name: Create directories to keep configuration file
  file:
    path: "/etc/rsyslog.d/{{ item }}"
    owner: root
    mode: 0755
    state: directory
  with_items:
    - listeners
    - rulesets
    - templates

- name: Create template configurations
  template:
    src: sc_template.conf.j2
    dest: /etc/rsyslog.d/templates/{{ item.name }}.conf
    backup: true
  with_items: "{{ rsyslog_environments }}"
  notify:
    - "restart rsyslog"

- name: Create ruleset configurations
  template:
    src: sc_ruleset.conf.j2
    dest: /etc/rsyslog.d/rulesets/{{ item.name }}.conf
    backup: true
  with_items: "{{ rsyslog_environments }}"
  notify:
    - "restart rsyslog"

- name: Create sc listener configurations
  template:
    src: listener.conf.j2
    dest: /etc/rsyslog.d/listeners/{{ item.name }}.conf
    backup: true
  with_items: "{{ rsyslog_environments }}"
  notify:
    - "restart rsyslog"

- name: Create logrotate file for apps and host logs
  template:
    src: centralsyslog.j2
    dest: /etc/logrotate.d/centralsyslog

- name: put ryslog config file
  template:
    src: "rsyslog.conf.j2"
    dest: "/etc/rsyslog.conf"
  notify:
    - "restart rsyslog"

- name: put log empty warn script and cronjob
  when: rsyslog_enable_warn_empty_script
  block:
    - name: put log empty script
      ansible.builtin.template:
        src: warn-empty-log.sh.j2
        dest: "{{ rsyslog_checkemptylogs_dir }}/warn-empty-log.sh"
    - name: create cronjob
      ansible.builtin.cron:
        name: "check empty logs"
        minute: "{{ rsyslog_checkemptylogs_cron_minute }}"
        hour: "{{ rsyslog_checkemptylogs_cron_hour }}"
        weekday: "{{ rsyslog_checkemptylogs_cron_weekdays }}"
        job: "{{ rsyslog_checkemptylogs_dir }}/warn-empty-log.sh -m"
