{% if apache_app_listen_address.stats is defined %}
Listen {{ apache_app_listen_address.stats }}:{{ loadbalancing.stats.port }}
<Virtualhost {{ apache_app_listen_address.stats }}:{{ loadbalancing.stats.port }}> 
{% else %}
<Virtualhost *:443 >
{% endif %}

    ServerName https://stats.{{ base_domain }}
    DocumentRoot {{ stats_api_env_dir }}/www/
    ErrorLog "|/usr/bin/logger -p local3.err  -t 'Apache-STATS'"
    CustomLog "|/usr/bin/logger -p local3.info  -t 'Apache-STATS'" combined

    WSGIDaemonProcess server user={{ stats_wsgi_user }} group={{ stats_wsgi_user }} threads=5 python-home={{ stats_api_env_dir }}  
    WSGIScriptAlias /health {{ stats_api_env_dir }}/stats-api.wsgi/health
    WSGIScriptAlias /api {{ stats_api_env_dir }}/stats-api.wsgi/api
    WSGIPassAuthorization On
    <Directory {{ stats_api_env_dir }}>
        WSGIProcessGroup server
        WSGIApplicationGroup %{GLOBAL}
        Require all granted
    </Directory>
</VirtualHost>
