ServerName https://stats.{{ base_domain }}
ServerAdmin {{ admin_email }}

DocumentRoot /var/www/html/public

RewriteEngine on

RewriteCond %{REQUEST_URI} !\.(js|css)(\.map)?$
RewriteCond %{REQUEST_URI} !\.svg$
RewriteCond %{REQUEST_URI} !\.png$
RewriteCond %{REQUEST_URI} !\.ico$
RewriteCond %{REQUEST_URI} !\.woff$
RewriteCond %{REQUEST_URI} !\.woff2$
RewriteCond %{REQUEST_URI} !\.ttf$
RewriteCond %{REQUEST_URI} !\.eot$
RewriteCond %{REQUEST_URI} !^/(asset-)?manifest.json$
RewriteCond %{REQUEST_URI} !^/api/
RewriteCond %{REQUEST_URI} !^/health
RewriteCond %{REQUEST_URI} !^/version
RewriteCond %{REQUEST_URI} !^/info
RewriteCond %{REQUEST_URI} !^/fonts
RewriteRule (.*) /index.html [L]

ProxyPass /health http://statsserver:80/health
ProxyPass /info http://statsserver:80/info
ProxyPass /version http://statsserver:80/version
ProxyPass /api http://statsserver:80/api





RequestHeader set X-Forwarded-Port 443 early

OIDCClaimPrefix OIDC-CLAIM-
OIDCProviderMetadataURL {{ stats_oidc_metadata_url }}
OIDCClientID {{ stats_oidc_client_id }}
OIDCClientSecret {{ stats_oidc_client_secret }}
OIDCCryptoPassphrase {{ stats_oidc_crypto_pass }}
OIDCRedirectURI https://{{ stats_base_domain }}/redirect
OIDCXForwardedHeaders X-Forwarded-Proto

<Location />
    OIDCUnAuthAction pass
    AuthType openid-connect
    Require valid-user
</Location>

<Location /login>
  OIDCUnAuthAction auth
  AuthType openid-connect
  Require valid-user
</Location>

Header always set X-Frame-Options "DENY"
Header always set Referrer-Policy "same-origin"
Header always set X-Content-Type-Options "nosniff"
