- name: Include docker vars
  ansible.builtin.include_vars: docker.yml

- name: Add group {{ appname }}
  ansible.builtin.group:
    name: "{{ appname }}"
    state: present
  register: azuremfa_guid

- name: Add user {{ appname }}
  ansible.builtin.user:
    name: "{{ appname }}"
    group: "{{ appname }}"
    createhome: no
    state: present
  register: azuremfa_uid

- name: Create some dirs
  ansible.builtin.file:
    state: directory
    dest: "{{ item }}"
    owner: root
    group: root
    mode: "0755"
  with_items:
    - "{{ current_release_config_dir_name }}"
    - "{{ current_release_appdir }}/public/images"

- name: Create federation-metadata cache dir
  ansible.builtin.file:
    state: directory
    dest: "{{ item }}"
    owner: "{{ appname }}"
    group: root
    mode: "0755"
  with_items:
    - "{{ current_release_appdir }}/federation-metadata"

- name: Install images
  ansible.builtin.include_role:
    name: stepupapp
    tasks_from: copyimages

- name: Install the GSSP certificates
  ansible.builtin.include_role:
    name: stepupapp
    tasks_from: copygsspidpcerts

- name: Place parameters.yml
  ansible.builtin.template:
    src: parameters.yaml.j2
    dest: "{{ current_release_config_dir_name }}/parameters.yaml"
    mode: "0640"
    owner: root
    group: "{{ appname }}"
  notify: restart azuremfa

- name: Put institutions.yaml from environment
  ansible.builtin.template:
    src: "{{ inventory_dir }}/files/stepup-azuremfa/institutions.yaml.j2"
    dest: "{{ current_release_config_dir_name }}/institutions.yaml"
    mode: "0640"
    owner: root
    group: "{{ appname }}"
  notify: restart azuremfa

- name: Create the container
  community.docker.docker_container:
    name: "{{ appname }}"
    image: ghcr.io/openconext/stepup-azuremfa/stepup-azuremfa:{{ azuremfa_version }}
    pull: true
    restart_policy: "always"
    networks:
      - name: "loadbalancer"
    labels:
      traefik.http.routers.azuremfa.rule: "Host(`azuremfa.{{ base_domain }}`)"
      traefik.http.routers.azuremfa.tls: "true"
      traefik.enable: "true"
    env:
      APACHE_UID: "#{{ azuremfa_uid.uid }}"
      APACHE_GUID: "#{{ azuremfa_guid.gid }}"
    mounts:
      - source: "{{ current_release_appdir }}/public/images/header-logo.png"
        target: /var/www/html/public/build/images/header-logo.png
        type: bind
      - source: "{{ current_release_appdir }}"
        target: /var/www/html/config/openconext
        type: bind
      - source: "{{ current_release_appdir }}/federation-metadata"
        target: /var/www/html/federation-metadata
        type: bind
  register: azuremfacontainer
