logging:
  config: file://{{ myconext_dir }}/logback.xml
  level:
    org.springframework.data.mongodb: INFO
    org.springframework.data.convert: INFO
    org.springframework.security: INFO

server:
  # The port to where this Spring Boot application listens to.
  port: {{ springapp_tcpport }}
  error:
    path: "/error"
  server-header:
  servlet:
    # We serve from the root. Do not change this
    context-path:
    session:
      timeout: 28800
      cookie:
        secure: true
    max-http-header-size: 20000

springdoc:
  pathsToMatch: "/mobile/**"
  api-docs:
    path: "/myconext/api/mobile/api-docs"
  swagger-ui:
    path: "/myconext/api/mobile/api-ui.html"
    operationsSorter: method

email:
  from: eduID <noreply@{{ myconext_base_domain }}>
  magic-link-url: https://login.{{ myconext_base_domain }}/saml/guest-idp/magic
  my-surfconext-url: https://mijn.{{ myconext_base_domain }}
  idp-surfconext-url: https://login.{{ myconext_base_domain }}

schac_home_organization: eduid.nl

cron:
  node-cron-job-responsible: {{ myconext_cronjobmaster }}
  token-cleaner-expression: "0 0/15 * * * *"
  service-name-resolver-initial-delay-milliseconds: 120_000
  service-name-resolver-fixed-rate-milliseconds: 43_200_000
  metadata-resolver-initial-delay-milliseconds: 1
  metadata-resolver-fixed-rate-milliseconds: 86_400_000
  metadata-resolver-url: "https://metadata.surfconext.nl/idps-metadata.xml"

manage:
  username: myconext
  password: "{{ manage_myconext_secret }}"
  base_url: "https://manage.{{ base_domain }}"
  enabled: True
  # Can also be a https url
  fallback_url: "classpath:metadata/sp-names.json"

base_domain: {{ myconext_base_domain }}
saml_metadata_base_path: https://login.{{ myconext_base_domain }}
base_path: https://mijn.{{ myconext_base_domain }}
continue_after_login_url: https://login.{{ myconext_base_domain }}/saml/guest-idp/continue
idp_redirect_url: https://login.{{ myconext_base_domain }}
rp_id: login.{{ myconext_base_domain }}
rp_origin: https://login.{{ myconext_base_domain }}
sp_redirect_url: https://mijn.{{ myconext_base_domain }}
sp_entity_id: {{ myconext.sp_entity_id }}
sp_entity_metadata_url: {{ myconext.sp_entity_metadata_url }}
onegini_entity_id: {{ myconext_onegini_entity_id }}
guest_idp_entity_id: https://login.{{ myconext_base_domain }}
my_conext_url: https://mijn.{{ myconext_base_domain }}
domain: {{ myconext_base_domain }}
mijn_eduid_entity_id: https://mijn.{{ myconext_base_domain }}/shibboleth
mobile_app_redirect: eduid:///client/mobile
# For this RP we nudge the user to use the magic link
mobile_app_rp_entity_id: {{ myconext.mobile_app_rp_entity_id }}

feature:
  webauthn: {{ myconext.feature_webauthn }}
  warning_educational_email_domain: {{ myconext.feature_warning_educational_email_domain }}
  connections: {{ myconext.feature_show_connections }}
  # Do we allow the account linking to take place with the accounting IdP, e.g. add extra button in IdP link screen
  use_external_validation: {{ myconext.feature_use_external_validation }}
  # Do we deny emails that are known Disposable Email Providers
  deny_disposable_email_providers: {{ myconext.feature_deny_disposable_email_providers }}
  use_deny_allow_list:
    allow_enabled: {{ myconext.feature_allowlist }}
    allow_location: "classpath:/deny-allow/allowed.json"
  # Do we allow the create-from-institution flow
  create_eduid_institution_enabled: {{ myconext.feature_create_eduid_institution_enabled }}
  # Do we show the landing page for the create-from-institution flow
  create_eduid_institution_landing: {{ myconext.feature_create_eduid_institution_landing }}
  # Do we default remember the user for a longer period
  default_remember_me: True


secure_cookie: true
idp_entity_id: https://login.{{ myconext_base_domain }}
private_key_path: file://{{ myconext_dir }}/myconext_saml.key
certificate_path: file://{{ myconext_dir }}/myconext_saml.crt

remember_me_max_age_seconds: 15_768_000
sso_mfa_duration_seconds: 3600
nudge_eduid_app_days: {{ myconext.nudge_eduid_app_days }}
remember_me_question_asked_days: {{ myconext.remember_me_question_asked_days }}
email_guessing_sleep_millis: 500
email_spam_threshold_seconds: 15

sms:
  url: "{{ myconext.sms_api_url}}"
  bearer: "{{ myconext_sms_bearer }}"

tiqr_configuration: "file://{{ myconext_dir }}/tiqr.configuration.yml"


attribute_aggregation:
  user: aa
  password:  {{ myconext_api_attribute_aggregation_password }}

attribute_manipulation:
  user: oidcng
  password:  {{ myconext_api_attribute_manipulation_password }}

oidc-token-api:
  token-url: https://connect.{{ base_domain }}/tokens
  user: eduid
  password: {{ oidcng_api_tokens_eduid_password }}
  enabled: {{ oidcng.token_api_enabled }}

oidc:
  client-id: {{ myconext.rp_client_id }}
  secret: {{ myconext_client_secret }}
  idp-flow-redirect-url: https://login.{{ myconext_base_domain }}/myconext/api/idp/oidc/redirect
  sp-flow-redirect-url: https://mijn.{{ myconext_base_domain }}/myconext/api/sp/oidc/redirect
  mobile-flow-redirect-url: https://login.{{ myconext_base_domain }}/myconext/api/mobile/oidc/redirect

  sp-create-from-institution-redirect-url: https://mijn.{{ myconext_base_domain }}/myconext/api/sp/create-from-institution/oidc-redirect
  base-url: https://connect.{{ base_domain }}

linked_accounts:
  # The duration that non validated-name linked accounts are valid - note that they are not removed and will still be used for EPPN Pseudonymisation
  expiry-duration-days-non-validated: 180
  # The duration after which validated-name linked accounts are removed
  removal-duration-days-validated: 2190

account_linking_context_class_ref:
  linked_institution: https://eduid.nl/trust/linked-institution
  validate_names: https://eduid.nl/trust/validate-names
  affiliation_student: https://eduid.nl/trust/affiliation-student
  profile_mfa: https://refeds.org/profile/mfa

account_linking:
  idp_external_validation_entity_id: {{ myconext.idp_external_validation_entity_id }}
  myconext_sp_entity_id: https://mijn.{{ myconext_base_domain }}/shibboleth

eduid_api:
  oidcng_introspection_uri: https://connect.{{ base_domain }}/oidc/introspect
  oidcng_discovery_url: "https://connect.{{ base_domain }}/oidc/.well-known/openid-configuration"
  oidcng_client_id: {{ myconext.rs_client_id }}
  oidcng_secret: {{ myconext_rs_client_secret }}
  base_url: https://login.{{ myconext_base_domain }}

geo_location:
  license_key: {{ myconext_geo2lite_license_key }}
  external_url: "https://download.maxmind.com/app/geoip_download?edition_id=GeoLite2-City&license_key={license_key}&suffix=tar.gz"
  download_directory: "{{ myconext_dir }}/geo2lite"

spring:
  data:
    mongodb:
      uri: mongodb://{{ myconext.mongo_user }}:{{ myconext.mongo_password }}@{% for host in groups['mongo_servers'] %}{{ hostvars[host]['inventory_hostname'] }}:{{ myconext.mongo_port }}{% if not loop.last %},{% endif %}{% endfor %}/{{ myconext.mongo_database }}?ssl=true

  mail:
    host: localhost
    port: 25
  main:
    banner-mode: "off"

# We disable all endpoints except health for the load-balancer and info for git information.
management:
  health:
    mail:
      enabled: true
  # We disable all endpoints except health for the load-balancer and info for git information.
  endpoints:
    enabled: false
    health:
      enabled: true
    info:
      enabled: true
      git:
        mode: full
