.venv
secrets_test.yml
.vagrant
.idea/
.DS_Store
delme

*.pyc
*.iml
provision*.retry

# ignore the directory where our decrypted keystore is kept during execution of playbooks
.decrypted_keystore

# ignore backup files
*~

# ignore the directories where external environment vars and external roles are put
roles-external
environments-external
