secrets_test.yml
.vagrant
.idea/
.DS_Store
delme

*.pyc
*.iml
provision.retry
provision-vm.retry

# ignore the directory where our decrypted keystore is kept during execution of playbooks
.decrypted_keystore
