janus_service_registry_core:
    admin:
        name: {{ instance_name }}
        email: {{ support_email }}
    auth: default-sp
    useridattr: NameID
#    auth: login-admin
#    useridattr: user
    user:
        autocreate: true
    dashboard:
        inbox:
            paginate_by: 20
    push:
        remote:
            test:
                name: "{{ instance_name }} EngineBlock"
                url: "https://{{ engine_api_janus_user }}:{{ engine_api_janus_password }}@{{ engine_api_domain }}/api/connections"
    entity:
        prettyname: 'name:en'
        useblacklist: false
        usewhitelist: true
        validateEntityId: false
    enable:
        saml20-sp: true
        saml20-idp: true
        shib13-sp: false
        shib13-idp: false
    workflowstates:
        testaccepted:
            name:
                en: Test
                da: Test
                es: 'testaccepted - es'
            description:
                en: 'All test should be performed in this state'
                da: 'I denne tilstand skal al test foretages'
                es: 'Desc 1 es'
            abbr: 'TA'
        prodaccepted:
            name:
                en: Production
                da: Produktion
                es: 'prodaccepted - es'
            description:
                en: 'The connection is on the Production system'
                da: 'Forbindelsen er på Produktions systemet'
                es: 'Desc 5 es'
            textColor: green
            abbr: 'PA'
    workflowstate:
        default: testaccepted
    attributes:
        eduPersonTargetedID:
            name: 'urn:mace:dir:attribute-def:eduPersonTargetedID'
        eduPersonPrincipalName:
            name: 'urn:mace:dir:attribute-def:eduPersonPrincipalName'
        displayName:
            name: 'urn:mace:dir:attribute-def:displayName'
        'cn (common name)':
            name: 'urn:mace:dir:attribute-def:cn'
        givenName:
            name: 'urn:mace:dir:attribute-def:givenName'
        'sn (surname)':
            name: 'urn:mace:dir:attribute-def:sn'
        mail:
            name: 'urn:mace:dir:attribute-def:mail'
        schacHomeOrganization:
            name: 'urn:mace:terena.org:attribute-def:schacHomeOrganization'
        schacHomeOrganizationType:
            name: 'urn:mace:terena.org:attribute-def:schacHomeOrganizationType'
        schacPersonalUniqueCode:
            name: 'urn:schac:attribute-def:schacPersonalUniqueCode'
        eduPersonAffiliation:
            name: 'urn:mace:dir:attribute-def:eduPersonAffiliation'
            specify_values: true
        eduPersonScopedAffiliation:
            name: 'urn:mace:dir:attribute-def:eduPersonScopedAffiliation'
            specify_values: true
        eduPersonEntitlement:
            name: 'urn:mace:dir:attribute-def:eduPersonEntitlement'
            specify_values: true
        eduPersonOrcid:
            name: 'urn:mace:dir:attribute-def:eduPersonOrcid'
        isMemberOf:
            name: 'urn:mace:dir:attribute-def:isMemberOf'
            specify_values: true
        uid:
            name: 'urn:mace:dir:attribute-def:uid'
        preferredLanguage:
            name: 'urn:mace:dir:attribute-def:preferredLanguage'
        'nlEduPersonOrgUnit (deprecated)':
            name: 'urn:mace:surffederatie.nl:attribute-def:nlEduPersonOrgUnit'
            specify_values: true
        'nlEduPersonStudyBranch (deprecated)':
            name: 'urn:mace:surffederatie.nl:attribute-def:nlEduPersonStudyBranch'
            specify_values: true
        'nlStudielinkNummer (deprecated)':
            name: 'urn:mace:surffederatie.nl:attribute-def:nlStudielinkNummer'
        'nlDigitalAuthorIdentifier (deprecated)':
            name: 'urn:mace:surffederatie.nl:attribute-def:nlDigitalAuthorIdentifier'
        'collabPersonId (deprecated)':
            name: 'urn:oid:1.3.6.1.4.1.1076.20.40.40.1'
    md:
        mapping:
            'UIInfo:Logo:0:height': 'logo:0:height'
            'UIInfo:Logo:0:width': 'logo:0:width'
            'UIInfo:Logo:0:url': 'logo:0:url'
            'UIInfo:Keywords:en': 'keywords:en'
            'UIInfo:Keywords:nl': 'keywords:nl'
            'UIInfo:Description:en': 'description:en'
            'UIInfo:Description:nl': 'description:nl'
    usertypes:
        - admin
        - readonly
        - technical
    messenger:
        external:
            mail:
                class: 'janus:SimpleMail'
                name: Mail
                option:
                    headers: "MIME-Version: 1.0\r\nContent-type: text/html; charset=iso-8859-1\r\nFrom: JANUS <no-reply@example.org>\r\nReply-To: JANUS Admin <admin@example.org>\r\nX-Mailer: PHP/5.4.6-1ubuntu1.8"
    mdexport:
        default_options:
            entitiesDescriptorName: Federation
            maxCache: 86400
            maxDuration: 432000
            sign:
                enable: false
                privatekey: server.pem
                privatekey_pass: null
                certificate: server.crt
    encryption:
        enable: false
    access:
        createnewentity:
            workflow_states:
                all:
                    - all
                    - '-readonly'
        changeentityid:
            workflow_states:
                all:
                    - admin
                testaccepted:
                    - all
                    - ' -readonly'
                prodaccepted:
                    - admin
            default: true
        allentities:
            workflow_states:
                all:
                    - admin
                    - readonly
        exportallentities:
            workflow_states:
                all:
                    - admin
        arpeditor:
            workflow_states:
                all:
                    - admin
        admintab:
            workflow_states:
                all:
                    - admin
        adminusertab:
            workflow_states:
                all:
                    - admin
        federationtab:
            workflow_states:
                all:
                    - ''
        showsubscriptions:
            workflow_states:
                all:
                    - ''
        addsubscriptions:
            workflow_states:
                all:
                    - ''
        editsubscriptions:
            workflow_states:
                all:
                    - ''
        deletesubscriptions:
            workflow_states:
                all:
                    - ''
        experimental:
            workflow_states:
                all:
                    - ''
        changeentitytype:
            default: true
            workflow_states:
                testaccepted:
                    - all
                    - ' -readonly'
                prodaccepted:
                    - admin
        exportmetadata:
            default: true
            workflow_states:
                testaccepted:
                    - all
                    - ' -readonly'
                prodaccepted:
                    - admin
        blockremoteentity:
            default: true
            workflow_states:
                testaccepted:
                    - all
                    - ' -readonly'
                prodaccepted:
                    - admin
        changeworkflow:
            default: true
            workflow_states:
                testaccepted:
                    - all
                    - ' -readonly'
        changemanipulation:
            default: true
            workflow_states:
                testaccepted:
                    - all
                    - ' -readonly'
                prodaccepted:
                    - admin
        changearp:
            default: true
            workflow_states:
                testaccepted:
                    - all
                    - ' -readonly'
                prodaccepted:
                    - admin
        editarp:
            default: true
            workflow_states:
                testaccepted:
                    - all
                    - ' -readonly'
                prodaccepted:
                    - admin
        addarp:
            default: true
            workflow_states:
                testaccepted:
                    - all
                    - ' -readonly'
                prodaccepted:
                    - admin
        addmetadata:
            default: true
            workflow_states:
                testaccepted:
                    - all
                    - ' -readonly'
                prodaccepted:
                    - admin
        validatemetadata:
            default: true
            workflow_states:
                testaccepted:
                    - all
                    - ' -readonly'
        deletemetadata:
            default: true
            workflow_states:
                testaccepted:
                    - all
                    - ' -readonly'
                prodaccepted:
                    - admin
        modifymetadata:
            default: true
            workflow_states:
                testaccepted:
                    - all
                    - ' -readonly'
                prodaccepted:
                    - admin
        importmetadata:
            default: true
            workflow_states:
                testaccepted:
                    - all
                    - ' -readonly'
                prodaccepted:
                    - admin
        entityhistory:
            default: true
            workflow_states:
                testaccepted:
                    - all
                    - ' -readonly'
        disableconsent:
            default: true
            workflow_states:
                testaccepted:
                    - all
                    - ' -readonly'
                prodaccepted:
                    - admin
    metadata_refresh_cron_tags:
        - daily
    validate_entity_certificate_cron_tags:
        - daily
    validate_entity_endpoints_cron_tags:
        - daily
    ca_bundle_file: /etc/pki/tls/certs/ca-bundle.crt
    metadatafields:
        saml20-idp:
            'name:#':
                required: true
                supported:
                    - en
                    - nl
                type: text
                default: ''
                default_allow: false
            'displayName:#':
                supported:
                    - en
                    - nl
                type: text
                default: ''
                default_allow: false
                required: false
            'description:#':
                required: true
                supported:
                    - en
                    - nl
                type: text
                default: ''
                default_allow: false
            certData:
                type: text
                default: ''
                default_allow: false
                required: true
            certData2:
                type: text
                default: ''
                default_allow: false
                required: false
            certData3:
                type: text
                default: ''
                default_allow: false
                required: false
            SingleLogoutService_Binding:
                type: select
                select_values:
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect'
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST'
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:SOAP'
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:PAOS'
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Artifact'
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:URI'
                default: 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect'
                required: false
                default_allow: true
            SingleLogoutService_Location:
                required: false
                validate: isurl
                type: text
                default: ''
                default_allow: false
            'contacts:#:contactType':
                type: select
                required: true
                supported:
                    - 0
                    - 1
                    - 2
                    - 3
                select_values:
                    - technical
                    - support
                    - administrative
                    - billing
                    - other
                default: ''
                default_allow: false
            'contacts:#:givenName':
                required: true
                supported:
                    - 0
                    - 1
                    - 2
                    - 3
                type: text
                default: ''
                default_allow: false
            'contacts:#:surName':
                required: true
                supported:
                    - 0
                    - 1
                    - 2
                    - 3
                type: text
                default: ''
                default_allow: false
            'contacts:#:emailAddress':
                required: true
                supported:
                    - 0
                    - 1
                    - 2
                    - 3
                validate: isemail
                type: text
                default: ''
                default_allow: false
            'contacts:#:telephoneNumber':
                supported:
                    - 0
                    - 1
                    - 2
                    - 3
                type: text
                default: ''
                default_allow: false
                required: false
            'contacts:#:isSirtfiSecurityContact':
                supported:
                    - 0
                    - 1
                    - 2
                    - 3
                type: boolean
                default: false
                default_allow: false
                required: false
            'OrganizationName:#':
                supported:
                    - en
                    - nl
                type: text
                default: ''
                default_allow: false
                required: false
            'OrganizationDisplayName:#':
                supported:
                    - en
                    - nl
                type: text
                default: ''
                default_allow: false
                required: false
            'OrganizationURL:#':
                validate: isurl
                supported:
                    - en
                    - nl
                type: text
                default: ''
                default_allow: false
                required: false
            'logo:0:url':
                required: true
                default: 'https://.png'
                default_allow: false
                type: text
            'logo:0:width':
                required: true
                default: '120'
                type: text
                default_allow: true
            'logo:0:height':
                required: true
                default: '60'
                type: text
                default_allow: true
            redirect.sign:
                type: boolean
                required: true
                default: false
                default_allow: true
            'coin:publish_in_edugain':
                type: boolean
                default: ''
                default_allow: false
                required: false
            'coin:publish_in_edugain_date':
                validate: isdatetime
                type: text
                default: ''
                default_allow: false
                required: false
            'coin:entity_categories:#':
                type: select
                select_values:
                    - 'http://refeds.org/category/research-and-scholarship'
                    - 'http://refeds.org/category/hide-from-discovery'
                default: ''
                default_allow: false
                required: false
                supported:
                    - 1
                    - 2
            'coin:additional_logging':
                type: boolean
                default: ''
                default_allow: false
                required: false
            'coin:institution_id':
                type: text
                default: ''
                default_allow: false
                required: false
            'coin:institution_guid':
                validate: isguid
                type: text
                default: ''
                default_allow: false
                required: false
            'SingleSignOnService:0:Binding':
                type: select
                select_values:
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect'
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST'
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:SOAP'
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:PAOS'
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Artifact'
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:URI'
                default: 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect'
                required: true
                default_allow: true
            'SingleSignOnService:0:Location':
                required: true
                validate: isurl
                type: text
                default: ''
                default_allow: false
            'SingleSignOnService:#:Binding':
                type: select
                select_values:
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect'
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST'
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:SOAP'
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:PAOS'
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Artifact'
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:URI'
                default: 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect'
                required: false
                default_allow: true
                supported:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                    - 6
                    - 7
                    - 8
                    - 9
            'SingleSignOnService:#:Location':
                required: false
                validate: isurl
                type: text
                default: ''
                default_allow: false
                supported:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                    - 6
                    - 7
                    - 8
                    - 9
            'coin:guest_qualifier':
                type: select
                required: true
                select_values:
                    - All
                    - Some
                    - None
                default: All
                default_allow: true
            'coin:schachomeorganization':
                type: text
                default: ''
                default_allow: false
                required: false
            NameIDFormat:
                type: select
                required: false
                select_values:
                    - 'urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified'
                    - 'urn:oasis:names:tc:SAML:2.0:nameid-format:transient'
                    - 'urn:oasis:names:tc:SAML:2.0:nameid-format:persistent'
                default: 'urn:oasis:names:tc:SAML:2.0:nameid-format:transient'
                default_allow: true
            'keywords:#':
                required: true
                supported:
                    - en
                    - nl
                type: text
                default: ''
                default_allow: false
            'coin:disable_scoping':
                type: boolean
                default: ''
                default_allow: false
                required: false
            'coin:hidden':
                type: boolean
                default: ''
                default_allow: false
                required: false
            'shibmd:scope:#:allowed':
                supported:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                type: text
                default: ''
                default_allow: false
                required: false
            'shibmd:scope:#:regexp':
                type: boolean
                supported:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                default: ''
                default_allow: false
                required: false
        saml20-sp:
            'name:#':
                required: true
                supported:
                    - en
                    - nl
                type: text
                default: ''
                default_allow: false
            'displayName:#':
                supported:
                    - en
                    - nl
                type: text
                default: ''
                default_allow: false
                required: false
            'description:#':
                required: true
                supported:
                    - en
                    - nl
                type: text
                default: ''
                default_allow: false
            certData:
                type: text
                default: ''
                default_allow: false
                required: false
            certData2:
                type: text
                default: ''
                default_allow: false
                required: false
            certData3:
                type: text
                default: ''
                default_allow: false
                required: false
            SingleLogoutService_Binding:
                type: select
                select_values:
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect'
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST'
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:SOAP'
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:PAOS'
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Artifact'
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:URI'
                default: 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect'
                required: false
                default_allow: true
            SingleLogoutService_Location:
                required: false
                validate: isurl
                type: text
                default: ''
                default_allow: false
            'contacts:#:contactType':
                type: select
                required: true
                supported:
                    - 0
                    - 1
                    - 2
                    - 3
                select_values:
                    - technical
                    - support
                    - administrative
                    - billing
                    - other
                default: ''
                default_allow: false
            'contacts:#:givenName':
                required: true
                supported:
                    - 0
                    - 1
                    - 2
                    - 3
                type: text
                default: ''
                default_allow: false
            'contacts:#:surName':
                required: true
                supported:
                    - 0
                    - 1
                    - 2
                    - 3
                type: text
                default: ''
                default_allow: false
            'contacts:#:emailAddress':
                required: true
                supported:
                    - 0
                    - 1
                    - 2
                    - 3
                validate: isemail
                type: text
                default: ''
                default_allow: false
            'contacts:#:telephoneNumber':
                supported:
                    - 0
                    - 1
                    - 2
                    - 3
                type: text
                default: ''
                default_allow: false
                required: false
            'contacts:#:isSirtfiSecurityContact':
                supported:
                    - 0
                    - 1
                    - 2
                    - 3
                type: boolean
                default: false
                default_allow: false
                required: false
            'OrganizationName:#':
                supported:
                    - en
                    - nl
                type: text
                default: ''
                default_allow: false
                required: false
            'OrganizationDisplayName:#':
                supported:
                    - en
                    - nl
                type: text
                default: ''
                default_allow: false
                required: false
            'OrganizationURL:#':
                validate: isurl
                supported:
                    - en
                    - nl
                type: text
                default: ''
                default_allow: false
                required: false
            'mdui:PrivacyStatementURL:#':
                validate: isurl
                supported:
                    - en
                    - nl
                type: text
                default: ''
                default_allow: false
                required: false
            'mdrpi:RegistrationInfo':
                validate: isurl
                type: text
                default: ''
                default_allow: false
                required: false
            'mdrpi:RegistrationPolicy:#':
                validate: isurl
                supported:
                    - en
                    - nl
                type: text
                default: ''
                default_allow: false
                required: false
            'logo:0:url':
                required: true
                default: 'https://.png'
                default_allow: false
                type: text
            'logo:0:width':
                required: true
                default: '120'
                type: text
                default_allow: true
            'logo:0:height':
                required: true
                default: '60'
                type: text
                default_allow: true
            redirect.sign:
                type: boolean
                required: true
                default: false
                default_allow: true
            'coin:publish_in_edugain':
                type: boolean
                default: ''
                default_allow: false
                required: false
            'coin:publish_in_edugain_date':
                validate: isdatetime
                type: text
                default: ''
                default_allow: false
                required: false
            'coin:interfed_source':
                type: select
                select_values:
                    - 'eduGAIN'
                    - 'Entree'
                default: ''
                default_allow: false
                required: false
            'coin:entity_categories:#':
                type: select
                select_values:
                    - 'http://www.geant.net/uri/dataprotection-code-of-conduct/v1'
                    - 'http://refeds.org/category/research-and-scholarship'
                default: ''
                default_allow: false
                required: false
                supported:
                    - 1
                    - 2
            'coin:additional_logging':
                type: boolean
                default: ''
                default_allow: false
                required: false
            'coin:institution_id':
                type: text
                default: ''
                default_allow: false
                required: false
            'coin:institution_guid':
#               validate: isguid
                type: text
                default: ''
                default_allow: false
                required: false
            'coin:trusted_proxy':
                type: boolean
                default: false
                default_allow: true
                required: false
            'AssertionConsumerService:0:Binding':
                type: select
                select_values:
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect'
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST'
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:SOAP'
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:PAOS'
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Artifact'
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:URI'
                default: 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST'
                required: true
                default_allow: true
            'AssertionConsumerService:#:Binding':
                type: select
                select_values:
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect'
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST'
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:SOAP'
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:PAOS'
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Artifact'
                    - 'urn:oasis:names:tc:SAML:2.0:bindings:URI'
                default: 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST'
                required: false
                supported:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                    - 6
                    - 7
                    - 8
                    - 9
                default_allow: true
            'AssertionConsumerService:0:Location':
                required: true
                validate: isurl
                type: text
                default: ''
                default_allow: false
            'AssertionConsumerService:#:Location':
                required: false
                validate: isurl
                supported:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                    - 6
                    - 7
                    - 8
                    - 9
                type: text
                default: ''
                default_allow: false
            'AssertionConsumerService:0:index':
                required: false
                type: text
                default: ''
                default_allow: false
            'AssertionConsumerService:#:index':
                required: false
                supported:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                    - 6
                    - 7
                    - 8
                    - 9
                type: text
                default: ''
                default_allow: false
            NameIDFormat:
                type: select
                required: true
                select_values:
                    - 'urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified'
                    - 'urn:oasis:names:tc:SAML:2.0:nameid-format:transient'
                    - 'urn:oasis:names:tc:SAML:2.0:nameid-format:persistent'
                default: 'urn:oasis:names:tc:SAML:2.0:nameid-format:transient'
                default_allow: true
            'NameIDFormats:#':
                supported:
                    - 0
                    - 1
                    - 2
                type: select
                required: false
                select_values:
                    - 'urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified'
                    - 'urn:oasis:names:tc:SAML:2.0:nameid-format:transient'
                    - 'urn:oasis:names:tc:SAML:2.0:nameid-format:persistent'
                default: 'urn:oasis:names:tc:SAML:2.0:nameid-format:transient'
                default_allow: true
            'coin:no_consent_required':
                type: boolean
                default: false
                default_allow: true
                required: false
            'coin:eula':
                validate: isurl
                type: text
                default: ''
                default_allow: false
                required: false
            'url:#':
                required: true
                supported:
                    - en
                    - nl
                validate: isurl
                type: text
                default: ''
                default_allow: false
            'coin:gadgetbaseurl':
                validate: isurl
                type: text
                default: ''
                default_allow: false
                required: false
            'coin:oauth:secret':
                validate: lengteq20
                type: text
                default: ''
                default_allow: false
                required: false
            'coin:oauth:two_legged_allowed':
                type: boolean
                default: ''
                default_allow: false
                required: false
            'coin:oauth:consumer_key':
                type: text
                default: ''
                default_allow: false
                required: false
            'coin:oauth:consumer_secret':
                validate: lengteq20
                type: text
                default: ''
                default_allow: false
                required: false
            'coin:oauth:key_type':
                type: select
                select_values:
                    - HMAC_SHA1
                    - RSA_PRIVATE
                default: HMAC_SHA1
                default_allow: true
                required: false
            'coin:oauth:app_title':
                default: 'Application Title'
                default_allow: false
                type: text
                required: false
            'coin:oauth:app_description':
                type: text
                default: ''
                default_allow: false
                required: false
            'coin:oauth:app_thumbnail':
                validate: isurl
                default: 'https://www.surfnet.nl/thumb.png'
                default_allow: false
                type: text
                required: false
            'coin:oauth:app_icon':
                validate: isurl
                default: 'https://www.surfnet.nl/icon.gif'
                default_allow: false
                type: text
                required: false
            'coin:oauth:callback_url':
                validate: isurl
                type: text
                default: ''
                default_allow: false
                required: false
            'coin:oauth:consent_not_required':
                type: boolean
                default: ''
                default_allow: false
                required: false
            'coin:ss:idp_visible_only':
                type: boolean
                default: false
                default_allow: true
                required: false
            'coin:application_url':
                default: 'Application URL'
                default_allow: false
                type: text
                required: false
            'coin:implicit_vo_id':
                type: text
                default: ''
                default_allow: false
                required: false
            'coin:transparant_issuer':
                type: boolean
                default: ''
                default_allow: false
                required: false
            'coin:do_not_add_attribute_aliases':
                type: boolean
                default: false
                default_allow: true
                required: false
            'coin:display_unconnected_idps_wayf':
                type: boolean
                default: false
                default_allow: true
                required: false
            'coin:policy_enforcement_decision_required':
                type: boolean
                default: false
                default_allow: true
                required: false
            'coin:attribute_aggregation_required':
                type: boolean
                default: false
                default_allow: true
                required: false
    workflow:
        testaccepted:
            prodaccepted:
                role:
                    - admin
        prodaccepted:
            testaccepted:
                role:
                    - admin
