# Measure number of http requests per 10 seconds
# ipv4 addresses are mapped to ipv6 for type ipv6, and work for both
backend st_httpreqs_per_ip
  stick-table type ipv6 size 1m expire 10s store http_req_rate(10s)
