[Unit]
Description=HAProxy Load Balancer for {{item.name}}
After=syslog.target network.target

[Service]
{% if  haproxy_version is version_compare('1.8.0', '<')  %}
ExecStart=/usr/sbin/haproxy-systemd-wrapper -f /etc/haproxy/{{item.name}}/haproxy_global_{{item.name}}.cfg -f /etc/haproxy/{{item.name}}/haproxy_frontend_{{item.name}}.cfg -f /etc/haproxy/{{item.name}}/haproxy_backend_{{item.name}}.cfg -p /run/haproxy_{{item.name}}.pid $OPTIONS
{% else %}
ExecStart=/usr/sbin/haproxy -db  -f /etc/haproxy/{{item.name}}/haproxy_global_{{item.name}}.cfg -f /etc/haproxy/{{item.name}}/haproxy_frontend_{{item.name}}.cfg -f     /etc/haproxy/{{item.name}}/haproxy_backend_{{item.name}}.cfg  -p /run/haproxy_{{item.name}}.pid $OPTIONS
{% endif %}
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
