#jinja2:lstrip_blocks: True
#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------

global
  log         127.0.0.1 local2
  chroot      /var/lib/haproxy
  pidfile     /var/run/haproxy.pid
  maxconn     4000
  user        haproxy
  group       haproxy
  nbproc      1
  ulimit-n    9000
  daemon
  stats socket /var/lib/haproxy/stats
  tune.ssl.default-dh-param 2048
  ssl-default-bind-options no-sslv3
  ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
  ssl-default-server-options no-sslv3
  ssl-default-server-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
{% if env == "vm" or env == "test" or env == "test2"  %}
  stats socket /var/lib/haproxy/stats
{% endif %}
{% if env == "acc" or env == "prd"  %}
  stats socket /var/lib/haproxy/{{ item.name }}.stats
{% endif %}

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option                  http-server-close
    option                  forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000


## Frontend configuration
{% if env == "vm" or env == "test" or env == "test2"  %}

#--------------------------------------------------------------------
#  frontend
# -------------------------------------------------------------------
frontend ssl_ip

    bind {{ haproxy_sni_ip }}:443 ssl crt /etc/pki/haproxy/{{ tls_star_cert_haproxy }}  no-sslv3 npn spdy/2
    capture cookie JSESSIONID len 52
    rspadd  Strict-Transport-Security:\ max-age=15768000
    bind {{ haproxy_sni_ip }}:80
    redirect scheme https code 301 if !{ ssl_fc }

    {% for application in haproxy_applications %}
    acl {{ application.name }} hdr(host) -i {{ application.vhost_name }}.{{ base_domain }}
    {% endfor %}
    {% for application in haproxy_applications %}
    use_backend {{ application.name }}_be if {{ application.name }}
    {% endfor %}

{% for application in haproxy_applications %}

#---------------------------------------------------------------------
# {{ application.name }} backend
#---------------------------------------------------------------------
#
backend {{ application.name }}_be
  option httpchk {{ application.ha_method }} {{ application.ha_url }} HTTP/1.0
  option forwardfor # This sets X-Forwarded-For

  mode http
  balance roundrobin
  cookie JSESSIONID preserve indirect
  option httpclose

  cookie HTTPSERVERID insert nocache indirect

  {% for server in application.servers %}
  server {{ server.label }} {{ server.ip }}:{{ application.port }} cookie {{ server.label }} check inter 20000 fall 2 rise 2 maxconn 1024
  {% endfor %}

{% endfor %}
{% endif %}

{% if env == "acc" or env == "prd"  %}
## Frontend configuration

#--------------------------------------------------------------------
# {{ item.name }} frontend
# -------------------------------------------------------------------
frontend {{ item.name }}

     bind {{ item.ip }}:443 ssl crt /etc/haproxy/{{ item.name }}/{{ item.name }}.pem no-sslv3 npn spdy/2
     rspadd  Strict-Transport-Security:\ max-age=15768000
     bind {{ item.ip }}:80
     redirect scheme https code 301 if !{ ssl_fc }
     capture cookie JSESSIONID len 52
     acl url_all         path_beg        -i /
     use_backend         {{ item.name }}_be       if url_all
     default_backend     {{ item.name }}_be


#---------------------------------------------------------------------
#  {{ item.name }} backend
#---------------------------------------------------------------------
backend {{ item.name }}_be

    option httpchk {{ item.ha_method }} {{ item.ha_url }} HTTP/1.0
    option forwardfor # This sets X-Forwarded-For

    mode http
    balance roundrobin
    cookie JSESSIONID preserve indirect
    option httpclose

    cookie HTTPSERVERID insert nocache indirect

    {% for server in item.servers %}
    server {{ server.label }} {{ server.ip }}:{{ item.port }} cookie {{ server.label }} check inter 20000 fall 2 rise 2 maxconn 1024
    {% endfor %}
{% endif %}
