[Unit]
Description=HAProxy Load Balancer Redirects instance
After=syslog.target network.target

[Service]
{% if  haproxy_version | version_compare('1.8.0', '<')  %}  
ExecStart=/usr/sbin/haproxy-systemd-wrapper -f /etc/haproxy/redirects/haproxy_redirects.cfg -p /var/run/haproxy_redirects.pid

{% else %}
ExecStart=/usr/sbin/haproxy -db  -f /etc/haproxy/redirects/haproxy_redirects.cfg  -p /var/run/haproxyi_redirects.pid
{% endif %}

ExecReload=/bin/kill -USR2 $MAINPID
KillMode=mixed

[Install]
WantedBy=multi-user.target
