#jinja2: lstrip_blocks: True
#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------

global
  log         127.0.0.1 len 32768  local2
  log-send-hostname
  chroot      /var/lib/haproxy
  maxconn     4000
  user        haproxy
  group       haproxy
  nbproc      1
  ulimit-n    9000
  daemon
  tune.ssl.default-dh-param 2048
  ssl-default-bind-options no-sslv3
  ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
  ssl-default-server-options no-sslv3
  ssl-default-server-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
  stats socket /var/lib/haproxy/redirects.stats {% if haproxy_rolling_updates %} mode 660 level admin user root group lbops{%endif%} 
#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------

defaults
    mode                        http
    log                         global
    option                      httplog
    option                      http-ignore-probes
    option                      http-server-close
    option                      forwardfor       except 127.0.0.0/8
    option                      redispatch
    retries                     3
    timeout http-request        10s
    timeout queue               1m
    timeout connect             10s
    timeout client              1m
    timeout server              1m
    timeout http-keep-alive     10s
    timeout check               10s
    maxconn                     3000
## Frontend configuration
#--------------------------------------------------------------------
# redirects frontend
# -------------------------------------------------------------------
frontend redirects

    bind {{ haproxy_redirects_ip }}:443 ssl {% for application in haproxy_redirects %} crt /etc/haproxy/redirects/{{ application.name }}.pem {% endfor %}  no-sslv3 transparent
    bind {{ haproxy_redirects_ipv6 }}:443 ssl {% for application in haproxy_redirects %} crt /etc/haproxy/redirects/{{ application.name }}.pem {% endfor %}  no-sslv3 transparent
    http-request del-header Proxy
    rspadd  Strict-Transport-Security:\ max-age=15768000
    capture request header User-agent len 100
    bind {{ haproxy_redirects_ip }}:80 transparent
    bind {{ haproxy_redirects_ipv6 }}:80 transparent

    {% for application in haproxy_redirects %}
    acl valid_vhost hdr(host) -i {{ application.url }} 
    acl {{ application.name }} hdr(host) -i {{ application.url }} 
    {% endfor %}

    http-request deny if ! valid_vhost
    redirect scheme https code 301 if !{ ssl_fc }

    {% for application in haproxy_redirects %}
    http-request redirect prefix {{ application.redirecturl }} if {{ application.name }}
    {% endfor %}
