#jinja2: lstrip_blocks: True
#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------

global
  log         127.0.0.1 len 32768  local2
  log-send-hostname
  chroot      /var/lib/haproxy
  pidfile     /var/run/haproxy.pid
  maxconn     4000
  user        haproxy
  group       haproxy
  nbproc      1
  ulimit-n    9000
  daemon
  ssl-default-bind-options no-sslv3 no-tls-tickets
  ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS
  ssl-default-server-options no-sslv3 no-tls-tickets
  ssl-default-server-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS
  ssl-dh-param-file /etc/pki/haproxy/ffdhe3072.pem
{% if haproxy_metricbeat %}
  stats socket 127.0.0.1:14567
{% endif %}
  stats socket /var/lib/haproxy/haproxy.stats mode 660 level admin user root group lbops
  server-state-file /var/lib/haproxy/state

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------

defaults
    mode                        http
    log                         global
    option                      http-ignore-probes
    option                      http-server-close
    option                      forwardfor       except 127.0.0.0/8
    option                      redispatch
    retries                     3
    timeout http-request        10s
    timeout queue               1m
    timeout connect             10s
    timeout client              1m
    timeout server              1m
    timeout http-keep-alive     10s
    timeout check               10s
    maxconn                     3000
    load-server-state-from-file global
