#jinja2:lstrip_blocks: True
{% if item.name == "fourthset" %}
    {% for application in haproxy_applications if not application.hidden %}
     #---------------------------------------------------------------------
     # {{ application.name }} backend
     #---------------------------------------------------------------------
     #
     backend {{ application.name }}_be
     option httpchk {{ application.ha_method }} {{ application.ha_url }} "HTTP/1.0\r\nHost: {% if application.full_vhost_name is defined %} {{ application.full_vhost_name }} {% else %} {{ application.vhost_name }}.{{ base_domain }}" 
     {% endif %}
     option forwardfor # This sets X-Forwarded-For
     {%if application.x_forwarded_port is defined %}
     http-request set-header X-Forwarded-Port {{ application.x_forwarded_port }}
     {% endif %}
     rspdel ^Strict-Transport-Security:.* #Remove hsts header from backend applications
     mode http
     balance roundrobin
     option httpclose
     cookie HTTPSERVERID insert nocache indirect httponly secure maxidle {{ haproxy_cookie_max_idle }}
     {% for server in application.servers_fourthset %}
     server {{ server.label }} {{ server.ip }}:{{ application.port }} cookie {{ server.label }} check inter 8000 fall 5 rise 2 maxconn 1024 {% if application.sslbackend is defined%} ssl verify required verifyhost {{ application.backend_vhost_name }} ca-file {{ application.backend_ca_file }}
     {% endif %}

     {% endfor %}
    {% endfor %}
{% else %}
#---------------------------------------------------------------------
#  {{ item.name }} backend
#---------------------------------------------------------------------
backend {{ item.name }}_be

    option httpchk {{ item.ha_method }} {{ item.ha_url }} "HTTP/1.0\r\nHost: {% if application.full_vhost_name is defined %} {{ application.full_vhost_name }} {% else %} {{ application.vhost_name }}.{{ base_domain }}" 
    {% endif %}
    option forwardfor # This sets X-Forwarded-For
    {%if item.x_forwarded_port is defined %}
    http-request set-header X-Forwarded-Port {{ item.x_forwarded_port }}
    {% endif %}
    rspdel ^Strict-Transport-Security:.* #Remove hsts header from backend applications
    mode http
    balance roundrobin
    option httpclose
    option allbackups
    cookie HTTPSERVERID insert nocache indirect httponly secure maxidle {{ haproxy_cookie_max_idle }}
    {% for server in item.servers %}
    server {{ server.label }} {{ server.ip }}:{{ item.port }} cookie {{ server.label }} check inter 8000 fall 5 rise 2 maxconn 1024 {% if item.sslbackend is defined %} ssl verify required verifyhost {{ item.backend_vhost_name }} ca-file {{ item.backend_ca_file }} weight 100
    {% endif %}
    
    {% endfor %}

    {% if item.servers_backup is defined %}
    {% for server in item.servers_backup %}
    server {{ server.label }} {{ server.ip }}:{{ item.port }} cookie {{ server.label }} check inter 8000 fall 5 rise 2 maxconn 1024 backup {% if item.sslbackend is defined%} ssl verify required verifyhost {{ item.backend_vhost_name }} ca-file {{ item.backend_ca_file }}
    {% endif %}

    {% endfor %}
    {% endif %}
{% endif %}

