#---------------------------------------------------------------------
# Example configuration for a possible web application.  See the
# full configuration options online.
#
#   http://haproxy.1wt.eu/download/1.4/doc/configuration.txt
#
#---------------------------------------------------------------------

#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    # to have these messages end up in /var/log/haproxy.log you will
    # need to:
    #
    # 1) configure syslog to accept network log events.  This is done
    #    by adding the '-r' option to the SYSLOGD_OPTIONS in
    #    /etc/sysconfig/syslog
    #
    # 2) configure local2 events to go to the /var/log/haproxy.log
    #   file. A line like the following can be added to
    #   /etc/sysconfig/syslog
    #
    #    local2.*                       /var/log/haproxy.log
    #
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    nbproc      1
    ulimit-n    9000
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option		    http-server-close
    option 		    forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000


#---------------------------------------------------------------------
# ENGINE frontend
#---------------------------------------------------------------------
frontend engine 127.0.0.1:{{ loadbalancing.engine.port }}

    capture cookie JSESSIONID len 52

    acl url_all         path_beg        -i /
    use_backend         engine_be       if url_all
    default_backend     engine_be

#---------------------------------------------------------------------
# PROFILE frontend
#---------------------------------------------------------------------
frontend profile 127.0.0.1:{{ loadbalancing.profile.port }}

    capture cookie JSESSIONID len 52

    acl url_all         path_beg        -i /
    use_backend         profile_be       if url_all
    default_backend     profile_be

#---------------------------------------------------------------------
# SERVICE REGISTRY frontend
#---------------------------------------------------------------------
frontend serviceregistry 127.0.0.1:{{ loadbalancing.serviceregistry.port }}

    capture cookie JSESSIONID len 52

    acl url_all         path_beg        -i /
    use_backend         serviceregistry_be       if url_all
    default_backend     serviceregistry_be

#---------------------------------------------------------------------
# STATIC frontend
#---------------------------------------------------------------------
frontend static 127.0.0.1:{{ loadbalancing.static.port }}

    capture cookie JSESSIONID len 52

    acl url_all         path_beg        -i /
    use_backend         static_be       if url_all
    default_backend     static_be

#---------------------------------------------------------------------
# GROUPER frontend
#---------------------------------------------------------------------
frontend grouper 127.0.0.1:{{ loadbalancing.grouper.port }}

    capture cookie JSESSIONID len 52

    acl url_all         path_beg        -i /
    use_backend         grouper_be        if url_all
    default_backend     grouper_be


#---------------------------------------------------------------------
# TEAMS frontend
#---------------------------------------------------------------------
frontend teams 127.0.0.1:{{ loadbalancing.teams.port }}

    capture cookie JSESSIONID len 52

    acl url_all         path_beg        -i /
    use_backend         teams_be        if url_all
    default_backend     teams_be

#---------------------------------------------------------------------
# AUTHZ frontend
#---------------------------------------------------------------------
frontend authz 127.0.0.1:{{ loadbalancing.authzserver.port }}

    capture cookie JSESSIONID len 52

    acl url_all         path_beg        -i /
    use_backend         authz_be        if url_all
    default_backend     authz_be

#---------------------------------------------------------------------
# AUTHZ-ADMIN frontend
#---------------------------------------------------------------------
frontend authz_admin 127.0.0.1:{{ loadbalancing.authz_admin.port }}

    capture cookie JSESSIONID len 52

    acl url_all         path_beg        -i /
    use_backend         authz_admin_be        if url_all
    default_backend     authz_admin_be

#---------------------------------------------------------------------
# AUTHZ-PLAYGROUND frontend
#---------------------------------------------------------------------
frontend authz_playground 127.0.0.1:{{ loadbalancing.authz_playground.port }}

    capture cookie JSESSIONID len 52

    acl url_all         path_beg        -i /
    use_backend         authz_playground_be        if url_all
    default_backend     authz_playground_be

#---------------------------------------------------------------------
# VOOT frontend
#---------------------------------------------------------------------
frontend voot 127.0.0.1:{{ loadbalancing.voot.port }}

    capture cookie JSESSIONID len 52

    acl url_all         path_beg        -i /
    use_backend         voot_be        if url_all
    default_backend     voot_be


#---------------------------------------------------------------------
# engine backend
#---------------------------------------------------------------------
backend engine_be

    # Healthcheck ombouwen naar controle op valide antwoord
    option httpchk {{ loadbalancing.engine.heartbeat.method }} {{ loadbalancing.engine.heartbeat.url }} HTTP/1.0
    option forwardfor # This sets X-Forwarded-For

    mode http
    balance roundrobin
    cookie JSESSIONID preserve indirect
    option httpclose

    cookie HTTPSERVERID insert nocache indirect

    {% for server in loadbalancing.engine.servers %}
    server {{ server.label }} {{ server.ip }}:{{ loadbalancing.engine.port }} cookie {{ server.label }} check inter 20000 fall 2 rise 2 maxconn 1024
    {% endfor %}

#---------------------------------------------------------------------
# profile backend
#---------------------------------------------------------------------
backend profile_be

    # Healthcheck ombouwen naar controle op valide antwoord
    option httpchk {{ loadbalancing.profile.heartbeat.method }} {{ loadbalancing.profile.heartbeat.url }} HTTP/1.0
    option forwardfor # This sets X-Forwarded-For

    mode http
    balance roundrobin
    cookie JSESSIONID preserve indirect
    option httpclose

    cookie HTTPSERVERID insert nocache indirect

    {% for server in loadbalancing.profile.servers %}
    server {{ server.label }} {{ server.ip }}:{{ loadbalancing.profile.port }} cookie {{ server.label }} check inter 20000 fall 2 rise 2 maxconn 1024
    {% endfor %}

#---------------------------------------------------------------------
# serviceregistry backend
#---------------------------------------------------------------------
backend serviceregistry_be

    option httpchk {{ loadbalancing.serviceregistry.heartbeat.method }} {{ loadbalancing.serviceregistry.heartbeat.url }} HTTP/1.0
    option forwardfor # This sets X-Forwarded-For

    mode http
    balance roundrobin
    cookie JSESSIONID preserve indirect
    option httpclose

    cookie HTTPSERVERID insert nocache indirect

    {% for server in loadbalancing.serviceregistry.servers %}
    server {{ server.label }} {{ server.ip }}:{{ loadbalancing.serviceregistry.port }} cookie {{ server.label }} check inter 20000 fall 2 rise 2 maxconn 1024
    {% endfor %}


#---------------------------------------------------------------------
# static backend
#---------------------------------------------------------------------
backend static_be

    # Healthcheck ombouwen naar controle op valide antwoord
    option httpchk {{ loadbalancing.static.heartbeat.method }} {{ loadbalancing.static.heartbeat.url }} HTTP/1.0
    option forwardfor # This sets X-Forwarded-For

    mode http
    balance roundrobin
    cookie JSESSIONID preserve indirect
    option httpclose

    cookie HTTPSERVERID insert nocache indirect

    {% for server in loadbalancing.static.servers %}
    server {{ server.label }} {{ server.ip }}:{{ loadbalancing.static.port }} cookie {{ server.label }} check inter 20000 fall 2 rise 2 maxconn 1024
    {% endfor %}

#---------------------------------------------------------------------
# grouper backend
#---------------------------------------------------------------------
backend grouper_be

    # Healthcheck ombouwen naar controle op valide antwoord
    option httpchk {{ loadbalancing.grouper.heartbeat.method }} {{ loadbalancing.grouper.heartbeat.url }} HTTP/1.0
    option forwardfor # This sets X-Forwarded-For

    mode http
    balance roundrobin
    cookie JSESSIONID preserve indirect
    option httpclose

    cookie HTTPSERVERID insert nocache indirect

    {% for server in loadbalancing.grouper.servers %}
    server {{ server.label }} {{ server.ip }}:{{ loadbalancing.grouper.port }} cookie {{ server.label }} check inter 20000 fall 2 rise 2 maxconn 1024
    {% endfor %}


#---------------------------------------------------------------------
# teams backend
#---------------------------------------------------------------------
backend teams_be

    option httpchk {{ loadbalancing.teams.heartbeat.method }} {{ loadbalancing.teams.heartbeat.url }} HTTP/1.0
    option forwardfor # This sets X-Forwarded-For

    mode http
    balance roundrobin
    cookie JSESSIONID preserve indirect
    option httpclose

    cookie HTTPSERVERID insert nocache indirect

    {% for server in loadbalancing.teams.servers %}
    server {{ server.label }} {{ server.ip }}:{{ loadbalancing.teams.port }} cookie {{ server.label }} check inter 20000 fall 2 rise 2 maxconn 1024
    {% endfor %}

#---------------------------------------------------------------------
# authz backend
#---------------------------------------------------------------------

backend authz_be

    option httpchk {{ loadbalancing.authzserver.heartbeat.method }} {{ loadbalancing.authzserver.heartbeat.url }} HTTP/1.0
    option forwardfor # This sets X-Forwarded-For

    mode http
    balance roundrobin
    cookie JSESSIONID preserve indirect
    option httpclose

    cookie HTTPSERVERID insert nocache indirect

    {% for server in loadbalancing.authzserver.servers %}
    server {{ server.label }} {{ server.ip }}:{{ loadbalancing.authzserver.port }} cookie {{ server.label }} check inter 20000 fall 2 rise 2 maxconn 1024
    {% endfor %}

#---------------------------------------------------------------------
# authz-admin backend
#---------------------------------------------------------------------

backend authz_admin_be

    option httpchk {{ loadbalancing.authz_admin.heartbeat.method }} {{ loadbalancing.authz_admin.heartbeat.url }} HTTP/1.0
    option forwardfor # This sets X-Forwarded-For

    mode http
    balance roundrobin
    cookie JSESSIONID preserve indirect
    option httpclose

    cookie HTTPSERVERID insert nocache indirect

    {% for server in loadbalancing.authz_admin.servers %}
    server {{ server.label }} {{ server.ip }}:{{ loadbalancing.authz_admin.port }} cookie {{ server.label }} check inter 20000 fall 2 rise 2 maxconn 1024
    {% endfor %}

#---------------------------------------------------------------------
# authz-playground backend
#---------------------------------------------------------------------
backend authz_playground_be

    option httpchk {{ loadbalancing.authz_playground.heartbeat.method }} {{ loadbalancing.authz_playground.heartbeat.url }} HTTP/1.0
    option forwardfor # This sets X-Forwarded-For

    mode http
    balance roundrobin
    cookie JSESSIONID preserve indirect
    option httpclose

    cookie HTTPSERVERID insert nocache indirect

    {% for server in loadbalancing.authz_playground.servers %}
    server {{ server.label }} {{ server.ip }}:{{ loadbalancing.authz_playground.port }} cookie {{ server.label }} check inter 20000 fall 2 rise 2 maxconn 1024
    {% endfor %}

#---------------------------------------------------------------------
# voot backend
#---------------------------------------------------------------------
backend voot_be

    option httpchk {{ loadbalancing.voot.heartbeat.method }} {{ loadbalancing.voot.heartbeat.url }} HTTP/1.0
    option forwardfor # This sets X-Forwarded-For

    mode http
    balance roundrobin
    cookie JSESSIONID preserve indirect
    option httpclose

    cookie HTTPSERVERID insert nocache indirect

    {% for server in loadbalancing.voot.servers %}
    server {{ server.label }} {{ server.ip }}:{{ loadbalancing.voot.port }} cookie {{ server.label }} check inter 20000 fall 2 rise 2 maxconn 1024
    {% endfor %}

# Statistics
listen stats 127.0.0.1:9000       #Listen on all IP's on port 9000
    mode http
    balance
    timeout client 5000
    timeout connect 4000
    timeout server 30000

    #This is the virtual URL to access the stats page
    stats uri /stats


{% if env == 'vm' %}
#---------------------------------------------------------------------
# mujina idp frontend
#---------------------------------------------------------------------
frontend mujina_idp 127.0.0.1:{{ loadbalancing.mujina_idp.port }}

    acl url_all         path_beg        -i /
    use_backend         mujina_idp_be       if url_all
    default_backend     mujina_idp_be

#---------------------------------------------------------------------
# mujina idp backend
#---------------------------------------------------------------------
backend mujina_idp_be

    # Healthcheck ombouwen naar controle op valide antwoord
    option httpchk {{ loadbalancing.mujina_idp.heartbeat.method }} {{ loadbalancing.mujina_idp.heartbeat.url }} HTTP/1.0
    option forwardfor # This sets X-Forwarded-For

    mode http
    balance roundrobin
    option httpclose
    cookie JSESSIONID preserve indirect
    cookie HTTPSERVERID insert nocache indirect

    {% for server in loadbalancing.mujina_idp.servers %}
    server {{ server.label }} {{ server.ip }}:{{ loadbalancing.mujina_idp.port }} cookie {{ server.label }} check inter 20000 fall 2 rise 2 maxconn 1024
    {% endfor %}

#---------------------------------------------------------------------
# mujina sp frontend
#---------------------------------------------------------------------
frontend mujina_sp 127.0.0.1:{{ loadbalancing.mujina_sp.port }}

    acl url_all         path_beg        -i /
    use_backend         mujina_sp_be       if url_all
    default_backend     mujina_sp_be

#---------------------------------------------------------------------
# mujina idp backend
#---------------------------------------------------------------------
backend mujina_sp_be

    option httpchk {{ loadbalancing.mujina_sp.heartbeat.method }} {{ loadbalancing.mujina_sp.heartbeat.url }} HTTP/1.0
    option forwardfor # This sets X-Forwarded-For

    mode http
    balance roundrobin
    option httpclose
    cookie JSESSIONID preserve indirect
    cookie HTTPSERVERID insert nocache indirect

    {% for server in loadbalancing.mujina_sp.servers %}
    server {{ server.label }} {{ server.ip }}:{{ loadbalancing.mujina_sp.port }} cookie {{ server.label }} check inter 20000 fall 2 rise 2 maxconn 1024
    {% endfor %}

#---------------------------------------------------------------------
# WELCOME frontend
#---------------------------------------------------------------------
frontend welcome 127.0.0.1:{{ loadbalancing.welcome.port }}

    acl url_all         path_beg        -i /
    use_backend         welcome_be       if url_all
    default_backend     welcome_be

#---------------------------------------------------------------------
# WELCOME backend
#---------------------------------------------------------------------
backend welcome_be

    # Healthcheck ombouwen naar controle op valide antwoord
    option httpchk {{ loadbalancing.welcome.heartbeat.method }} {{ loadbalancing.welcome.heartbeat.url }} HTTP/1.0
    option forwardfor # This sets X-Forwarded-For

    mode http
    balance roundrobin
    option httpclose

    cookie HTTPSERVERID insert nocache indirect

    {% for server in loadbalancing.welcome.servers %}
    server {{ server.label }} {{ server.ip }}:{{ loadbalancing.welcome.port }} cookie {{ server.label }} check inter 20000 fall 2 rise 2 maxconn 1024
    {% endfor %}
{% endif %}
