#!/bin/sh
# Call hapos-upd to update OCSP stapling info foreach of our haproxy certificates

# probably we want to continue even if one fails
set -e

{% for cert in haproxy_sni_ip.certs %}
/usr/local/sbin/hapos-upd --partial-chain --good-only --socket /var/lib/haproxy/haproxy.stats \
	--VAfile /etc/pki/haproxy/{{ cert.name }}_haproxy.pem \
	--cert /etc/pki/haproxy/{{ cert.name }}_haproxy.pem 
{% endfor %}
