####################################################################
##
## The following properties are the responsibility of the owners
## of the machine. The developers do not know the values.
##
####################################################################

janus.user={{ api.janus.user }}
janus.secret={{ api.janus.secret | vault }}
janus.uri={{ api.janus.uri }}

coin-api.jdbc.driver=com.mysql.jdbc.Driver
coin-api.jdbc.user={{ api.jdbc.user }}
coin-api.jdbc.url={{ api.jdbc.url }}
coin-api.jdbc.password={{ api.jdbc.password | vault }}

coin-api.ldap.url={{ api.ldap.url }}
coin-api.ldap.userDn={{ api.ldap.userDn }}
coin-api.ldap.password={{ api.ldap.password | vault }}

coin-api.engineblock.jdbc.driver=com.mysql.jdbc.Driver
coin-api.engineblock.jdbc.user={{ api.engineblock.user }}
coin-api.engineblock.jdbc.url={{ api.engineblock.url }}
coin-api.engineblock.jdbc.password={{ api.engineblock.password | vault }}

coin-api.teams.jdbc.driver=com.mysql.jdbc.Driver
coin-api.teams.jdbc.user={{ api.teams.user }}
coin-api.teams.jdbc.url={{ api.teams.url }}
coin-api.teams.jdbc.password={{ api.teams.password | vault }}

# Email address that recieves error notifications
coin-errormail-to=coin-logs@surfnet.nl

# Callback URL of the OAuth client
coin-api.oauth.callback.url={{ api.oauth.callback_url }}

####################################################################
##
## The following properties are the responsibility of the developers
##
####################################################################

#Choose either mockClientDetailsService or janusClientDetailsService
clientDetailsServiceClass=nl.surfnet.coin.api.service.JanusClientDetailsService

#For future purposes we might mock them
ldapClientClass=nl.surfnet.coin.ldap.LdapClientImpl
engineblockClass=nl.surfnet.coin.eb.EngineBlockImpl
groupServiceClass=nl.surfnet.coin.api.service.GroupServiceImpl

#Is the mock API enabled?
mock-api-enabled=false

# SMTP server settings for notifications
coin-mailserver=localhost
coin-mailserver-port=25

#The directory (in the war) where the db migration scrips reside
coin-api.db.migrations.folder=db/migration/mysql

#Cache manager
cacheManagerClass=org.springframework.cache.ehcache.EhCacheCacheManager

staticContentBasePath={{ api.staticContentBasePath }}

# Default locale for consent screen
coin-api.locale-default=nl

# SAML properties
entityId={{ api.saml.entityId }}
assertionConsumerURI={{ api.saml.assertionConsumerURI }}
idpUrl={{ engineblock.idp_url }}
idpCertificate={{ engineblock_crt_content.stdout }}
idpEntityId={{ engineblock.idp_entity_id }}
spPrivateKey={{ api_key_content.stdout }}
spCertificate={{ api_crt_content.stdout }}

#which SAML attribute holds the UUID
saml-uuid-attribute=urn:oid:1.3.6.1.4.1.1076.20.40.40.1

# this is part of a regex pattern that should determine whether the group is internal
api.internal.group.pattern=^urn:collab:group:\\w*\\.?surfteams.nl.*
