logging:
  level:
    org.springframework: INFO
    org.springframework.security: INFO

environment: {{ env }}
mock-server-base-url: "https://mock.{{ base_domain }}"
invite-server-ms-redirect-url: https://invite.{{ base_domain }}/api/v1/users/ms-accept-return

spring:
  jpa:
    properties:
      hibernate:
        naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
        dialect: org.hibernate.dialect.MariaDBDialect
    open-in-view: false
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://{{ invite.db_host }}/invite
    username: {{ invite.db_user }}
    password: {{ invite.db_secret }}

server:
  port: 8081
  error:
    whitelabel:
      enabled: false

management:
  endpoints:
    web:
      exposure:
        include: "health,info,mappings"
      base-path: "/internal"
  endpoint:
    info:
      enabled: true
    health:
      enabled: true
    mappings:
      enabled: true
  info:
    git:
      mode: full
