---
logging:
  level:
    org.springframework: WARN
    org.springframework.web: WARN
    org.springframework.security: WARN
    com.zaxxer.hikari: ERROR
    access: DEBUG

server:
  error:
    path: "/error"
    include-message: always
  forward-headers-strategy: framework
  servlet:
    session:
      cookie:
        secure: true

spring:
  main:
    banner-mode: "off"
  session:
    jdbc:
      initialize-schema: always
    store-type: jdbc
    timeout: 8h
  mvc:
    log-request-details: false
  security:
    oauth2:
      client:
        registration:
          oidcng:
            client-id: "{{ invite.oidc_client_id }}"
            client-secret: "{{ invite.oidc_secret }}"
            redirect-uri: "https://{baseHost}{basePort}{basePath}/login/oauth2/code/{registrationId}"
            authorization-grant-type: "authorization_code"
            scope: openid
        provider:
          oidcng:
            authorization-uri: "https://connect.{{ base_domain }}/oidc/authorize"
            token-uri: "https://connect.{{ base_domain }}/oidc/token"
            user-info-uri: "https://connect.{{ base_domain }}/oidc/userinfo"
            jwk-set-uri: "https://connect.{{ base_domain }}/oidc/certs"
            user-name-attribute: sub
            user-info-authentication-method: client_secret_basic
  jpa:
    properties:
      hibernate:
        naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
        dialect: org.hibernate.dialect.MariaDBDialect
    open-in-view: false
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://{{ invite.db_host }}/invite
    username: {{ invite.db_user }}
    password: {{ invite.db_secret }}
  flyway:
    locations: classpath:db/{vendor}/migration
    fail-on-missing-locations: true
  mail:
    host: {{ smtp_host }}

crypto:
  development-mode: False
  private-key-location: classpath:private_key_pkcs8.pem

cron:
  node-cron-job-responsible: true
  user-cleaner-expression: "0 0/30 * * * *"
  last-activity-duration-days: 1000
  role-expiration-notifier-expression: "0 0/30 * * * *"
  # Set to -1 to suppress role expiry notifications
  role-expiration-notifier-duration-days: 5
  metadata-resolver-initial-delay-milliseconds: 1
  metadata-resolver-fixed-rate-milliseconds: 86_400_000
  metadata-resolver-url: "https://metadata.surfconext.nl/idps-metadata.xml"

oidcng:
  discovery-url: "https://connect.{{ base_domain }}/oidc/.well-known/openid-configuration"
  introspect-url: "https://connect.{{ base_domain }}/oidc/introspect"
  resource-server-id: {{ invite.resource_server_id }}
  resource-server-secret: "{{ invite.resource_server_secret }}"
  base-url: https://invite.{{ base_domain }}

super-admin:
  users: {{ invite.super_admins }}

institution-admin:
  entitlement: "urn:mace:surfnet.nl:surfnet.nl:sab:role:SURFconextverantwoordelijke"
  organization-guid-prefix: "urn:mace:surfnet.nl:surfnet.nl:sab:organizationGUID:"

gui:
  disclaimer:
    background-color: {{ environment_ribbon_colour }}
    content: {{ environment_shortname }}

config:
  client-url: "https://invite.{{ base_domain }}"
  welcome-url: "https://welcome.{{ base_domain }}"
  server-url: "https://invite.{{ base_domain }}"
  server-welcome-url: "https://welcome.{{ base_domain }}"
  eduid-entity-id: "https://login.{{ myconext_base_domain }}"
  role-search-required: false
  past-date-allowed: {{ invite.past_date_allowed }}
  eduid-idp-schac-home-organization: {{ invite.eduid_idp_schac_home_organization }}

voot:
  user: {{ invite.vootuser}}
  password: {{ invite.vootsecret}}
  group_urn_domain: "{{ invite.group_urn_domain }}"

attribute-aggregation:
  user: {{ invite.attribute_aggregation_user }}
  password: {{ invite.attribute_aggregation_secret }}

lifecyle:
  user: {{ invite.lifecyle_user }}
  password: {{ invite.lifecyle_secret }}

email:
  from: "{{ noreply_email }}"
  contactEmail: "{{ support_email }}"
  environment: "{{ environment_shortname }}"
  enabled: true

manage:
  enabled: true
  url: "https://manage.{{ base_domain }}"
  user: {{ invite.manageuser }}
  password: {{ invite.managesecret }}
  local: False

springdoc:
  pathsToMatch: "/api/external/v1/**"
  api-docs:
    path: "/ui/api-docs"
  swagger-ui:
    path: "/ui/api-ui.html"
    operationsSorter: method
    oauth:
      client-id: ${spring.security.oauth2.client.registration.oidcng.client-id}
      client-secret: ${spring.security.oauth2.client.registration.oidcng.client-secret}
      use-basic-authentication-with-access-code-grant: true


management:
  health:
    mail:
      enabled: false
  endpoints:
    web:
      exposure:
        include: "health,info,mappings"
      base-path: "/internal"
  endpoint:
    info:
      enabled: true
    health:
      enabled: true
    mappings:
      enabled: true
  info:
    git:
      mode: full
