#jinja2: lstrip_blocks: True

vrrp_instance master {
   interface {{ ansible_default_ipv4.interface }}               # interface to monitor
   state {{ keepalived.state_master }}
   virtual_router_id 51          # Assign one ID for this route
   priority {{ keepalived.masterprio }}                 # 101 on master, 100 on backup
   virtual_ipaddress {
       {{ engine_ip }}
       {% if engine_ipv6 is defined %}
       {{ engine_ipv6 }}
       {% endif %}
   
   }
}
vrrp_instance backup {
   interface {{ ansible_default_ipv4.interface }} 
   state {{ keepalived.state_backup }}
   virtual_router_id 52
   priority {{ keepalived.backupprio }}
   virtual_ipaddress {
        {{ engine_api_ip }}
        {% if engine_api_ipv6 is defined %}
        {{ engine_api_ipv6 }}
        {% endif %}
}    
   virtual_ipaddress_excluded {
        {{ profile_ip }}
        {% if profile_ipv6 is defined %}
        {{ profile_ipv6 }}
        {% endif %}
        {{ serviceregistry_ip }}
        {% if serviceregistry_ipv6 is defined %}
        {{ serviceregistry_ipv6 }}
        {% endif %}
        {{ teams_ip }}
        {% if teams_ipv6 is defined %}
        {{ teams_ipv6 }}
        {% endif %}
        {{ authzserver_ip }}
        {% if authzserver_ipv6 is defined %}
        {{ authzserver_ipv6 }}
        {% endif %}
        {{ authz_admin_ip }}
        {% if authz_admin_ipv6 is defined %}
        {{ authz_admin_ipv6 }}
        {% endif %}
        {{ authz_playground_ip }}
        {% if authz_playground_ipv6 is defined %}
        {{ authz_playground_ipv6 }}
        {% endif %}
        {{ voot_ip }}
        {% if voot_ipv6 is defined %}
        {{ voot_ipv6 }}
        {% endif %}
        {{ pdp_ip }}
        {% if pdp_ipv6 is defined %}
        {{ pdp_ipv6 }}
        {% endif %}
        {{ oidc_ip }}
        {% if oidc_ipv6 is defined %}
        {{ oidc_ipv6 }}
        {% endif %}
        {{ multidata_ip }}
        {% if multidata_ipv6 is defined %}
        {{ multidata_ipv6 }}
        {% endif %}
        {{ grouper_ip }}
        {% if grouper_ipv6 is defined %}
        {{ grouper_ipv6 }}
        {% endif %}
        {{ static_ip }}
        {% if static_ipv6 is defined %}
        {{ static_ipv6 }}
        {% endif %}
        {{ bind_ip }}
        {% if bind_ipv6 is defined %}
        {{ bind_ipv6 }}
        {% endif %}
        {% if sa_ip is defined %}
        {{ sa_ip }}
        {% endif %}
        {% if sa_ipv6 is defined %}
        {{ sa_ipv6 }}
        {% endif %}
        {% if sa_tiqr_ip is defined %}
        {{ sa_tiqr_ip }}
        {% endif %}
        {% if sa_tiqr_ipv6 is defined %}
        {{ sa_tiqr_ipv6 }}
        {% endif %}
        {% if sa_ra_ip is defined %}
        {{ sa_ra_ip }}
        {% endif %}
        {% if sa_ra_ipv6 is defined %}
        {{ sa_ra_ipv6 }}
        {% endif %}
        {% if sa_gw_ip is defined %}
        {{ sa_gw_ip }}
        {% endif %}
        {% if sa_gw_ipv6 is defined %}
        {{ sa_gw_ipv6 }}
        {% endif %}
        {% if sabng_ip is defined %}
        {{ sabng_ip }}
        {% endif %}
        {% if sabng_ipv6 is defined %}
        {{ sabng_ipv6 }}
        {% endif %}
        {% if sab_enroll_ng_ip is defined %}
        {{ sab_enroll_ng_ip }}
        {% endif %}
        {% if sab_enroll_ng_ipv6 is defined %}
        {{ sab_enroll_ng_ipv6 }}
        {% endif %}
}
