vrrp_instance master {
   interface {{ ansible_default_ipv4.interface }}               # interface to monitor
   state {{ keepalived.state_master }}
   virtual_router_id 51          # Assign one ID for this route
   priority {{ keepalived.masterprio }}                 # 101 on master, 100 on backup
   virtual_ipaddress {
       {{ engine_ip }}
   }
}
vrrp_instance backup {
   interface {{ ansible_default_ipv4.interface }} 
   state {{ keepalived.state_backup }}
   virtual_router_id 52
   priority {{ keepalived.backupprio }}
   virtual_ipaddress {
        {{ engine_api_ip }}
        {{ profile_ip }}
        {{ serviceregistry_ip }}
        {{ teams_ip }}
        {{ authzserver_ip }}
        {{ authz_admin_ip }}
        {{ authz_playground_ip }}
        {{ voot_ip }}
        {{ pdp_ip }}
        {{ oidc_ip }}
        {{ multidata_ip }}
        {{ grouper_ip }}
        {{ static_ip }}
        {{ bind_ip }}  
}

