#jinja2: lstrip_blocks: True
global_defs {
  vrrp_garp_master_refresh 60
}
vrrp_instance ipv4 {
   interface {{ ansible_default_ipv4.interface }}       # interface to monitor
   state {{ keepalived.state_master }}
   virtual_router_id 55                                 # Assign one ID for this route
   priority {{ keepalived.masterprio }}                 # 101 on master, 100 on backup
   advert_int 5
   authentication {
        auth_type PASS
        auth_pass {{ keepalived_loadbalancer_vrrp_password }}
   }
   virtual_ipaddress {
       {{ haproxy_sni_ip.ipv4 }}
       {% if haproxy_sni_ip_restricted.ipv4 is defined %}
       {{ haproxy_sni_ip_restricted.ipv4 }}
       {% endif %}
   }
}
vrrp_instance ipv6 {        
   interface {{ ansible_default_ipv4.interface }} 
   state {{ keepalived.state_backup }}
   virtual_router_id 56
   priority {{ keepalived.backupprio }}
   advert_int 5
   virtual_ipaddress {
        {% if haproxy_sni_ip.ipv6 is defined %}
        {{ haproxy_sni_ip.ipv6 }}
        {% endif %}
        {% if haproxy_sni_ip_restricted.ipv6 is defined %}
        {{ haproxy_sni_ip_restricted.ipv6 }}
        {% endif %}
   }
}
