## Version of EngineBlock that is installable by this role
engine_version: ""
# Be aware that if you enable this option that NPM, Node.js and Composer are installed
# Feature toggles
engine_feature_encrypted_assertions: 1
engine_feature_encrypted_assertions_require_outer_signature: 1
engine_feature_run_all_manipulations_prior_to_consent: 0
engine_feature_block_user_on_violation: 0
engine_feature_enable_sso_notification: 0
engine_feature_enable_sso_session_cookie: 0
engine_feature_enable_consent: 1
engine_feature_stepup_override_entityid: 0
engine_feature_idp_initiated_flow: 1
engine_api_feature_metadata_push: 1
engine_api_feature_consent_listing: 1
engine_api_feature_consent_remove: 0
engine_api_feature_metadata_api: 1
engine_api_feature_deprovision: 1
engine_feature_send_user_attributes: 0

# Cutoff point for showing unfiltered IdPs on the WAYF
engine_wayf_cutoff_point_for_showing_unfiltered_idps: 50

## Engine installer specific variables.
engine_version_dir: "{{ engine_version | replace('/', '-') }}"
engine_branch_dir: "{{ openconext_builds_dir }}/OpenConext-engineblock-{{ engine_branch | replace('/', '-') }}"
engine_release_dir: "{{ openconext_releases_dir }}/OpenConext-engineblock-{{ engine_version_dir }}"
engine_build_path: "{{ openconext_builds_dir }}/OpenConext-engineblock-{{ engine_version_dir }}.tar.gz"
engine_download_url: "https://github.com/OpenConext/OpenConext-engineblock/releases/download/{{ engine_version }}/OpenConext-engineblock-{{ engine_version_dir }}.tar.gz"
engine_current_release_symlink: "{{ openconext_releases_dir }}/OpenConext-engineblock"

engine_ipv4_address: "*"
# engine_ipv6_address:
engine_api_ipv4_address: "*"
# engine_api_ipv6_address:

# Required for the Symfony routing.
engine_base_domain: "{{ base_domain }}"

engine_domain: engine.{{ base_domain }}

engine_debug: false

engine_theme: "skeune"
# engine_theme: openconext

engine_profile_baseurl: "https://profile.{{ base_domain }}"

# Required for Stepup authentication
engine_stepup_base_domain: "stepup.{{ base_domain }}"
engine_stepup_gateway_domain: "gateway.{{ engine_stepup_base_domain }}"
engine_stepup_override_entityid: ""

## PDP endpoint
engine_pdp_baseurl: https://pdp.{{ base_domain }}
engine_pdp_path: /pdp/api/decide/policy

## Attribute Aggregation endpoint
engine_attribute_aggregation_baseurl: "https://aa.{{ base_domain }}/aa/api/internal/attribute/aggregation"

engine_api_deprovision_user: lifecycle

# Minimum execution time in milliseconds when a received response is deemed invalid
engine_minimum_execution_time_on_invalid_received_response: 5000

# the timeout used when querying external sources (PDP, AA, etc)
engine_http_client_timeout: 10

# Settings for detecting whether the user is stuck in a authentication loop within his session:
# within a certain time frame in seconds, how many authentication procedures for the same SP are allowed
engine_time_frame_for_authentication_loop_in_seconds: 60
engine_maximum_authentication_procedures_allowed: 5
engine_maximum_authentications_per_session: 30

# This PCRE regex is used to blacklist incoming AuthnContextClassRef attributes on. If an empty string is used
# the validation is skipped. The validator will throw an exception if the used regex is invalid.
engine_stepup_authn_context_class_ref_blacklist_regex: '/http:\/\/{{ base_domain | regex_escape }}\/assurance\/loa[1-3]/'
# The loa mapping from the internal used LoA's to the Stepup Gateway LOA's
engine_stepup_engineblock_loa1: "http://{{ base_domain }}/assurance/loa1"
engine_stepup_engineblock_loa1_5: "http://{{ base_domain }}/assurance/loa1.5"
engine_stepup_engineblock_loa2: "http://{{ base_domain }}/assurance/loa2"
engine_stepup_engineblock_loa3: "http://{{ base_domain }}/assurance/loa3"
engine_stepup_gateway_loa1: "http://{{ engine_stepup_base_domain }}/assurance/loa1"
engine_stepup_gateway_loa1_5: "http://{{ engine_stepup_base_domain }}/assurance/loa1.5"
engine_stepup_gateway_loa2: "http://{{ engine_stepup_base_domain }}/assurance/loa2"
engine_stepup_gateway_loa3: "http://{{ engine_stepup_base_domain }}/assurance/loa3"
# The EntityId (metadata URL) used in the callout to the SFO endpoint of the configured Stepup Gateway
engine_stepup_gateway_sfo_entity_id: "https://{{ engine_stepup_gateway_domain }}/second-factor-only/metadata"
# The single sign-on endpoint used for Stepup Gateway SFO callouts
engine_stepup_gateway_sfo_sso_location: "https://{{ engine_stepup_gateway_domain }}/second-factor-only/single-sign-on"
# The public key from the Stepup Gateway IdP
engine_stepup_gateway_sfo_public_key_file: "{{ engine_keys.default.publicFile }}"

## The minimum priority of messages that will be logged
engine_logging_passthru_level: NOTICE

# The memory limit used for the metadata push
engine_metadata_push_memory_limit: 256M

engine_idp_debugging_from_name: "{{ instance_name }} EngineBlock"
engine_idp_debugging_from_address: "{{ noreply_email }}"
engine_idp_debugging_to_name: "{{ instance_name }} Admin"
engine_idp_debugging_email_address: "{{ support_email }}"
engine_idp_debugging_subject: "IdP debug info from %1$s"

eb_support_url: "https://example.org"
eb_support_url_nameid: "https://example.org"
eb_tos_url: "https://example.org"

engine_site_notice_show: false

engineblock_log_attributes: []

engine_php_memory: 256M
engine_docker_networks:
  - name: loadbalancer
