---
attribute_aggregation_pseudo_mail_postfix: demo.openconext.org
attribute_aggregation_pseudo_emails_retention_days_period: 90
aa_cronjobmaster: true
attribute_aggregator_api_lifecycle_username: attribute_aggregator_api_lifecycle_user
aa_oauth2_token_url: "https://connect.{{ base_domain }}/oidc/token"
aa_manage_provision_oidcrp_name_en: "AA client credentials client for VOOT access"
aa_manage_provision_oidcrp_description_en: "OAuth client to access VOOT for group information"
aa_manage_provision_oidcrp_grants: "client_credentials"
aa_manage_provision_oidcrp_allowed_resource_servers: '{"name": "{{ voot.oidcng_checkToken_clientId }}"}'
aa_spring_flyway_enabled: true
aa_docker_networks:
  - name: loadbalancer
