{{ rsyslog_dir }}/hosts/*/*/*
{{ rsyslog_dir }}/apps/*/*/*
{{ rsyslog_dir }}/apps/*/auditd/*/*
{{ rsyslog_dir }}/apps/*/bash/*/*
{{ rsyslog_dir }}/apps/*/secure/*/*

{
    missingok
    daily
    rotate 90
    sharedscripts
    olddir archive
    createolddir 0750 root {{ rsyslog_read_group }}
    create 0640 root {{ rsyslog_read_group }}
    dateext
    dateyesterday
    compress
    postrotate
        systemctl kill -s HUP rsyslog.service
    endscript
}

