# define rsyslog listener for environment {{ env_name }}
input(type="imrelp" port="{{ listener_port }}"
      ruleset="{{ env_name }}"
      tls="on"
      tls.mycert="/etc/pki/rsyslog/rsyslogserver.crt"
      tls.myprivkey="/etc/pki/rsyslog/rsyslogserver.key"
      tls.caCert="{{ rsyslog_ca }}"
      tls.authmode="name"
      tls.permittedpeer="{{ listener_peer }}"
)
