input(type="imrelp" port="{{ item.port }}"
ruleset="{{ item.name }}"
tls="on"
tls.mycert="/etc/pki/rsyslog/rsyslogserver.crt"
tls.myprivkey="/etc/pki/rsyslog/rsyslogserver.key"
tls.caCert="{{ rsyslog_ca }}"
tls.authmode="name"
tls.permittedpeer="{{ item.permittedpeer }}")

