{{ rsyslog_dir }}/log_logins/{{ rsyslog_environment.name }}/eb-authentication.log
{
    missingok
    daily
    rotate 180
    sharedscripts
    dateext
    dateyesterday
    compress
    delaycompress
    create 0640 root {{ rsyslog_read_group }} 
    postrotate
      /usr/local/sbin/parse_ebauth_to_mysql_{{ rsyslog_environment.name }}.py > /dev/null
      systemctl kill -s HUP rsyslog.service
    endscript
}
