#### MODULES ####

## input modules
# This module provides the ability to accept syslog messages from applications running on the local system via Unix sockets
module(load="imuxsock"
       syssock.use="off" # Turn off message reception via local log socket; local messages are retrieved through imjournal now.
)

{% if 'docker' in group_names %}
# for docker hosts, we support logging directly from inside the docker host to a TCP socket on the container host
# Provides the ability to receive syslog messages via TCP
module(load="imptcp")
input(type="imptcp" port="514")
{% endif %}

# Provides the ability to import structured log messages from systemd journal to syslog.
module(load="imjournal"
       UsePid="system" # PID number is retrieved as the ID of the process the journal entry originates from
       StateFile="{{ rsyslog_imjournal_statefile | default('imjournal.state') }}"
       ratelimit.interval="{{ rsyslog_imjournal_ratelimitinterval }}"
       ratelimit.burst="{{ rsyslog_imjournal_ratelimitburst }}"
)

# Reads messages from the kernel log and submits them to the syslog engine.
module(load="imklog")

# This module provides the ability to inject periodic “mark” messages to the input of rsyslog.
module(load="immark"
       interval="300"
       writeallmarkmessages="on"
)

## output modules
# This module supports sending syslog messages over the reliable RELP protocol
module(load="omrelp")

# The omfile plug-in provides the core functionality of writing messages to files residing inside the local file system
module(load="builtin:omfile"
       template="RSYSLOG_TraditionalFileFormat" # Use default timestamp format
       {{ rsyslog_dir_file_modes}}            # Set default file permission
)



#### GLOBAL DIRECTIVES ####
# where to place aux file (spool, etc)
global(workDirectory="/var/lib/rsyslog")

# Support large messages
global(maxMessageSize="{{ rsyslog_maxmessagesize }}")

# Keep fully qualified hostnames instead of stripping the local domain.
global(preserveFQDN="on")


#### LOCAL TEMPLATES AND RULES ####
## templates
template(name="CustomRelpFormat"
         type="string"
         string="<%PRI%>%TIMESTAMP% {{ ansible_fqdn }} %syslogtag%%msg%\n"
)

## rules
## this is the default ruleset, used for local messages

# emergency messages to the console
if prifilt("*.emerg") then {
    action(type="omusrmsg" users="*")
}

{% for relp_host in relp_remote %}
# all other local logs are forwarded to {{ relp_host.name }}
action(type="omrelp"
       target="{{ relp_host.host }}"
       port="{{ relp_host.port }}"
       tls="on"
       tls.caCert="{{ rsyslog_ca }}"
       tls.MyCert="/etc/pki/rsyslog/rsyslogclient.crt"
       tls.MyPrivKey="/etc/pki/rsyslog/rsyslogclient.key"
       tls.authmode="name"
       tls.permittedpeer=["{{ relp_host.peer }}"]
       queue.type="LinkedList"
       queue.filename="{{ relp_host.name }}"
       queue.spoolDirectory="{{ rsyslog_queue_dir }}"
       queue.maxdiskspace="1G"
       queue.saveonshutdown="on"
       action.resumeRetryCount="-1"
       action.resumeInterval="5"
       action.writeAllMarkMessages="on"
       template="CustomRelpFormat"
)
{% else %}
{# default if relp_remote is empty #}
# No relp hosts are available, write everything to /var/log/syslog}
action(type="omfile" file="/var/log/syslog")
{% endfor %}

# stop processing local messages
stop


{% if 'centrallog_servers' in group_names %}
#### TEMPLATE, RULES AND LISTENERS FOR REMOTE MESSAGES
# Each listener (on a specific port) binds to a specific ruleset for a specific environment.
# Only the rules from that specific ruleset are applied.  The default ruleset defined above
# for local messages is not used here

# Provides the ability to receive syslog messages via the reliable RELP protocol.
module(load="imrelp")

# Templates
include(file="/etc/rsyslog.d/templates/*.conf")

# Rulesets
include(file="/etc/rsyslog.d/rulesets/*.conf")

# Listeners
include(file="/etc/rsyslog.d/listeners/*.conf")

{% endif %}
