$template nginx_access_gateway-{{ item.name }}, "/opt/surfconext/logs/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/sa-gw/sa-gw_nginx_access.log"
$template nginx_error_gateway-{{ item.name }}, "/opt/surfconext/logs/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/sa-gw/sa-gw_nginx_error.log"
$template stepup_gateway-{{ item.name }}, "/opt/surfconext/logs/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/sa-gw/stepup-gateway.log"
$template nginx_access_middleware-{{ item.name }}, "/opt/surfconext/logs/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/middleware/middleware_nginx_access.log"
$template nginx_error_middleware-{{ item.name }}, "/opt/surfconext/logs/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/middleware/middleware_nginx_error.log"
$template nginx_access_keyserver-{{ item.name }}, "/opt/surfconext/logs/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/keyserver/keyserver_nginx_access.log"
$template nginx_error_keyserver-{{ item.name }}, "/opt/surfconext/logs/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/keyserver/keyserver_nginx_error.log"
$template nginx_access_tiqr-{{ item.name }}, "/opt/surfconext/logs/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/tiqr/tiqr_nginx_access.log"
$template nginx_error_tiqr-{{ item.name }}, "/opt/surfconext/logs/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/tiqr/tiqr_nginx_error.log"
$template nginx_access_ra-{{ item.name }}, "/opt/surfconext/logs/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/ra/ra_nginx_access.log"
$template nginx_error_ra-{{ item.name }}, "/opt/surfconext/logs/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/ra/ra_nginx_error.log"
$template nginx_access_selfservice-{{ item.name }}, "/opt/surfconext/logs/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/selfservice/selfservice_nginx_access.log"
$template nginx_error_selfservice-{{ item.name }}, "/opt/surfconext/logs/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/selfservice/selfservice_nginx_error.log"
$template stepup-selfservice-{{ item.name }}, "/opt/surfconext/logs/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/selfservice/selfservice.log"
$template stepup-authentication-{{ item.name }}, "/opt/surfconext/logs/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/stepup-authentication/stepup-authentication.log"
$template galera-{{ item.name }}, "opt/surfconext/logs/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/galera/galera.log"
$template garb-{{ item.name }}, "opt/surfconext/logs/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/galera/galera_garb.log"
$template hostleft-{{ item.name }}, "/opt/surfconext/logs/{{ item.name }}/hosts/%$YEAR%-%$MONTH%-%$DAY%/%HOSTNAME%/%SYSLOGFACILITY-TEXT%"
