$template nginx_access_gateway-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/sa-gw/sa-gw_nginx_access.log"
$template nginx_error_gateway-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/sa-gw/sa-gw_nginx_error.log"
$template stepup_gateway-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/sa-gw/stepup-gateway.log"
$template nginx_access_middleware-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/middleware/middleware_nginx_access.log"
$template nginx_error_middleware-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/middleware/middleware_nginx_error.log"
$template nginx_access_keyserver-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/keyserver/keyserver_nginx_access.log"
$template nginx_error_keyserver-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/keyserver/keyserver_nginx_error.log"
$template nginx_access_tiqr-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/tiqr/tiqr_nginx_access.log"
$template nginx_error_tiqr-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/tiqr/tiqr_nginx_error.log"
$template nginx_access_ra-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/ra/ra_nginx_access.log"
$template nginx_error_ra-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/ra/ra_nginx_error.log"
$template nginx_access_selfservice-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/selfservice/selfservice_nginx_access.log"
$template nginx_error_selfservice-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/selfservice/selfservice_nginx_error.log"
$template stepup-selfservice-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/selfservice/selfservice.log"
$template stepup-authentication-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/stepup-authentication/stepup-authentication.log"
$template galera-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/galera/galera.log"
$template garb-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/galera/galera_garb.log"
$template hostleft-{{ item.name }}, "/opt/surfconext/logs/hosts/{{ item.name }}/%HOSTNAME%/%SYSLOGFACILITY-TEXT%"
