$template nginx_access_gateway-{{ item.name }}, "{{ rsyslog_dir }}/apps/{{ item.name }}/sa-gw/sa-gw_nginx_access.log"
$template nginx_error_gateway-{{ item.name }}, "{{ rsyslog_dir }}/apps/{{ item.name }}/sa-gw/sa-gw_nginx_error.log"
$template stepup_gateway-{{ item.name }}, "{{ rsyslog_dir }}/apps/{{ item.name }}/sa-gw/stepup-gateway.log"
$template nginx_access_middleware-{{ item.name }}, "{{ rsyslog_dir }}/apps/{{ item.name }}/middleware/middleware_nginx_access.log"
$template nginx_error_middleware-{{ item.name }}, "{{ rsyslog_dir }}/apps/{{ item.name }}/middleware/middleware_nginx_error.log"
$template nginx_access_keyserver-{{ item.name }}, "{{ rsyslog_dir }}/apps/{{ item.name }}/keyserver/keyserver_nginx_access.log"
$template nginx_error_keyserver-{{ item.name }}, "{{ rsyslog_dir }}/apps/{{ item.name }}/keyserver/keyserver_nginx_error.log"
$template nginx_access_tiqr-{{ item.name }}, "{{ rsyslog_dir }}/apps/{{ item.name }}/tiqr/tiqr_nginx_access.log"
$template nginx_error_tiqr-{{ item.name }}, "{{ rsyslog_dir }}/apps/{{ item.name }}/tiqr/tiqr_nginx_error.log"
$template nginx_access_ra-{{ item.name }}, "{{ rsyslog_dir }}/apps/{{ item.name }}/ra/ra_nginx_access.log"
$template nginx_error_ra-{{ item.name }}, "{{ rsyslog_dir }}/apps/{{ item.name }}/ra/ra_nginx_error.log"
$template nginx_access_selfservice-{{ item.name }}, "{{ rsyslog_dir }}/apps/{{ item.name }}/selfservice/selfservice_nginx_access.log"
$template nginx_error_selfservice-{{ item.name }}, "{{ rsyslog_dir }}/apps/{{ item.name }}/selfservice/selfservice_nginx_error.log"
$template stepup-selfservice-{{ item.name }}, "{{ rsyslog_dir }}/apps/{{ item.name }}/selfservice/selfservice.log"
$template stepup-tiqr-{{ item.name }}, "{{ rsyslog_dir }}/apps/{{ item.name }}/tiqr/tiqr.log"
$template stepup-ra-{{ item.name }}, "{{ rsyslog_dir }}/apps/{{ item.name }}/ra/ra.log"
$template stepup-middleware-{{ item.name }}, "{{ rsyslog_dir }}/apps/{{ item.name }}/middleware/middleware.log"
$template galera-{{ item.name }}, "{{ rsyslog_dir }}/apps/{{ item.name }}/galera/galera.log"
$template garb-{{ item.name }}, "{{ rsyslog_dir }}/apps/{{ item.name }}/galera/galera_garb.log"
$template sendmail-{{ item.name }}, "{{ rsyslog_dir }}/apps/{{ item.name }}/sendmail/sendmail.log"
$template hostleft-{{ item.name }}, "{{ rsyslog_dir }}/hosts/{{ item.name }}/%HOSTNAME%/%SYSLOGFACILITY-TEXT%"
$template stepup-authentication-{{ item.name }}, "{{ rsyslog_dir }}/log_logins/{{ item.name }}/stepup-authentication.log"
$template MARK-{{ item.name }}, "{{ rsyslog_dir }}/monitoring/%HOSTNAME%"
