$template haproxy-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/haproxy/haproxy.log"
$template aa-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/aa/aa.log"
$template apache-aa-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/aa/apache.log"
$template authz-admin-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/authz-admin/authz-admin.log"
$template apache-authz-admin-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/authz-admin/apache.log"
$template authz-playground-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/authz-playground/authz-playground.log"
$template apache-authz-playground-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/authz-playground/apache.log"
$template authz-server-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/authz-server/authz-server.log"
$template apache-authz-server-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/authz-server/apache.log"
$template dashboard-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/dashboard/dashboard.log"
$template apache-dashboard-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/dashboard/apache.log"
$template eb-api-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/eb-api/eb-api.log"
$template apache-eb-api-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/eb-api/apache.log"
$template manage-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/manage/manage.log"
$template apache-manage-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/manage/apache.log"
$template oidc-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/oidc/oidc.log"
$template apache-oidc-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/oidc/apache.log"
$template pdp-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/pdp/pdp.log"
$template pdpanalytics-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/pdp/pdpanalytics.log"
$template apache-pdp-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/pdp/apache.log"
$template profile-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/profile/profile.log"
$template apache-profile-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/profile/apache.log"
$template teams-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/teams/teams.log"
$template apache-teams-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/teams/apache.log"
$template voot-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/voot/voot.log"
$template apache-voot-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/voot/apache.log"
$template galera-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/galera/galera.log"
$template garb-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/galera/galera_garb.log"
$template keepalived-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/keepalived/keepalived.log"
$template apache-static-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/static/apache.log"
$template ebauth-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/eb/ebauth.log"
$template apache-eb-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/eb/apache.log"
$template eblog-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/eb/eb.log"
$template apache-metadata-{{ item.name }}, "/opt/surfconext/logs/apps/{{ item.name }}/%$YEAR%-%$MONTH%-%$DAY%/metadata/apache.log"
$template hostleft-{{ item.name }}, "/opt/surfconext/logs/hosts/{{ item.name }}/hosts/%$YEAR%-%$MONTH%-%$DAY%/%HOSTNAME%/%SYSLOGFACILITY-TEXT%"
