$template auditd-{{ item.name }}, "{{ rsyslog_dir }}/apps/{{ item.name }}/auditd/%HOSTNAME%/auditd.log"
$template bash-{{ item.name }},   "{{ rsyslog_dir }}/apps/{{ item.name }}/bash/%HOSTNAME%/bash.log"
$template secure-{{ item.name }}, "{{ rsyslog_dir }}/apps/{{ item.name }}/secure/%HOSTNAME%/secure.log"
$template MARK-{{ item.name }},   "{{ rsyslog_dir }}/monitoring/%HOSTNAME%"

$template hostleft-{{ item.name }}, "{{ rsyslog_dir }}/hosts/{{ item.name }}/%HOSTNAME%/%SYSLOGFACILITY-TEXT%"
