logging:
  config: file://{{ manage_dir }}/logback.xml
  level:
    org.springframework.data.mongodb: INFO

cookie:
  secure: true
  # Options are 'Strict', 'Lax' or 'None'
  same_site: None

base_domain: {{ base_domain }}

server:
  # The port to where this Spring Boot application listens to.
  port: {{ springapp_tcpport }}
  error:
    path: "/error"
  server-header:
  servlet:
    # We serve from the root. Do not change this
    context-path:
    session:
      timeout: 28800
      cookie:
        secure: true

features: {{ manage.features }}

push:
  eb:
    url: https://{{ engine_api_domain }}/api/connections
    user: {{ engine_api_metadata_push_user }}
    password: {{ engine_api_metadata_push_password }}
    name: {{ instance_name }} EngineBlock
    exclude_edugain_imports: {{ manage_exclude_edugain_imports_in_push }}
    exclude_oidc_rp: {{ manage_exclude_oidc_rp_imports_in_push }}
  oidc:
    url: https://connect.{{ base_domain }}/manage/connections
    user: manage
    name: {{ manage.oidcng_name }}
    password: {{ oidcng_api_metadata_push_password }}
    enabled: {{ manage.oidc_push_enabled }}

product:
  name: Manage
  organization: {{ instance_name }}
  service_provider_feed_url: {{ manage_service_provider_feed_url }}
  supported_languages: {{ supported_language_codes }}
  show_oidc_rp: {{ manage_show_oidc_rp_tab }}

metadata_configuration_path: file://{{ manage_dir }}/metadata_configuration
metadata_templates_path: file://{{ manage_dir }}/metadata_templates
metadata_exports_path: file://{{ manage_dir }}/metadata_export

security:
  backdoor_user_name: {{ manage.backdoor_api_user }}
  backdoor_password: {{ manage_backdoor_api_password }}
  api_users_config_path: file://{{ manage_dir }}/manage-api-users.yml

spring:
  mail:
    host: localhost
    port: 25
  data:
    mongodb:
      uri: mongodb://{{ manage.mongo_user }}:{{ manage.mongo_password }}@{% if not mongo_cluster %}{{ mongo_hostname }}{% else %}{% for host in groups['mongo_servers'] %}{{ hostvars[host]['mongo_hostname'] }}:{{ manage.mongo_port }}{% if not loop.last %},{% endif %}{% endfor %}{% endif %}/{{ manage.mongo_database }}{% if mongo_tls %}?ssl=true{% endif %}

  main:
    banner-mode: "off"

gui:
  disclaimer:
    background-color: {{ manage_disclaimer_background_color }}
    content: {{ manage_disclaimer_content }}

# We disable all endpoints except health for the load-balancer and info for git information.
management:
  health:
    mail:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "health,info"
      base-path: "/internal"
  endpoint:
    info:
      enabled: true
  info:
    git:
      mode: full
