# Valid scopes are manage.api.Scope.values(); =>
#    ADMIN, //Standard scope for all GUI related endpoint (e.g. /manage/api/client/** endpoints)
#    CHANGE_REQUEST_IDP, //Allowed to create change requests for IdP
#    CHANGE_REQUEST_SP, //Allowed to create change requests for SP
#    POLICIES, //Allowed to create (excluding Identity Providers) and update all entities
#    PUSH, //Allowed to push changes to EB & OIDC-NG
#    READ, //Allowed to read entities
#    SYSTEM, //Allowed everything including Attribute Manipulation
#    WRITE_SP, //Allowed to CRUD SP / RP /RS
#    WRITE_IDP //Allowed to CRUD IdP

apiUsers:
  {% for user in manage.apiUsers %}
  - {
      name: "{{ user.name }}",
      password: "{{ user.password }}",
      scopes: [ {{ user.scopes|join(', ') }} ]
    }
  {% endfor %}
