# The logging configuration.
logging:
  config: file://{{ teams_dir }}/logback.xml
  level:
    org.hibernate.SQL: INFO

api:
  lifecycle:
    username: {{ teams_api_lifecycle_username }}
    password: {{ teams_api_lifecycle_password }}

secure_cookie: true

server:
  # The port to where this Spring Boot application listens to. e.g. http://localhost:{{ springapp_tcpport }}
  port: {{ springapp_tcpport }}
  # We serve from the root. Do not change this
  contextPath:
  session:
    timeout: 28800
    cookie:
      secure: true
  server-header: no

feature-toggles:
  expiry-date-membership: false
  person-email-picker: false

config:
  support-email: {{ support_email }}
  help-link-en: {{ teams_help_link_en }}
  help-link-nl: {{ teams_help_link_nl }}
  help-tos-en: {{ teams_tos_en }}
  help-tos-nl: {{ teams_tos_nl }}
  main-link: {{ teams_main_link }}
  organization: {{ teams_organization }}
  supported_language_codes: {{ supported_language_codes }}

security:
  user:
    name: {{ teams.voot_api_user }}
    password: {{ external_group_provider_secrets.teams }}

sp_dashboard:
  user-name: {{ teams.spdashboard_api_user }}
  password: {{ teams_api_spdashboard_password }}
  person-urn: "{{ teams.spdashboard_person_urn }}"
  name: "SP Dashboard"
  email: "{{ support_email }}"

# Is this node in a load-balanced topology responsible for cleaning up resources (See ExpiredInvitationsRemover)
cron:
  node-cron-job-responsible: {{ teams_cronjobmaster }}
  expression: "0 0/15 * * * ?"

teams:
  default-stem-name: "{{ teams.default_stem_name }}"
  group-name-context: "{{ teams.group_name_context }}"
  product-name: "{{ teams.product_name }}"
  non-guest-member-of: "{{ guest_qualifier }}"

super_admins_team:
  urns:
    {% for value in teams.super_admins_team_urns %}
- "{{ value }}"
    {% endfor %}

voot:
  serviceUrl: https://voot.{{ base_domain }}
  accessTokenUri: "{{ teams_oauth2_token_url }}"
  clientId: "{{ teams_authz_client_id }}"
  clientSecret: "{{ teams_authz_client_secret }}"
  scopes: "{{ teams_manage_provision_oidcrp_scopes }}"

spring:
  session:
    cleanup:
      cron:
        expression: {{ teams_cron_session_cleanup_expression }}
    store-type: jdbc
    jdbc:
      schema: classpath:org/springframework/session/jdbc/schema-mysql.sql
      initialize-schema: always
  jpa:
    properties:
      hibernate:
        naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
        dialect: org.hibernate.dialect.MariaDB53Dialect
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mysql://{{ teams.db_host }}/{{ teams.db_name }}?useMysqlMetadata=true
    username: {{ teams.db_user }}
    password: {{ teams.db_password }}
    tomcat:
      test-on-borrow: true
      validation-query: SELECT count(*) FROM invitations
      remove-abandoned: true
  mail:
    host: {{ smtp_server }}
    port: 25
  main:
    banner-mode: "off"
flyway:
  validate-on-migrate: false

management:
  health:
    mail:
      enabled: false
email:
  from: {{ instance_name }} Teams <{{ noreply_email }}>
  base-url: https://teams.{{ base_domain }}
