#
# Copyright 2012 SURFnet bv, The Netherlands
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# Home page ({{ instance_name }} Teams / all teams)
jsp.home.MyTeams={{ instance_name }} Teams
jsp.home.AllTeams=Public Teams
jsp.home.SearchTeam=Search all teams
jsp.home.AddTeam=Add Team
jsp.home.DefaultSearchTerm=search team
jsp.home.ViewAll=View All
jsp.home.NoTeamsFound=Sorry, no teams have matched this query, please try again.
jsp.home.NoTeams=You are not a member of a team yet. You can either create a team by clicking on the \"Add Team\" \
  button or join teams by browsing to the \"Public Teams\" section.
jsp.home.NoTeams.Guest=You are not a member of a team yet. You can join teams by browsing to the \"Public Teams\" \
  section.
jsp.home.NoSearchQuery=You can request access to a public team. Start finding these teams by entering a search query
jsp.home.NoExternalGroups=No groups were returned by your institution.
jsp.home.MyInvitations=My Invitations
jsp.home.MyInvitations.NotFound=You have no pending invitations for teams.

# Teams table
jsp.home.table.Team=Team
jsp.home.table.Description=Description
jsp.home.table.source=Source
jsp.home.table.Role=Role
jsp.home.table.Members=Members

# Add team page
jsp.addteam.Title=Add Team
jsp.addteam.Submit=Create
jsp.addteam.Consent=Share this information with the applications used by this team.
jsp.addteam.error.duplicate=This name already exists. Choose a different name.
jsp.addteam.teamName.info=The name of the team cannot be changed once the team has been created.
jsp.addteam.description.info=It is recommended to express here what you want to do with the team, if you can. If this \
  team is created to work with some Apps, name them here.
jsp.addteam.admin1=Admin 1
jsp.addteam.admin1.you=(you)
jsp.addteam.admin2=Admin 2
jsp.addteam.admin2.info=It is recommended to invite another admin.
jsp.addteam.admin2.placeholder=by email address
NotEmpty.teamName=This field is required
Email.admin2Email=Not a well-formed email address

# Edit team page
jsp.editteam.Title=Edit Team
jsp.editteam.Submit=Save

# Join team page
jsp.jointeam.Title=Join Team
jsp.jointeam.Message=Dear Admin,\n\n{0} would like to join team {1}.
jsp.jointeam.Message.label=Personal message in join request
jsp.jointeam.Submit=Send request
jsp.jointeam.Consent=By joining this team I give permission to share my personal information with services my team members use.

# Add member page
jsp.addmember.Title=Invite Members
jsp.addmember.Email.placeholder=Add by email address
jsp.addmember.Role=Role within the team
jsp.addmember.Language=Send invitation in
jsp.addmember.Message.label=Personal message in invitation
jsp.addmember.Submit=Invite members
jsp.addmember.CsvEmail=Import mail file
jsp.addmember.CsvEmail.help=Email addresses should be separated by commas

# Add external group to SURFteam page
jsp.addexternalgroup.Title=Add groups
jsp.addexternalgroup.TeamsYouCanAdd=Groups you can add to team {0}
jsp.addexternalgroup.Submit=Add groups
jsp.addexternalgroup.NoGroups=There are no groups you can add to this team
jsp.addallowedserviceproviders.teamswithaccess=Service Providers that have access to the team

# Detail team page (not member, member, manager, admin)
jsp.detailteam.Back=Back to teams
jsp.detailteam.Join=Join
jsp.detailteam.Edit=Edit
jsp.detailteam.Delete=Delete
jsp.detailteam.Leave=Resign From Team
jsp.detailteam.Name=Name
jsp.detailteam.Admin=Admin
jsp.detailteam.Manager=Manager
jsp.detailteam.Member=Member
jsp.detailteam.TeamMembers=Team members
jsp.detailteam.InvitationPending=Invitation pending to become {0}
jsp.detailteam.InvitationDeclined=Declined
jsp.detailteam.AddRoleSuccess=The roles have been updated!
jsp.detailteam.AddRoleFailure=Something went wrong, please try again!
jsp.detailteam.RemoveRoleSuccess=The roles have been updated!
jsp.detailteam.RemoveRoleFailure=Something went wrong, please try again!
jsp.detailteam.RemoveRoleFailureOneAdmin=You cannot remove the admin role, since there must be at least one admin in the team.
jsp.detailteam.RemoveMemberFromTeam=Remove member from team
jsp.detailteam.RemoveExternalGroupFromTeam=Remove external group from team
jsp.detailteam.PendingRequests=Requests to join team
jsp.detailteam.PendingInvitations=Pending invitations
jsp.detailteam.AcceptJoinRequest=Add member
jsp.detailteam.DenyJoinRequest=Decline
jsp.detailteam.DateSent=Date sent
jsp.detailteam.Expires=Expiration date
jsp.detailteam.InvitedBy=Invited by
jsp.detailteam.Resend=send again
jsp.detailteam.InvitationInformation=Invitation information
jsp.detailteam.OnlyAdminWarning=You are the only admin in this team
jsp.detailteam.ExternalGroupInformationWarning=This group information is provided by {0} and is therefore read-only.
jsp.detailteam.InstitutionalGroups=Groups from institutions
jsp.detailteam.IndividualMembers=Individual members
jsp.detailteam.UniqueId=Unique ID

# Landingpage page
jsp.landingpage.Content=\
<p> With {{ instance_name }} Teams you can manage teams and reuse these in different applications.</p> \
\
<h2>Getting started</h2> \
<ul>\
<li>Select your institution and login with your institutional account.</li>\
<li>Is your institution not listed? Use a guest account (<a href=" https://wiki.surfnet.nl/display/conextsupport/{{ instance_name }}+teams+and+guest+accounts" target="_blank">more info about guest accounts</a>)</li>\
<li>Start directly with {{ instance_name }} Teams</li>\
</ul>
jsp.landingpage.Login=Log in
jsp.landingpage.skip=Skip landing page next time

# Accept Invitation page
jsp.acceptinvitation.Title=Accept Invitation
jsp.acceptinvitation.Accept=Accept
jsp.acceptinvitation.Explanation=On this page you find a summary of your team invitation including details about you current authentication source. If you click "Accept" below, your invitation will be accepted for this account (the account with which you are currently logged in with at {{ instance_name }} Teams).
jsp.acceptinvitation.PersonDetails=Person Details
jsp.acceptinvitation.InvitationDetails=Invitation Details
jsp.acceptinvitation.HomeOrganization=Home Organization
jsp.acceptinvitation.DisplayName=Display Name
jsp.acceptinvitation.UserID=User ID
jsp.acceptinvitation.EmailAddress=Email address
jsp.acceptinvitation.InvitedFor=Invited For
jsp.acceptinvitation.CreatedOn=Created On

# Decline invitation
jsp.declineinvitation.Decline=Decline

# Dialogs
jsp.dialog.leaveteam.Title=Leave Team
jsp.dialog.leaveteam.Confirmation=Are you sure you want to resign from this team?
jsp.dialog.leaveteam.Submit=Leave Team

jsp.dialog.deleteteam.Title=Delete Team
jsp.dialog.deleteteam.Confirmation=Are you sure you want to delete this team?
jsp.dialog.deleteteam.Submit=Delete Team

jsp.dialog.deletemember.Title=Delete Member
jsp.dialog.deletemember.Confirmation=Are you sure you want to delete this member?
jsp.dialog.deletemember.Submit=Delete Member

jsp.dialog.removeexternalgroup.Title=Remove group
jsp.dialog.removeexternalgroup.Confirmation=Are you sure you want to remove this group from the team?
jsp.dialog.removeexternalgroup.Submit=Remove group


# GroupZy
jsp.addallowedserviceproviders.Title=Select Service Providers to add
jsp.addallowedserviceproviders.add=Save
jsp.addallowedserviceproviders.edit=Edit Service Providers
jsp.addallowedserviceproviders.delete=Delete

# General messages
jsp.general.Title={{ instance_name }} Teams
jsp.general.CloseForm=Close
jsp.general.TeamName=Team Name
jsp.general.Email=Email
jsp.general.Message=Message
jsp.general.Description=Description
jsp.general.TeamViewability=List this team in the public teams index so people can see team information and request membership for this team
jsp.general.Cancel=Cancel
jsp.general.Accept=Accept
jsp.general.NoDescription=This team does not have a description.
jsp.general.Welcome=Welcome
jsp.general.Logout=Logout
jsp.general.Help=Help
jsp.general.surfnet.Name=SURFnet
jsp.general.Question=For questions email:
jsp.general.TermsOfUse=Terms of Service
jsp.general.TermsOfUse.url=https://wiki.surfnet.nl/display/conextsupport/Terms+of+Service+%28EN%29
jsp.general.Copyright=Copyright
jsp.general.First=first
jsp.general.Previous=prev
jsp.general.Next=next
jsp.general.Last=last
jsp.general.Source=Source
jsp.general.NotShared=Not shared

# JSP error messages
jsp.error.Title=Error
jsp.error.Message=Something went wrong. Please try to reload the page or go back to \
  <a href="home.shtml?teams=my">{{ instance_name }} Teams</a>

# Error messages
error.AdminCannotLeaveTeam=You cannot leave the team, because you are the only administrator. Please assign another administrator.
error.NotAuthorizedToDeleteMember=You cannot delete the member.
error.WrongFormattedEmailList=The format for one or more emails is incorrect.
error.IncorrectEmailFormat=The format of the email address is incorrect.
error.RequiredField=This field is required.
error.NotAuthorizedForAction=You are not authorized for this action.

# Activities
activity.NewTeamTitle=Team: {0} has been created
activity.NewTeamBody=A new team ({0}) has been created
activity.NewMemberTitle={0} has been invited to team {1}
activity.NewMemberBody={0} has been invited to team {1}

# Team invites
invite.introduction=<p>Add the email addresses of colleagues you would like to invite for your team</p>\
  <p>You can invite one or more people by their email address. To send multiple invitations, separate \
  the email addresses by a comma or upload a file (csv or txt) with comma-separated email addresses.</p>
invite.SendInviteSubject=Invitation to join team {0}
invite.errors.EmptyCSV=The uploaded file does not contain any data
invite.errors.NoEmailAddresses=You did not provide an email address. Please provide at least one email address or \
  upload a CSV file

jsp.invitationdeclined.success=You have successfully declined the invitation and will not be added to the team.

jsp.invitationmissing.failed=<p>The invitation could not be granted. Either the invitation has expired or the team administrator has revoked the invitation.</p>
jsp.invitationdeclined.failed=<p>The invitation could not be granted. You have earlier declined the invitation.</p>
jsp.invitationaccepted.failed=<p>The invitation has already been accepted. You can <a href="{0}">go to the team</a> directly.</p>

request.MembershipSubject=Membership request for team {0}
request.mail.declined.subject=Your request has been declined
request.mail.accepted.subject=Your request has been accepted

jsp.resendInvite.Title=Resend invitation

role.added=Role was added
role.removed=Role was removed
no.role.added=No role added
no.role.removed=No role removed
no.role.added.guest.status=No role added, guest users may not become admin
no.role.added.admin.status=No role removed, there must be always one admin
no.role.action=Unexpected exception occurred, no role was altered

mail.invitation.header=Invitation from {0} via {{ instance_name }} Teams
mail.invitation.invitedBy={0} invited you to join team <strong>{1}</strong>. Please read below what steps you must take to accept this invitation.
mail.invitation.personalMessage=<strong>Personal Message from {0}:</strong><br>"{1}"
mail.invitation.teamDescription=<strong>Team description:</strong><br>"{0}"
mail.invitation.accepting=<strong>Accept invitation:</strong><br>To accept this invitation, please click 'Login to accept this invitation'. After logging in with your institutional account you are a member of the team.
mail.invitation.expire=If you do not want to accept this invitation, please click 'Decline this invitation' or simply ignore this email. The invitation automatically expires after 14 days.
mail.invitation.accept=Login to accept this invitation
mail.invitation.decline=Decline this invitation
mail.invitation.needHelp=<strong>Need help?</strong><br>{0} invited you to join this team. Please contact {0} &lt;{1}&gt; if you have any questions about this invitation.
mail.invitation.otherQuestions=For any other questions, consult the <a href="https://wiki.surfnet.nl/display/conextsupport/{{ instance_name }}+teams" style="color:#0088CC;">manual for specific information on {{ instance_name }} Teams</a> or contact {{ instance_name }} Teams support at <a href="mailto:{{ support_email }}" style="color:#0088CC;">{{ support_email }}</a>.
mail.invitation.powerdBy=This service is powered by <a href="https://www.surfconext.nl" style="color:#0088CC;">{{ instance_name }}</a> - brought to you by <a href="https://www.surfnet.nl" style="color:#0088CC;">SURFnet</a>

