{
{% if docker_config_extraops is defined-%}
  {{ docker_config_extraops }}
  {% endif %}
  "live-restore": true,
  "log-driver": "journald",
  "log-opts" : { 
     "tag" : "{{ '{{' }}.Name{{ '}}' }}"
  }
}

