{
  {%- docker_config_extraops -%}
  "live-restore": true,
  "log-driver": "journald",
  "log-opts" : { 
     "tag" : "{{ '{{' }}.Name{{ '}}' }}"
  }
}

{
  "data-root": "/data/docker",
    "features": {
        "containerd-snapshotter": false
  },
  "live-restore": true,
  "log-driver": "journald",
  "log-opts" : { 
     "tag" : "{{.Name}}"
  }
}
