# Log configuration
logging.config=file:///logback.xml

# Port for spring boot application
server.port=8080
server.servlet.session.cookie.secure=true

# We serve from the root. Do not change this
server.servlet.context-path=

# An empty value will be replaced with the default
server.server-header=no

# The environment: test | acc | prod
spring.profiles.active={{ pdp.spring_profiles_active }}

# 8 hours
server.session-timeout=28800

# PDP database settings
spring.datasource.driverClassName=org.mariadb.jdbc.Driver
spring.datasource.url=jdbc:mariadb://{{ pdp.db_host }}/{{ pdp.db_name }}?socketTimeout=30000
spring.datasource.username={{ pdp.db_user }}
spring.datasource.password={{ pdp.db_password }}
spring.jpa.open-in-view=True
spring.flyway.enabled={{ pdp_spring_flyway_enabled }}
spring.mvc.dispatch-options-request=true
spring.flyway.validate-on-migrate=false
spring.flyway.table=schema_version
spring.mail.host={{ smtp_server }}
spring.mail.port=25

email.base_url=https://pdp.{{ base_domain }}/conflicts
email.from={{ pdp_email_from }}
email.to={{ error_mail_to }}
invalid.policies.email.to={{ pdp_invalid_policies_error_mail_to }}

# Set to debug to see all database queries, for acc and prod set to INFO
logging.level.org.hibernate.SQL=INFO
logging.level.org.hibernate.type.descriptor.sql.BasicBinder=INFO

# Internal API user (e.g. EngineBlock who call the PDP to check policies
policy.enforcement.point.user.name={{ pdp.username }}
policy.enforcement.point.user.password={{ pdp.password }}

# The main XACML properties
xacml.properties.path=file:///xacml.conext.properties
policy.base.dir=file:///xacml-policies

# Do we cache the policies in memory - recommended for production
policies.cachePolicies={{ pdp.cache_policies }}

# The refresh period for policies (if cached)
period.policies.refresh.minutes={{ pdp.cache_policies_period }}

manage.username=pdp
manage.password={{ manage_pdp_secret }}
period.manage.refresh.minutes=10
manage.manageBaseUrl=https://manage.{{ base_domain }}
# If true the manage push is done against the pdp_migrated_policies for testing purposes
manage.pushTestMode=true

# Number of days how long the policy violations are retained
policy.violation.retention.period.days=30

# Voot client configuration for the teams PIP
voot.serviceUrl=https://voot.{{ base_domain }}
voot.accessTokenUri={{ pdp_oauth2_token_url }}
voot.userAuthorizationUri={{ pdp_oauth2_authorize_url }}

# The OAuth2 client details
voot.clientId={{ pdp_oauth2_clientid }}
voot.clientSecret={{ pdp_client_secret }}
voot.scopes ={{ pdp_manage_provision_oidcrp_scopes }}

# SAB configuration
sab.userName={{ pdp.sab_username }}
sab.password={{ pdp.sab_password }}
sab.endpoint={{ pdp.sab_endpoint }}

# Do not expose any of the Spring BOOT endpoints except the health and info for loadbalancer health check
endpoints.enabled=false
endpoints.health.enabled=true
endpoints.info.enabled=true

# This is the internal logging of PDP. Leave this to DEBUG for now as it is not much overhead
logging.level.pdp=DEBUG

# In a multi master database setup toggle which machine is responsible for cron jobs
pdpCronJobResponsible={{ pdp_cronjobmaster }}

loa.levels={{ stepup_loa_values_supported | join(",") }}

management.health.mail.enabled=true
management.endpoints.web.exposure.include=health,info
management.endpoints.web.base-path=/internal
management.endpoint.info.enabled=true
management.info.git.mode=full


