<?xml version="1.0" encoding="UTF-8"?>
<Policy xmlns="urn:oasis:names:tc:xacml:3.0:core:schema:wd-17" PolicyId="urn:com:att:xacml:policy:id:4ec39305-37d5-40c4-a614-8a258683b114"
        Version="1"
        RuleCombiningAlgId="urn:oasis:names:tc:xacml:1.0:rule-combining-algorithm:first-applicable">
    <Description>Policy for requiring team membership</Description>
    <Target>
        <AnyOf>
            <AllOf>
                <Match MatchId="urn:oasis:names:tc:xacml:1.0:function:string-equal">
                    <AttributeValue DataType="http://www.w3.org/2001/XMLSchema#string">http://admin-sp</AttributeValue>
                    <AttributeDesignator Category="urn:oasis:names:tc:xacml:3.0:attribute-category:resource"
                                         AttributeId="urn:oasis:names:tc:SAML:2.0:nameid-format:entity"
                                         DataType="http://www.w3.org/2001/XMLSchema#string"
                                         MustBePresent="true" />
                </Match>
            </AllOf>
        </AnyOf>
    </Target>
    <Rule RuleId="SURFconext.TeamAccess.permitAccess" Effect="Permit">
        <Description>To access admin-sp one must be a member of the team xacml-admins</Description>
        <Target>
            <AnyOf>
                <AllOf>
                    <Match MatchId="urn:oasis:names:tc:xacml:1.0:function:string-equal">
                        <AttributeValue DataType="http://www.w3.org/2001/XMLSchema#string">xacml-admins</AttributeValue>
                        <AttributeDesignator Category="urn:oasis:names:tc:xacml:3.0:attribute-category:resource"
                                             AttributeId="urn:mace:dir:attribute-def:group-name"
                                             DataType="http://www.w3.org/2001/XMLSchema#string"
                                             MustBePresent="false" />
                    </Match>
                </AllOf>
            </AnyOf>
        </Target>
    </Rule>
    <Rule Effect="Deny" RuleId="SURFconext.TeamAccess.denyAccess">
        <Description />
        <Target />
    </Rule>
</Policy>