<p>Dear {{ commonName }},</p>

<p>Thank you for registering your token. Please visit this link to verify your email address:</p>

<p><a href='{{ verificationUrl }}'>{{ verificationUrl }}</a></p>

<p>If you can not click on the URL, please copy the link and paste it in the address bar of your browser.</p>
