<p>Dear {{ commonName }},</p>

<p>Thank you for registering a recovery method. You can use this method if you want to reactivate a token that you have lost.</p>

<p>Always make sure you have at least one recovery method available.</p>
