# The logging configuration.
logging:
  config: file:///logback.xml
  level:
    aa: DEBUG

server:
  # The port to where this Spring Boot application listens to. e.g. http://localhost:8080
  port: 8080
  servlet:
    session:
      timeout: 28800
      cookie:
        secure: true
  server-header: no

scim_server_environment: test.surfconext
attribute_authorities_config_path: file:///attributeAuthorities.yml
authorization_access_token_url: "{{ aa_oauth2_token_url }}"
aggregate_cache_duration_milliseconds: -1

institution:
  service_provider_config_path: file:///serviceProviderConfig.json

orcid:
  authorization_uri: "{{ aa.orcid_authorization_uri }}"
  access_token_uri: "{{ aa.access_token_uri }}"
  client_id: "{{ aa.orcid_client_id }}"
  client_secret: "{{ aa.orcid_secret }}"
  redirect_uri: https://link.{{ base_domain }}/redirect

security:
  internal_user_name: {{ aa.eb_username }}
  internal_password: {{ aa.eb_password }}

api:
  lifecycle:
    username: {{ attribute_aggregator_api_lifecycle_username }}
    password: "{{ attribute_aggregator_api_lifecycle_password }}"

pseudo:
  mail_postfix: {{ attribute_aggregation_pseudo_mail_postfix }}

spring:
  jpa:
    properties:
      hibernate:
        naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
    open-in-view: true
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://{{ aa.db_host }}/{{ aa.db_name }}?socketTimeout=30000
    username: {{ aa.db_user }}
    password: {{ aa.db_password }}
  main:
    banner-mode: "off"
  flyway:
    enabled: {{ aa_spring_flyway_enabled }}
    validate-on-migrate: false
    table: schema_version

# In a multi master database setup toggle which machine is reponsible for cron jobs
cron_job_responsible: {{ aa_cronjobmaster }}
pseudo_emails_retention_days_period: {{ attribute_aggregation_pseudo_emails_retention_days_period }}


# We disable all endpoints except health for the load-balancer and info for git information.
management:
  endpoints:
    web:
      exposure:
        include: "health,info"
      base-path: "/internal"
  endpoint:
    info:
      enabled: true
  info:
    git:
      mode: full
