hosts    = {{ aa.db_host }}
user     = {{ aa.db_user }}
password = {{ aa.db_password }}
dbname   = {{ aa.db_name }}

query = SELECT email FROM pseudo_emails WHERE pseudo_email='%s'
expansion_limit = 1

domain = {{ attribute_aggregation_pseudo_mail_postfix }}

