---
- name: Create user
  user: name=voot system=yes home={{ voot_dir }} shell=/sbin/nologin

- name: Copy systemd service file
  template: src=templates/spring-boot.service.j2 dest=/etc/systemd/system/{{ springapp_service_name }}.service
  notify:
    - "systemctl daemon-reload"
    - "restart voot"

- name: Check presence of legacy init script
  stat: path=/etc/init.d/{{ springapp_service_name }}
  register: legacy_voot_present

- name: Stop service when legacy init script is present
  service: name={{ springapp_service_name }} state=stopped
  when: legacy_voot_present.stat.exists

- name: Clean up legacy init script
  file: path=/etc/init.d/{{ springapp_service_name }} state=absent

- name: enable voot service
  service: name=voot enabled=yes

- name: Create logging directory
  file: path=/var/log/{{ springapp_service_name }} state=directory owner=voot group=voot mode=0755

- include: ../../../tasks/springbootapp/install-release.yml
  when: "voot_snapshot_timestamp == '' and voot_local_jar == ''"

- include: ../../../tasks/springbootapp/install-snapshot.yml
  when: "voot_snapshot_timestamp != '' and voot_local_jar == ''"

- include: ../../../tasks/springbootapp/install-local.yml
  when: "voot_local_jar != ''"

- name: Copy logging config
  template: src=logback.xml.j2 dest={{ voot_dir }}/logback.xml owner=voot group=voot mode=0740
  notify: restart voot

- name: Copy application config
  template: src=application.properties.j2 dest={{ voot_dir }}/application.properties owner=voot group=voot mode=0740
  notify: restart voot

- name: Copy externalProviders config
  template: src=externalProviders.yml.j2 dest={{ voot_dir }}/externalProviders.yml owner=voot group=voot mode=0740
  notify: restart voot

- name: copy apache config
  template: src=voot.conf.j2 dest=/etc/httpd/conf.d/voot.conf
  notify: reload httpd

# no idea why this is necessary, as the init script returns an ok status also
# if voot is still initializing.  Waiting for the port to open works well
# though, and seems like to correct way to handle this.
- name: start the voot service
  service: name=voot state=started enabled=yes
  ignore_errors: true

- name: wait for voot to start
  wait_for: connect_timeout=30 port={{ springapp_tcpport }} state=started

- name: ensure the service is started
  service: name=voot enabled=yes state=started

