{
  "$schema": "http://json-schema.org/draft-04/schema#",
  "title": "oauth20_rs",
  "order": 4,
  "definitions": {
    "NameIDFormat": {
      "type": "string",
      "enum": [
        "urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified",
        "urn:oasis:names:tc:SAML:2.0:nameid-format:transient",
        "urn:oasis:names:tc:SAML:2.0:nameid-format:persistent"
      ],
      "default": "urn:oasis:names:tc:SAML:2.0:nameid-format:persistent",
      "info": "This indicates whether the nameID is set to something random or the same every time the user logs in. Use transient if user does not need to be identified in a new session."
    }
  },
  "type": "object",
  "properties": {
    "id": {
      "type": "number"
    },
    "eid": {
      "type": "number"
    },
    "entityid": {
      "type": "string",
      "format": "basic-authentication-user"
    },
    "type": {
      "type": "string",
      "enum": [
        "oauth20-rs"
      ]
    },
    "revisionid": {
      "type": "number"
    },
    "state": {
      "type": "string",
      "enum": [
        "prodaccepted",
        "testaccepted"
      ]
    },
    "user": {
      "type": "string"
    },
    "created": {
      "type": "string"
    },
    "revisionnote": {
      "type": "string"
    },
    "active": {
      "type": "boolean"
    },
    "notes": {
      "type": [
        "string",
        "null"
      ]
    },
    "metaDataFields": {
      "type": "object",
      "properties": {
        "NameIDFormat": {
          "$ref": "#/definitions/NameIDFormat"
        },
        "logo:0:url": {
          "type": "string",
          "format": "url",
          "info": "Enter the URL to the logo used for this service. e.g. https://static.example-logo.nl/media/sp/logo.png."
        },
        "logo:0:width": {
          "type": "number",
          "info": "The width of the logo found at logo:0:url in pixels."
        },
        "logo:0:height": {
          "type": "number",
          "info": "The height of the logo found at logo:0:url in pixels."
        },
        "coin:exclude_from_push": {
          "type": "boolean",
          "default": false,
          "info": "Must be set for this Resource Server to be excluded in the EB push."
        },
        "coin:institution_id": {
          "type": "string",
          "info": "The defined institution code. Generally an abbreviation of the name of the institution"
        },
        "coin:institution_guid": {
          "type": "string",
          "format": "uuid",
          "info": "This is a 128 bit number also known as a globally unique identifier (GUID or UUID) for this service."
        },
        "coin:service_team_id": {
          "type": "string",
          "info": "Enter the team name as used in the SP Dashboard. e.g. urn:collab:group:example-teams.nl:nl:surfnet:services:spd_example. "
        },
        "coin:privacy:what_data": {
          "type": "string",
          "info": "Explain in a sufficient level of detail what (types of) data, so not just attributes, are processed within the service."
        },
        "coin:privacy:access_data": {
          "type": "string",
          "info": "Explain what people or roles at which companies can access data, and if necessary to which extend."
        },
        "coin:privacy:country": {
          "type": "string",
          "info": "In what country or countries does the data reside; include both primary processing location(s) as well as for instance locations where backups live."
        },
        "coin:privacy:security_measures": {
          "type": "string",
          "info": "Explains what security measures are taken to protect data. You can also link to a page describing this."
        },
        "coin:privacy:certification": {
          "type": "boolean",
          "info": "Can a Third Party Memorandum (TPM) be supplied? e.g. ISO27001/2, ISAE3402, etc."
        },
        "coin:privacy:certification_location": {
          "type": "string",
          "info": "Where can customers find the mentioned certificates or how can they request access."
        },
        "coin:privacy:certification_valid_from": {
          "type": "string",
          "format": "date-time",
          "info": "The date from which the Third Party Memorandum (TPM) is valid."
        },
        "coin:privacy:certification_valid_to": {
          "type": "string",
          "format": "date-time",
          "info": "The date until the Third Party Memorandum (TPM) is valid."
        },
        "coin:privacy:surfmarket_dpa_agreement": {
          "type": "boolean",
          "info": "Has the service provider agreed a Data Processing Agreement (DPA) with SURFmarket?"
        },
        "coin:privacy:surfnet_dpa_agreement": {
          "type": "boolean",
          "info": "Is the service provider willing to sign the SURF model Data Processing Agreement (DPA)?"
        },
        "coin:privacy:sn_dpa_why_not": {
          "type": "string",
          "info": "Explains why the SP answered no on the subject of the SURFmarket DPA."
        },
        "coin:privacy:dpa_type": {
          "type": "string",
          "enum": [
            "dpa_not_applicable",
            "dpa_in_surf_agreement",
            "dpa_model_surf",
            "dpa_supplied_by_service",
            "other"
          ],
          "default": "dpa_supplied_by_service",
          "info": "Determines what DPA this service has to offer"
        },
        "coin:privacy:privacy_policy": {
          "type": "boolean",
          "info": "Does the SP publish an applicable privacy policy on a web page?"
        },
        "coin:privacy:privacy_policy_url": {
          "type": "string",
          "format": "url",
          "info": "The URL to the applicable privacy policy. "
        },
        "coin:privacy:other_info": {
          "type": "string",
          "info": "Other data privacy and security information that helps the institution decide whether it is OK to connect the service."
        },
        "coin:privacy:gdpr_is_in_wiki": {
          "type": "boolean",
          "info": "Set if the 'General Data Protection Regulation' (GDPR) is available on the SURF wiki. In Dutch known as 'Algemene Verordening Gegevensbescherming' (AVG). "
        },

        "secret": {
          "type": "string",
          "format": "password",
          "info": "The secret of this Resource Server for authentication purposes."
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string",
            "fetch": "scopes"
          },
          "info": "The allowed scopes for this Resource Server."
        }
      },
      "patternProperties": {
        "^name:({{ supported_language_codes | replace(',','|') }})$": {
          "type": "string",
          "info": "Set the name of the service. Format: 'Service Name'"
        },
        "^description:({{ supported_language_codes | replace(',','|') }})$": {
          "type": "string",
          "info": "The description of the service."
        },
        "^OrganizationName:({{ supported_language_codes | replace(',','|') }})$": {
          "type": "string",
          "info": "The formal name of the organization. e.g. Service by University of Harderwijk."
        },
        "^OrganizationDisplayName:({{ supported_language_codes | replace(',','|') }})$": {
          "type": "string",
          "info": "The friendly name of the organization. e.g. University of Harderwijk."
        },
        "^mdui:PrivacyStatementURL:({{ supported_language_codes | replace(',','|') }})$": {
          "type": "string",
          "format": "url",
          "info": "The URL to the Privacy Statement of the service."
        },
        "^contacts:([0-3]{1}):surName$": {
          "type": "string",
          "multiplicity": 4,
          "sibblingIndependent": true,
          "info": "The surname of the contact. e.g. for 'John Doe', 'Doe' is the surname."
        },
        "^contacts:([0-3]{1}):givenName$": {
          "type": "string",
          "multiplicity": 4,
          "sibblingIndependent": true,
          "info": "The given name of the contact. e.g. for 'John Doe', 'John' is the given name."
        },
        "^contacts:([0-3]{1}):emailAddress$": {
          "type": "string",
          "format": "local-email",
          "multiplicity": 4,
          "sibblingIndependent": true,
          "info": "The e-mail address; syntax in accordance with RFC 5322. e.g. m.l.vermeegen@university.example.org."
        },
        "^contacts:([0-3]{1}):telephoneNumber$": {
          "type": "string",
          "multiplicity": 4,
          "sibblingIndependent": true,
          "info": "The telephone number of the contact."
        },
        "^contacts:([0-3]{1}):contactType$": {
          "type": "string",
          "enum": [
            "technical",
            "support",
            "administrative",
            "billing",
            "other"
          ],
          "multiplicity": 4,
          "sibblingIndependent": true,
          "info": "From the pull down, select the type of contact."
        }
      },
      "required": [
        "name:en",
        "OrganizationName:en",
        "secret",
      ],
      "additionalProperties": false
    }
  },
  "required": [
    "entityid",
    "state",
    "metaDataFields"
  ],
  "additionalProperties": false,
  "indexes": []
}
