- name: Disable redirects of traffic when VPN gateway is unreachable
  sysctl:
    name: net.ipv4.conf.all.accept_redirects
    value: 0
    state: present
    ignoreerrors: yes

# todo add this to a generic file and apply to aribtrator and cluster node
- name: Add MariaDB.org repository Rocky 8
  template:
    src: "mariadb.repo.rocky8.j2"
    dest: "/etc/yum.repos.d/mariadb.repo"
  when: ansible_distribution_major_version == '8'

- name: Add MariaDB.org repository Rocky 9
  template:
    src: "mariadb.repo.rocky9.j2"
    dest: "/etc/yum.repos.d/mariadb.repo"
  when: ansible_distribution_major_version == '9'

- name: Install Galera, rsync
  ansible.builtin.package:
    name:
      - galera
    state: installed
  when: ansible_os_family == 'RedHat'

- name: Install galera and rsync
  ansible.builtin.package:
    name:
      - galera-arbitrator-4
    state: present
  when: ansible_os_family == 'Debian'

- name: Create directory to keep Galera key material
  file:
    dest: "/etc/pki/mysql/"
    state: directory
    owner: root
    group: root
    mode: 0775
  when: galera_ssl | bool

- name: copy ca certificate
  copy:
    src: "{{ inventory_dir }}/files/certs/galera/{{item}}"
    dest: "{{ galera_tls_cert_path }}/{{ item }}"
  with_items:
    - "{{ galera_tls_ca }}"
  when:
    - galera_ssl | bool

- name: copy certificates to correct location
  copy:
    src: "{{ inventory_dir }}/files/certs/galera/{{ item.crt_name }}"
    dest: "{{ galera_tls_cert_path }}/{{ item.crt_name }}"
    owner: root
    mode: '0644'
  with_items:
    - "{{ galera_tls }}"
  no_log: true
  when:
    - galera_ssl | bool

- name: copy private keys to correct location
  copy:
    content: "{{ galera_server_key }}"
    dest: "{{ galera_tls_cert_path }}/{{ galera_server_key_name }}"
    mode: 0600
    owner: nobody
  when:
    - galera_ssl | bool

- name: Put garb config file
  template:
    src: "garb.j2"
    dest: "/etc/sysconfig/garb"
  notify:
    - "restart garb"

- name: Start and enable the Galera arbiter service on boot.
  service:
    name: garb
    state: started
    enabled: true
