---
- name: Disable redirects of traffic when VPN gateway is unreachable
  sysctl:
    name: net.ipv4.conf.all.accept_redirects
    value: "0"
    state: present
    ignoreerrors: yes

- name: Lower swappiness
  sysctl:
    name: vm.swappiness
    value: "10"
    state: present
    ignoreerrors: yes

- name: Add MariaDB.org repository Rocky 8
  template:
    src: "mariadb.repo.rocky8.j2"
    dest: "/etc/yum.repos.d/mariadb.repo"
  when: ansible_distribution_major_version == '8'

- name: Add MariaDB.org repository Rocky 9
  template:
    src: "mariadb.repo.rocky9.j2"
    dest: "/etc/yum.repos.d/mariadb.repo"
  when: ansible_distribution_major_version == '9'

- name: Install MariaDB, Galera, socat, python3-PyMySQL
  yum:
    name:
      - MariaDB-server
      - MariaDB-client
      - galera-4
      - python3-PyMySQL  # Required for using the Ansible mysql_* modules
      - MariaDB-backup
      - socat
    state: present

- name: Create mysqltmp directory
  file:
    dest: "/var/lib/mysqltemp"
    state: directory
    owner: mysql
    group: mysql
    mode: 0770

- name: Create mysqlusers group
  group:
    name: mysqlusers
    state: present

- name: Create directory to keep Galera key material
  file:
    dest: "/etc/pki/mysql/"
    state: directory
    owner: root
    group: root
    mode: 0775
  when:
    - galera_ssl | bool

- name: copy ca certificate
  copy:
    src: "{{ inventory_dir }}/files/certs/galera/{{ item }}"
    dest: "{{ galera_tls_cert_path }}/{{ item }}"
    mode: 0444
  with_items:
    - "{{ galera_tls_ca }}"
  when:
    - galera_ssl | bool

- name: copy server certificates to correct location
  copy:
    src: "{{ inventory_dir }}/files/certs/galera/{{ item.crt_name }}"
    dest: "{{ galera_tls_cert_path }}/{{ item.crt_name }}"
    owner: mysql
    mode: 0400
  with_items:
    - "{{ galera_tls }}"
  no_log: true
  when:
    - galera_ssl | bool
    - item.name == 'server'

- name: copy server private keys to correct location
  copy:
    content: "{{ item.key_content }}"
    dest: "{{ galera_tls_cert_path }}/{{ item.key_name }}"
    mode: 0400
    owner: mysql
  with_items:
    - "{{ galera_tls }}"
  no_log: true
  when:
    - galera_ssl | bool
    - item.name == 'server'

- name: copy client certificates to correct location
  copy:
    src: "{{ inventory_dir }}/files/certs/galera/{{ item.crt_name }}"
    dest: "{{ galera_tls_cert_path }}/{{ item.crt_name }}"
    owner: mysql
    group: mysqlusers
    mode: 0440
  with_items:
    - "{{ galera_tls }}"
  no_log: true
  when:
    - galera_ssl | bool
    - item.name == 'client'

- name: copy client private keys to correct location
  copy:
    content: "{{ item.key_content }}"
    dest: "{{ galera_tls_cert_path }}/{{ item.key_name }}"
    mode: 0440
    owner: mysql
    group: mysqlusers
  with_items:
    - "{{ galera_tls }}"
  no_log: true
  when:
    - galera_ssl | bool
    - item.name == 'client'

- name: "Check if this is a new installation or not"
  stat:
    path: "/etc/pki/mysql/{{ galera_sst_crt_name }}"
  register: mariadb_new_installation

- name: Create state transfer key
  shell: awk 'FNR==1{print ""}1' /etc/pki/mysql/{{ galera_server_key_name }} /etc/pki/mysql/{{galera_server_crt_name }} > /etc/pki/mysql/{{ galera_sst_crt_name }}
  args:
    creates: "/etc/pki/mysql/{{ galera_sst_crt_name }}"
  when:
    - galera_ssl | bool

- name: chmod and chown state transfer key
  file:
    path: "/etc/pki/mysql/{{ galera_sst_crt_name }}"
    mode: 0400
    owner: mysql

- name: Put mariadb config files
  template:
    src: "{{ item }}.j2"
    dest: "/etc/my.cnf.d/{{ item }}"
    mode: 0664
    owner: root
    group: root
  notify:
    - "restart mysql"
  with_items:
    - server.cnf
    - mysql-clients.cnf

- name: "Stop MariaDB"
  systemd:
    name: mysql
    state: stopped
  when:
    - not mariadb_new_installation.stat.exists

- name: "Remove some files"
  shell: rm -rf /var/lib/mysql/ib*
  when:
    - not mariadb_new_installation.stat.exists

- name: Bootstrap the first node
  shell: /bin/galera_new_cluster
  when:
    - not mariadb_new_installation.stat.exists
    - galera_bootstrap_node is defined
    - galera_bootstrap_node == inventory_hostname

- name: place the plugin config file
  copy:
    src: plugins.cnf
    dest: /etc/my.cnf.d/plugins.cnf
    mode: 0664
    owner: root
    group: root

- name: Start and enable the MariaDB (mysql) service on boot.
  service:
    name: mysql
    state: started
    enabled: true
  register: mysql_service_state
  until: mysql_service_state is succeeded

- name: Remove test database
  mysql_db:
    name: "test"
    state: absent
    login_user: root
    login_password: "{{ mariadb_root_password }}"
    login_unix_socket: /var/lib/mysql/mysql.sock
  when:
    - galera_bootstrap_node is defined
    - galera_bootstrap_node == inventory_hostname

- name: Remove anonymous users
  mysql_user:
    name: ""
    host_all: yes
    state: absent
    login_unix_socket: /var/lib/mysql/mysql.sock
  when:
    - galera_bootstrap_node is defined
    - galera_bootstrap_node == inventory_hostname

#  Add cluster user
# todo: this task shows a change in --check mode although it is not necessarily 
# changing anything for real, skipping in check mode is also not ideal
# maybe add a task that runs in check mode that only checks for presence of the user
# also, run_once could break things if there would be multiple galera clusters
# not sure whether its important though..
- name: add mariadb cluster sst user
  mysql_user:
    name: "{{ mariadb_cluster_user }}"
    password: "{{ mariadb_cluster_password }}"
    priv: "{{ mariadb_cluster_user_privs | default('*.*:RELOAD,PROCESS,LOCK TABLES,BINLOG MONITOR,SLAVE MONITOR') }}"
    state: present
    login_user: root
    login_password: "{{ mariadb_root_password  }}"
    login_unix_socket: /var/lib/mysql/mysql.sock
  run_once: true
  no_log: true

# Add backup user
- name: add mariadb backup user
  mysql_user:
    name: "{{ mariadb_backup_user }}"
    password: "{{ mariadb_backup_password  }}"
    priv: "*.*:SELECT,LOCK TABLES,SHOW VIEW"
    state: present
    login_user: root
    login_password: "{{ mariadb_root_password }}"
    login_unix_socket: /var/lib/mysql/mysql.sock
  run_once: true # run once because it is synced to other cluster nodes
  no_log: true

- name: Add Galera clustercheck user, used for keepalived to connect
  mysql_user:
    name: clustercheck
    password: "{{ galera_clustercheck_password }}"
    priv: "*.*:USAGE"
    state: present
    login_user: root
    login_password: "{{ mariadb_root_password }}"
    login_unix_socket: /var/lib/mysql/mysql.sock
  run_once: true # run once because it is synced to other cluster nodes
  no_log: true

- name: Create the backup directory
  file:
    path: /home/backup
    state: directory
    owner: root
    group: root
    mode: 0700

- name: Put mariadb_backup script
  template:
    src: "mariadb_backup.sh.j2"
    dest: '/usr/local/sbin/mariadb_backup.sh'
    mode: 0700
    owner: root

- name: Create cron symlink for backup script
  file:
    src: "/usr/local/sbin/mariadb_backup.sh"
    dest: "/etc/cron.daily/db_backup"
    state: link
    mode: 0700
    owner: root
  when:
    - backup_node is defined

- name: Create database
  mysql_db:
    name: "{{ item }}"
    state: present
    login_user: root
    login_password: "{{ mariadb_root_password }}"
    login_unix_socket: /var/lib/mysql/mysql.sock
  with_items:
    - "{{ databases.names }}"
  run_once: true # run once because it is synced to other cluster nodes
  tags: galera_create_db

- name: MySQL my.cnf
  template:
    src: "my.cnf.j2"
    dest: "/root/.my.cnf"
    mode: 0600
    owner: root
    group: root

- name: "Place conf file to increase MariaDB service TimeoutStartSec to 600 seconds"
  template:
    src: "timeoutstartsec.conf.j2"
    dest: "/etc/systemd/system/mariadb.service.d/timeoutstartsec.conf"
    owner: root
    group: root
    mode: '0644'
    setype: systemd_unit_file_t

- name: "Reload systemd config with new TimeoutStartSec value"
  systemd:
    daemon_reload: yes
