---
ldap:
  src:
    uri: "{{ plsc.ldap_uri }}"
    basedn: "{{ plsc.ldap_basedn }}"
    binddn: "{{ plsc.ldap_binddn }}"
    passwd: "{{ plsc.ldap_password }}"
    sizelimit: 500
  dst:
    uri: "{{ plsc.ldap_uri }}"
    basedn: "{{ plsc.ldap_basedn }}"
    binddn: "{{ plsc.ldap_binddn }}"
    passwd: "{{ plsc.ldap_password }}"
    sizelimit: 500
sbs:
  src:
    host: "{{ plsc.sbs_host }}"
    user: "{{ plsc.sbs_user }}"
    passwd: "{{ plsc.sbs_password }}"
    verify_ssl: {{ false if env=='vm' else true }}
    timeout: 60
    retry: {{ plsc.retry }}
pwd: "{CRYPT}!"
uid: 1000
gid: 1000
