Listen {{ apache_app_listen_address.grouper }}:{{ loadbalancing.grouper.port }}
<VirtualHost {{ apache_app_listen_address.grouper }}:{{ loadbalancing.grouper.port }}>
    ServerName https://grouper.{{ base_domain }}

    # Use separate log files for the SSL virtual host; note that LogLevel
    # is not inherited from httpd.conf.
    ErrorLog logs/grouper_ssl_error_log
    TransferLog logs/grouper_ssl_access_log
    LogLevel warn

    ProxyPass /grouper-ws/ ajp://localhost:8009/grouper-ws/
    ProxyPass /grouper/ ajp://localhost:8009/grouper/

    <Location /grouper>
      ShibRequestSetting applicationId grouper
      AuthType shibboleth
      ShibRequestSetting requireSession 1
      require valid-user
    </Location>
</VirtualHost>
