addSubject("{{ ldap_grouper_unit_test_user }}", "person", "{{ ldap_grouper_unit_test_user }}")
addMember("etc:sysadmingroup","{{ ldap_grouper_unit_test_user }}");

addSubject("{{ ldap_grouper_engine_user }}", "person", "{{ ldap_grouper_engine_user }}")
addMember("etc:sysadmingroup","{{ ldap_grouper_engine_user }}");

addSubject("{{ ldap_grouper_api_user }}", "person", "{{ ldap_grouper_api_user }}")
addMember("etc:sysadmingroup","{{ ldap_grouper_api_user }}");
