# configfile that enumerates the clients and resource-servers that should always exist
defaultClientsAndResourceServers.config.path = file://{{ authz_admin_dir }}/clientsAndResources.conf

logging.config=file://{{ authz_admin_dir }}/logback.xml

allowed_group={{ authz_admin_group }}

flyway.enabled=false

spring.datasource.url=jdbc:mysql://{{ authzserver.db_host }}/{{ authzserver.db_name }}
spring.datasource.username={{ authzserver.db_user }}
spring.datasource.password={{ authzserver.db_password }}
spring.datasource.driverClassName=com.mysql.jdbc.Driver
spring.datasource.validation-query=SELECT 1
spring.datasource.testWhileIdle=true

server.port={{ springapp_tcpport }}
server.session.cookie.secure=true

voot.serviceUrl=https://voot.{{ base_domain }}

# oauth config for accessing voot.
voot.accessTokenUri=https://authz.{{ base_domain }}/oauth/token
voot.userAuthorizationUri=https://authz.{{ base_domain }}/oauth/authorize
voot.clientId=authz-admin
voot.clientSecret={{ authz_admin_client_secret }}
voot.redirectUri=https://authz-admin.{{ base_domain }}
voot.scopes = groups

errorPage.email=surfconext-beheer@surfnet.nl
endpoints.enabled=false
endpoints.health.enabled=true
endpoints.info.enabled=true
