Listen {{ apache_app_listen_address.authz_admin }}:{{ loadbalancing.authz_admin.port }}
<VirtualHost {{ apache_app_listen_address.authz_admin }}:{{ loadbalancing.authz_admin.port }}>
    ServerName authz-admin.{{ base_domain }}:443

    UseCanonicalName On

    ErrorLog logs/authzadmin_ssl_error_log
    TransferLog logs/authzadmin_ssl_access_log
    LogLevel warn

    ProxyPass /Shibboleth.sso !
    ProxyPass / http://localhost:{{ springapp_tcpport }}/ retry=0
    ProxyPassReverse / http://localhost:{{ springapp_tcpport }}/ retry=0

    # Enable shibboleth for all other URLs, but the health check
    <Location ~ "/health">
      allow from all
      satisfy any
    </Location>

    <Location />
      ShibRequestSetting applicationId authz-admin
      AuthType shibboleth
      ShibRequireSession On
      require valid-user
      ShibUseHeaders On
    </Location>

</VirtualHost>
