Listen {{ apache_app_listen_address.authz_admin }}:{{ loadbalancing.authz_admin.port }}
<VirtualHost {{ apache_app_listen_address.authz_admin }}:{{ loadbalancing.authz_admin.port }}>
    ServerName https://authz-admin.{{ base_domain }}

    UseCanonicalName On

    ErrorLog "|/usr/bin/logger -p local3.err  -t 'Apache-Authz-Admin'"
    CustomLog "|/usr/bin/logger -p local3.info  -t 'Apache-Authz-Admin'" combined

    ProxyPass /Shibboleth.sso !
    ProxyPass / http://localhost:{{ springapp_tcpport }}/ retry=0
    ProxyPassReverse / http://localhost:{{ springapp_tcpport }}/ retry=0

    # Enable shibboleth for all other URLs, but the health and info check
    <Location ~ "/(health|info)">
      allow from all
      satisfy any
    </Location>

    <Location />
      ShibRequestSetting applicationId authz-admin
      AuthType shibboleth
      ShibRequireSession On
      require valid-user
      ShibUseHeaders On
    </Location>

</VirtualHost>
