# This file is in the 'Hocon' format developed by Typesafe. See https://github.com/typesafehub/config
clients = [
  {% for client in authzadmin.defaultClients %}
  {
    clientId = "{{ client.clientId }}"
    secret = "{{ client.secret }}"
    {% if client.redirectUris is defined %}
    redirectUris = [
      {% for value in client.redirectUris %}
      "{{ value }}"
      {% endfor %}
    ]
    {% endif %}
    {% if client.resourceIds is defined %}
    resourceIds = [
      {% for value in client.resourceIds %}
      "{{ value }}"
      {% endfor %}
    ]
    {% endif %}
    scopes = [
      {% for value in client.scopes %}
      "{{ value }}"
      {% endfor %}
    ]
    grantTypes= [
      {% for value in client.grantTypes %}
       "{{ value }}"
      {% endfor %}
    ]
    {% if client.autoApprove is defined %}
          autoApprove= "{{ client.autoApprove}}"
    {% endif %}
  }
  {% endfor %}
]
# The entries in the list below will all be granted the authority ROLE_TOKEN_CHECKER so they can invoke the /oauth/check_token endpoint
resourceServers = [
{% for client in authzadmin.defaultResourceServers %}
  {
    clientId = "{{ client.clientId }}"
    secret = {{ client.secret }}
  }
{% endfor %}
]
