# IPv4 firewall configuration

*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT
-A INPUT -p icmp -j ACCEPT
-A INPUT -i lo -j ACCEPT

# Some ICMP rules
-A INPUT -p icmp --icmp-type timestamp-request -j DROP
-A INPUT -p icmp --icmp-type timestamp-reply -j DROP
-A INPUT -p icmp --icmp-type address-mask-request  -j DROP
-A INPUT -p icmp --icmp-type address-mask-reply  -j DROP
-A INPUT -p icmp --icmp-type any -j ACCEPT


# General rules
{% for service in iptables_incoming %}
{{'##'|e }} {{ service.name }}
{{'##'|e }} {{'=' * service.name|length }}
-A INPUT  -p {{ service.protocol | default('tcp') }} {{ '-s '+service.source if service.source is defined else '' }} --dport {{ service.port }}  -j ACCEPT
{% endfor %}

{% if 'loadbalancer' in group_names %}
### Loadbalancer rules
-A INPUT -p tcp --dport 443 -j ACCEPT
-A INPUT -p tcp --dport 80 -j ACCEPT
-A INPUT -p tcp --dport 53 -j ACCEPT
-A INPUT -p udp --dport 53 -j ACCEPT
{% endif %}

{% if 'php-apps' in group_names %}
### PHP apps rules
-A INPUT -p tcp --dport 443 -j ACCEPT
-A INPUT -p tcp --dport 80 -j ACCEPT
-A INPUT -p tcp --dport 401 -j ACCEPT
-A INPUT -p tcp --dport 402 -j ACCEPT
-A INPUT -p tcp --dport 403 -j ACCEPT
-A INPUT -p tcp --dport 404 -j ACCEPT
-A INPUT -p tcp --dport 405 -j ACCEPT
-A INPUT -p tcp --dport 609 -j ACCEPT
{% endif %}

{% if 'java-apps-centos7' in group_names %}
### JAVA apps rules
-A INPUT -p tcp --dport 601 -j ACCEPT
-A INPUT -p tcp --dport 602 -j ACCEPT
-A INPUT -p tcp --dport 603 -j ACCEPT
-A INPUT -p tcp --dport 604 -j ACCEPT
-A INPUT -p tcp --dport 605 -j ACCEPT
-A INPUT -p tcp --dport 606 -j ACCEPT
-A INPUT -p tcp --dport 607 -j ACCEPT
-A INPUT -p tcp --dport 608 -j ACCEPT
-A INPUT -p tcp --dport 613 -j ACCEPT
-A INPUT -p tcp --dport 614 -j ACCEPT
-A INPUT -p tcp --dport 615 -j ACCEPT
-A INPUT -p tcp --dport 616 -j ACCEPT
-A INPUT -p tcp --dport 10617 -j ACCEPT
-A INPUT -p tcp --dport 10618 -j ACCEPT
{% endif %}

{% if 'storage' in group_names and develop %}
### Allow external database connections in development env
-A INPUT -p tcp --dport 3306 -j ACCEPT
{% endif %}

-A INPUT -j DROP 
-A FORWARD -j DROP 
COMMIT
# A newline after COMMIT is required
