Listen {{ apache_app_listen_address.teams }}:{{ loadbalancing.teams.port }}
<Virtualhost {{ apache_app_listen_address.teams }}:{{ loadbalancing.teams.port }}>
    # General setup for the virtual host, inherited from global configuration
    ServerName https://teams.{{ base_domain }}

    ErrorLog "|/usr/bin/logger -p local3.err  -t 'Apache-TEAMS'"
    CustomLog "|/usr/bin/logger -p local3.info  -t 'Apache-TEAMS'" combined

    RewriteEngine On
    # We support only GET/POST
    RewriteCond %{REQUEST_METHOD} !^(POST|GET)$
    RewriteRule .* - [R=405,L]
    # Rewrite old URLS
    RewriteRule /teams/(.*)$ /$1  [L,NE,R=permanent]
    RewriteRule /teams$      /    [L,R=permanent]

    ProxyPreserveHost on

    # However, do not proxy shibboleth requests through to the app
    ProxyPass /Shibboleth.sso !
    ProxyPass / http://localhost:{{ springapp_tcpport }}/ retry=0
    ProxyPassReverse / http://localhost:{{ springapp_tcpport }}/ retry=0

    # Teams location
    <Location />
        ShibRequestSetting applicationId teams
        AuthType shibboleth
        ShibRequireSession Off
        require shibboleth
        ShibUseHeaders On
    </Location>
</VirtualHost>
