Listen {{ apache_app_listen_address.teams }}:{{ loadbalancing.teams.port }}
<Virtualhost {{ apache_app_listen_address.teams }}:{{ loadbalancing.teams.port }}>
    # General setup for the virtual host, inherited from global configuration
    ServerName https://teams.{{ base_domain }}

    # Use separate log files for the SSL virtual host; note that LogLevel
    # is not inherited from httpd.conf.
    ErrorLog logs/teams_ssl_error_log
    TransferLog logs/teams_ssl_access_log
    LogLevel warn

    RewriteEngine On
    # Rewrite old URLS
    RewriteRule /teams/(.*)$ /$1  [L,NE,R=permanent]
    RewriteRule /teams$      /    [L,R=permanent]

    ProxyPreserveHost on

    # However, do not proxy shibboleth requests through to the app
    ProxyPass /Shibboleth.sso !
    ProxyPass / http://localhost:{{ springapp_tcpport }}/ retry=0
    ProxyPassReverse / http://localhost:{{ springapp_tcpport }}/ retry=0

    # Teams location
    <Location />
        ShibRequestSetting applicationId teams
        AuthType shibboleth
        ShibRequireSession Off
        require shibboleth
        ShibUseHeaders On
    </Location>
</VirtualHost>
