---
manage_dir: /config/
manage_snapshot_timestamp: ""
manage_jar: manage-current.jar
manage_random_source: "file:///dev/urandom"
manage_cronjobmaster: true
manage_disclaimer_background_color: "{{ environment_ribbon_colour }}"
manage_disclaimer_content: "{{ environment_shortname }}"
manage_service_provider_feed_url: "http://mds.edugain.org/edugain-v2.xml"
manage_exclude_edugain_imports_in_push: true
manage_exclude_sram_imports_in_push: true
manage_show_oidc_rp_tab: false
manage_exclude_oidc_rp_imports_in_push: false
manage_metadata_refresh_cron_schedule: "-"
manage_manage_provision_samlsp_client_id: "https://manage.{{ base_domain }}/shibboleth"
manage_manage_provision_samlsp_name_en: "{{ instance_name }} Manage"
manage_manage_provision_samlsp_description_en: "{{ instance_name }} Manage"
manage_manage_provision_samlsp_acs_location: "https://manage.{{ base_domain }}/Shibboleth.sso/SAML2/POST"
manage_manage_provision_samlsp_metadata_url: "https://manage.{{ base_domain }}/Shibboleth.sso/Metadata"
manage_manage_provision_samlsp_sp_cert: ""
manage_manage_provision_samlsp_trusted_proxy: false
manage_manage_provision_samlsp_sign: false
manage_provision_push: false
manage_super_user_attribute_name: is-member-of
manage_tabs_enabled:
  - saml20_idp
  - saml20_sp
  - oidc10_rp
  - oauth20_rs
  - policy
  - single_tenant_template
  - provisioning
  - sram
  - organisation
manage_docker_networks:
  - name: loadbalancer
manage_server_restart_policy: always
manage_server_restart_retries: 0
manage_logback_json: true
