#jinja2: lstrip_blocks: True
clients:
  {% for client in oidcadmin.defaultClients %} 
  - client_id: "{{ client.client_id }}"
    secret: "{{ client.secret }}"
    {% if client.redirectUris is defined %}
    redirectUris:
      {% for value in client.redirectUris %}
      - "{{ value }}"
      {% endfor %}
    {% endif %}
    scopes:
      {% for value in client.scopes %}
      - "{{ value }}"
      {% endfor %}
    grantTypes:
      {% for value in client.grantTypes %}
      - "{{ value }}"
      {% endfor %}
  {% endfor %}
resourceServers:
  {% for client in oidcadmin.defaultResourceServers %}
  - client_id: "{{ client.client_id }}"
    secret: "{{ client.secret }}"
    scopes:
      {% for value in client.scopes %}
      - "{{ value }}"
      {% endfor %}
  {% endfor %}
