externalProviders.config.path = file://{{ voot_dir }}/externalProviders.yml

logging.config=file://{{ voot_dir }}/logback.xml
server.port={{ springapp_tcpport }}
server.session.cookie.secure=true

# An empty value will be replaced with the default
server.server-header=no

# Details needed so that we may check tokens presented to us by clients. This application uses them to authenticate via
# basic authentication with the OAuth2/oidcng server.
{% if voot.authz_checkToken_endpoint_url is defined %}
authz.checkToken.endpoint.url= {{ voot.authz_checkToken_endpoint_url }}
authz.checkToken.clientId={{ voot.authz_checkToken_clientId }}
authz.checkToken.secret={{ voot.authz_checkToken_secret }}
{% endif %} 

oidcng.checkToken.endpoint.url={{ voot.oidcng_checkToken_endpoint_url }}
oidcng.checkToken.clientId={{ voot.oidcng_checkToken_clientId }}
oidcng.checkToken.secret={{ voot.oidcng_checkToken_secret }}
oidcng.checkToken.issuer={{ oidcng_saml_sp_entityid | default('https://connect.' + base_domain) }},https://org.openconext.oidc.ng

# Feature toggle for searching for linked GrouperGroups and ExternalGroups
support.linkedGrouperExternalGroups=true

# Only tests may override this
flyway.enabled=false

checkToken.cache=true
# 10 minutes cache for tokens
checkToken.cache.duration.milliSeconds=600000
# check every 5 minutes for expired tokens in the cache
checkToken.cache.expiryIntervalCheck.milliseconds=300000

endpoints.enabled=false
endpoints.health.enabled=true
endpoints.info.enabled=true
