externalProviders.config.path = file://{{ voot_dir }}/externalProviders.yml

logging.config=file://{{ voot_dir }}/logback.xml
server.port={{ springapp_tcpport }}

# Space-delimited list of scope-names for which the user must have approved access.
vootservice.requiredScopes = groups

# The name under which this Oauth2 resource is registered with the Oauth2 Authorization server.
vootservice.oauthResourceId = groups

# Details needed so that we may check tokens presented to us by clients. This application uses them to authenticate via
# Basic authentication with the oAuth server.
oauth.checkToken.endpoint.url= {{ voot.oauth_checkToken_endpoint_url }}
oauth.checkToken.clientId={{ voot.oauth_checkToken_clientId }}
oauth.checkToken.secret={{ voot.resource_checking_secret }}

endpoints.enabled=false
endpoints.health.enabled=true
endpoints.info.enabled=true
