externalProviders.config.path = file://{{ voot_dir }}/externalProviders.yml

logging.config=file://{{ voot_dir }}/logback.xml
server.port={{ springapp_tcpport }}
server.session.cookie.secure=true

# Details needed so that we may check tokens presented to us by clients. This application uses them to authenticate via
# Basic authentication with the oAuth server.
authz.checkToken.endpoint.url= {{ voot.authz_checkToken_endpoint_url }}
authz.checkToken.clientId={{ voot.authz_checkToken_clientId }}
authz.checkToken.secret={{ voot.authz_checkToken_secret }}

oidc.checkToken.endpoint.url= {{ voot.oidc_checkToken_endpoint_url }}
oidc.checkToken.clientId={{ voot.oidc_checkToken_clientId }}
oidc.checkToken.secret={{ voot.oidc_checkToken_secret }}

spring.datasource.url=jdbc:mysql://{{ grouper.db_host }}:3306/{{ grouper.database_name }}
spring.datasource.username={{ grouper.db_user }}
spring.datasource.password={{ grouper.db_password }}
spring.datasource.driverClassName=com.mysql.jdbc.Driver
spring.datasource.validation-query=SELECT 1
spring.datasource.testWhileIdle=true

# Only tests may override this
flyway.enabled=false

checkToken.cache=true
# 10 minutes cache for tokens
checkToken.cache.duration.milliSeconds=600000
# check every 5 minutes for expired tokens in the cache
checkToken.cache.expiryIntervalCheck.milliseconds=300000

endpoints.enabled=false
endpoints.health.enabled=true
endpoints.info.enabled=true
