externalGroupProviders:
{% for provider in voot.externalGroupProviders %}
  - {
      type: "{{ provider.type }}",
      url: "{{ provider.url }}",
      credentials: {
        username: "{{ provider.credentials.username }}",
        secret: "{{ provider.credentials.secret | vault(env) }}"
      },
      schacHomeOrganization: "{{ provider.schacHomeOrganization }}",
      timeoutMillis: {{ provider.timeoutMillis }}
     }
{% endfor %}
