<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
    <syslogHost>{{ rsyslog_host }}</syslogHost>
    <facility>DAEMON</facility>
    <suffixPattern>VOOTMAIN: [%thread] %logger %msg</suffixPattern>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/var/log/voot/voot.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>/var/log/voot/voot-%d{yyyy-MM-dd}.log</fileNamePattern>
      <!-- keep 30 days' worth of history -->
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
     <pattern>%d{ISO8601} %5p [%t] %logger{40}:%L - %m%n</pattern>
   </encoder>
  </appender>

  <appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
    <smtpHost>{{ smtp_server }}</smtpHost>
    <from>no-reply@surfconext.nl</from>
    <to>{{ error_mail_to }}</to>
    <subject>{{ error_subject_prefix }}Unexpected error voot</subject>
    <layout class="ch.qos.logback.classic.html.HTMLLayout"/>

    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
  </appender>

  {% for logger in voot.loggers %}
  <logger name="{{ logger.name }}" level="{{ logger.level }}"/>
  {% endfor %}

  <root level="WARN">
    <appender-ref ref="EMAIL" />
    <appender-ref ref="FILE" />
    <appender-ref ref="SYSLOG" />
  </root>
</configuration>
