{% if apache_app_listen_address.voot is defined %}
Listen {{ apache_app_listen_address.voot }}:{{ loadbalancing.voot.port }}
<Virtualhost {{ apache_app_listen_address.voot }}:{{ loadbalancing.voot.port }}>
{% else %}
<Virtualhost *:443 >
{% endif %}
    # General setup for the virtual host, inherited from global configuration
    ServerName https://voot.{{ base_domain }}

    ErrorLog "|/usr/bin/logger -S 32k -p local3.err  -t 'Apache-VOOT'" 
    CustomLog "|/usr/bin/logger -S 32k -p local3.info  -t 'Apache-VOOT'" combined

    ProxyPass / http://localhost:{{ springapp_tcpport }}/ retry=0

    {% if haproxy_backend_tls %}
    SSLEngine on
    SSLCertificateFile      {{ tls.cert_path }}/backend.{{ base_domain }}.pem
    SSLCertificateKeyFile   {{ tls.cert_private_path }}/backend.{{ base_domain }}.key
    Include ssl_backend.conf
    {% endif %}

    Header set Content-Security-Policy "default-src 'none';"

    {% if apache_app_listen_address.all is defined %}
    SSLEngine on
    SSLCertificateFile      {{ tls.cert_path }}/{{ tls_star_cert }}
    SSLCertificateKeyFile   {{ tls.cert_private_path }}/{{ tls_star_cert_key }}
    SSLCertificateChainFile {{ tls.cert_path_ca }}/{{ tls_ca }}
    Include ssl_backend.conf
    {% endif %}
</VirtualHost>
