---
- name: Create user
  user: name={{ springapp_user }} system=yes home={{ monitoring_tests_dir }} shell=/sbin/nologin

- name: Copy systemd service file
  template: src=../../templates/spring-boot.service.j2 dest=/etc/systemd/system/{{ springapp_service_name }}.service
  notify:
    - "systemctl daemon-reload"
    - restart monitoring-tests

- name: enable monitoring-tests service
  service: name={{ springapp_service_name }} enabled=yes

- name: Create logging directory
  file: path=/var/log/{{ springapp_service_name }} state=directory owner=monitoring-tests group=monitoring-tests mode=0755

- include: ../../../tasks/springbootapp/install-release.yml
  when: "monitoring_tests_snapshot_timestamp == '' and monitoring_tests_local_jar == ''"

- include: ../../../tasks/springbootapp/install-snapshot.yml
  when: "monitoring_tests_snapshot_timestamp != '' and monitoring_tests_local_jar == ''"

- include: ../../../tasks/springbootapp/install-local.yml
  when: "monitoring_tests_local_jar != ''"

- name: Copy logging config
  template: src=logback.xml.j2 dest={{ monitoring_tests_dir }}/logback.xml owner=monitoring-tests group=monitoring-tests mode=0740
  notify: restart monitoring-tests

- name: Copy application config
  template: src=application.yml.j2 dest={{ monitoring_tests_dir }}/application.yml owner=monitoring-tests group=monitoring-tests mode=0740
  notify: restart monitoring-tests

- name: ensure the service is started
  service: name={{ springapp_service_name }} enabled=yes state=started
