---
# In this task file keys and certificates for the
# mongo servers are distributed

- name: Create directory to keep mongo key material
  ansible.builtin.file:
    dest: "{{ mongo_pki_dir }}"
    state: directory
    owner: root
    group: root
    mode: "0775"

- name: Distribute mongo cluster key and cert
  ansible.builtin.template:
    src: keyandcert.pem.j2
    dest: "{{ mongo_pki_dir }}/keyandcert.pem"
    owner: root
    group: "{{ mongo_group }}"
    mode: "0440"
  notify: Restart mongod

- name: Copy ca pem file
  ansible.builtin.copy:
    src: "{{ environment_dir }}/secrets/mongo/mongoca.pem"
    dest: "{{ mongo_pki_dir }}/mongoca.pem"
    owner: root
    group: root
    mode: "0644"
  notify: Restart mongod
