---

- name: Debug replica settings
  ansible.builtin.debug:
    msg: "Replica set name {{ replica_set_name }}"
    verbosity: 2
  ignore_errors: true

- name: Debug cluster members settings
  ansible.builtin.debug:
    msg: "Cluster members: {{ mongo_cluster_members }}"
    verbosity: 2
  ignore_errors: true

- name: Check if hosts are in clustered
  ansible.builtin.command: mongosh --port {{ mongo_port }} --quiet --eval 'db.isMaster().hosts'
  register: check_cluster
  changed_when: false
  check_mode: false

- name: Debug check_cluster variable
  when: show_debug_info is defined and show_debug_info | bool
  ansible.builtin.debug:
    msg: "{{ check_cluster }}"
    verbosity: 2

- name: Debug mongo_replication_role variable
  when: show_debug_info is defined and show_debug_info | bool
  ansible.builtin.debug:
    msg: "{{ mongo_replication_role }}"
    verbosity: 2

- name: Initial cluster initialisation
  community.mongodb.mongodb_replicaset:
    login_host: localhost
    login_user: admin
    login_port: "{{ mongo_port }}"
    login_password: "{{ mongo_admin_password }}"
    replica_set: "{{ replica_set_name }}"
    members: "{{ mongo_cluster_members }}"
    arbiter_at_index: "{{ mongo_arbiter_index | default(0) }}"
    validate: false
  run_once: true
  when: mongo_replication_role == 'primary'

- name: Wait until cluster health is ok
  community.mongodb.mongodb_status:
    login_user: admin
    login_password: "{{ mongo_admin_password }}"
    login_database: admin
    login_port: "{{ mongo_port }}"
    validate: default
    poll: 5
    interval: 12
    replica_set: "{{ replica_set_name }}"
  when: mongo_replication_role == 'primary'

- name: Add the admin user
  community.mongodb.mongodb_user:
    database: admin
    name: admin
    password: "{{ mongo_admin_password }}"
    login_port: "{{ mongo_port }}"
    roles: root
    state: present
  when: check_cluster.stdout == ""
  no_log: true
  run_once: true
