---
- name: Check some cluster related variables
  when: mongo_mode == "cluster"
  block:
    - name: Fail on undefined replica_set_name
      when: mongo_replica_set_name is not defined
      ansible.builtin.fail:
        msg: "Something is wrong, mongo_mode was set to cluster but replica_set_name is undefined."

    # - name: Check some variables
    #   when: mongo_cluster_members is not defined
    #   ansible.builtin.fail:
    #     msg: "Something is wrong, mongo_mode was set to cluster but mongo_cluster_members is undefined."

- name: Message for non redhat family servers
  when: ansible_facts['os_family'] != 'RedHat'
  ansible.builtin.fail:
    msg: "Sorry, this role only works on RedHat family servers"

- name: Install and configure mongo on redhat family servers
  when:
    - ansible_facts['os_family'] == 'RedHat'
  block:
    - name: Use temporarily python3 as remote interpreter, this fixes pymongo
      ansible.builtin.set_fact:
        ansible_python_interpreter: "/usr/bin/python3"
      tags: mongo_users

    - name: Include installation tasks
      ansible.builtin.include_tasks:
        file: install.yml

    - name: Include Certificate tasks
      ansible.builtin.include_tasks:
        file: certs.yml

    - name: Debug standalone or cluster mode
      ansible.builtin.debug:
        msg: "{{ mongo_mode }}"
        verbosity: 2

    - name: Include standalone configuration tasks
      ansible.builtin.include_tasks:
        file: standaloneconfig.yml
      when:
        - mongo_mode == "standalone"

    - name: Include cluster configuration tasks
      ansible.builtin.include_tasks:
        file: clusterconfig.yml
      when:
        - mongo_mode == "cluster"

    - name: Include General config tasks
      ansible.builtin.include_tasks:
        file: generalconfig.yml

    # Mongod is installed, but service is not restarted until after
    # the initial admin user is added
    - name: Flush handlers
      ansible.builtin.meta: flush_handlers

    - name: Include Service tasks
      ansible.builtin.include_tasks:
        file: services.yml

    - name: Include user creation
      ansible.builtin.include_tasks:
        file: users.yml

    - name: Include postinstallation tasks
      ansible.builtin.include_tasks:
        file: postinstall.yml

    - name: Use python2 again as remote interpreter
      ansible.builtin.set_fact:
        ansible_python_interpreter: "/usr/bin/python"
      when: 
        - ansible_facts['distribution'] == 'CentOS'
        - ansible_facts['distribution_major_version'] == '7'
