- name: Create mongo database users cluster # requires pymongo 4+
  when: mongo_mode == "cluster"
  community.mongodb.mongodb_user:
    login_database: admin
    database: "{{ item.db_name }}"
    login_user: admin
    login_password: "{{ mongo_admin_password }}"
    name: "{{ item.name }}"
    password: "{{ item.password }}"
    roles: "{{ item.role }}"
    replica_set: "{{ replica_set_name }}"
  #no_log: true
  run_once: true
  with_items: "{{ mongo.users }}"
  changed_when: false
  tags: mongo_users

- name: Create mongo database users single server # requires pymongo 4+
  when: mongo_mode != "cluster"
  community.mongodb.mongodb_user:
    login_database: admin
    database: "{{ item.db_name }}"
    login_user: admin
    login_password: "{{ mongo_admin_password }}"
    name: "{{ item.name }}"
    password: "{{ item.password }}"
    roles: "{{ item.role }}"
  no_log: true
  run_once: true
  with_items: "{{ mongo.users }}"
  changed_when: false
  tags: mongo_users
