---
pdp_email_from: '{{ noreply_email }}'
pdp_cronjobmaster: true
pdp_invalid_policies_error_mail_to: '{{ error_mail_to }}'
pdp_oauth2_clientid: "pdp.{{ base_domain }}"
pdp_oauth2_token_url: "https://connect.{{ base_domain }}/oidc/token"
pdp_oauth2_authorize_url: "https://connect.{{ base_domain }}/oidc/authorize"
pdp_manage_provision_oidcrp_name_en: "PDP client credentials client for VOOT access"
pdp_manage_provision_oidcrp_description_en: "OAuth client to access VOOT for group information"
pdp_manage_provision_oidcrp_grants: "client_credentials"
pdp_manage_provision_oidcrp_state: "prodaccepted"
pdp_manage_provision_oidcrp_scopes: "groups"
pdp_manage_provision_oidcrp_allowed_resource_servers: '{"name": "{{ voot.oidcng_checkToken_clientId }}"}'
pdp_manage_provision_samlsp_client_id: "https://pdp.{{ base_domain }}/shibboleth"
pdp_manage_provision_samlsp_name_en: "{{ instance_name }} PDP server"
pdp_manage_provision_samlsp_description_en: "{{ instance_name }} PDP admin interface"
pdp_manage_provision_samlsp_acs_location: "https://pdp.{{ base_domain }}/Shibboleth.sso/SAML2/POST"
pdp_manage_provision_samlsp_metadata_url: "https://pdp.{{ base_domain }}/Shibboleth.sso/Metadata"
pdp_manage_provision_samlsp_sp_cert: ""
pdp_manage_provision_samlsp_trusted_proxy: false
pdp_manage_provision_samlsp_sign: false
pdp_spring_flyway_enabled: true
pdp_manage_push_testmode: true
pdp_docker_networks:
  - name: loadbalancer
pdp_server_restart_policy: always
pdp_server_restart_retries: 0
