---
- name: Add "engineblock" user
  user:
    name: engineblock
    groups: "{{ apache_user}}"
    append: yes
    state: present
    createhome: no

- name: Create the cache dir for Symfony
  file:
    path: "{{ engineblock_symfony_cache_path }}"
    state: directory
    recurse: yes

- name: Create the log dir for Symfony
  file:
    path: "{{ engineblock_symfony_log_path }}"
    state: directory
    recurse: yes

- name: Ensure setfacl support is present.
  become: true
  package:
    name: acl
    state: present

- name: Allow vagrant user complete access to all engineblock files
  become: true
  acl:
    entity: "{{ item[0] }}"
    default: "{{ item[1] }}"
    path: "{{ item[2] }}"
    etype: user
    permissions: rwx
    recursive: yes
    state: present
  with_nested:
    - [ "{{ engine_fpm_user }}", "vagrant" ]
    - [ "no", "yes" ]
    - [ "{{ engineblock_symfony_cache_path }}", "{{ engineblock_symfony_log_path }}", "/opt/openconext/OpenConext-engineblock/" ]

- name: Copy app_dev.php.dist to OpenConext web folder
  copy:
    src: "/opt/openconext/OpenConext-engineblock/app_dev.php.dist"
    dest: "/opt/openconext/OpenConext-engineblock/web/app_dev.php"
    remote_src: yes
    mode: 0644
