{% if apache_app_listen_address.teams is defined %}
Listen {{ apache_app_listen_address.teams }}:{{ loadbalancing.teams.port }}
<Virtualhost {{ apache_app_listen_address.teams }}:{{ loadbalancing.teams.port }}>
{% else %}
<Virtualhost *:443 >
{% endif %}

    # General setup for the virtual host, inherited from global configuration
    ServerName https://teams.{{ base_domain }}

    ErrorLog "|/usr/bin/logger -S 32k -p local3.err  -t 'Apache-teams'"
    CustomLog "|/usr/bin/logger -S 32k -p local3.info  -t 'Apache-teams'" combined

    RewriteEngine on

    RewriteCond %{REQUEST_URI} !\.(js|css)(\.map)?$
    RewriteCond %{REQUEST_URI} !\.svg$
    RewriteCond %{REQUEST_URI} !\.png$
    RewriteCond %{REQUEST_URI} !\.ico$
    RewriteCond %{REQUEST_URI} !\.woff$
    RewriteCond %{REQUEST_URI} !\.woff2$
    RewriteCond %{REQUEST_URI} !\.ttf$
    RewriteCond %{REQUEST_URI} !\.eot$
    RewriteCond %{REQUEST_URI} !^/(asset-)?manifest.json$
    RewriteCond %{REQUEST_URI} !^/api/
    RewriteCond %{REQUEST_URI} !^/internal/
    RewriteCond %{REQUEST_URI} !^/deprovision/
    RewriteCond %{REQUEST_URI} !^/fonts/
    RewriteRule (.*) /index.html [L]

    ProxyPass /Shibboleth.sso !

    ProxyPass /api/teams/health http://localhost:{{ springapp_tcpport }}/internal/health retry=0
    ProxyPass /api/teams/info http://localhost:{{ springapp_tcpport }}/internal/info retry=0

    ProxyPass /api http://localhost:{{ springapp_tcpport }}/api retry=0
    ProxyPassReverse /api http://localhost:{{ springapp_tcpport }}/api

    ProxyPass /internal http://localhost:{{ springapp_tcpport }}/internal retry=0
    ProxyPassReverse /internal http://localhost:{{ springapp_tcpport }}/internal

    ProxyPass /deprovision http://localhost:{{ springapp_tcpport }}/deprovision retry=0

    DocumentRoot "{{ _springapp_dir }}/current"

    <Directory "{{ _springapp_dir }}/current">
      Require all granted
      Options     -Indexes
    </Directory>

    <Location />
      AuthType shibboleth
      ShibUseHeaders On
      ShibRequestSetting applicationId teams
      ShibRequireSession On
      Require valid-user
    </Location>

    <Location /invitation/>
      ShibRequestSetting forceAuthn true
    </Location>

    # Enable shibboleth for all other URLs, but the health check and info endpoint
    <LocationMatch "^/api/teams/(health|info)">
      Require all granted
      AuthType none
    </LocationMatch>

    <LocationMatch "^/internal/(health|info)">
      Require all granted
      AuthType none
    </LocationMatch>

    # The VOOT API is secured with basic auth
    <Location "/api/voot/">
      Require all granted
      AuthType none
    </Location>

    # The SP dashboard API is secured with basic auth; only allow
    # explicitly allowed IP ranges. If the setting is missing, none is allowed.
    <LocationMatch "^/(api/spdashboard|internal/teams)/">
      {% if teams_allow_spd_api is defined %}
        SetEnvIfNoCase X-Forwarded-For {{ teams_allow_spd_api }} env_spd_allow
      {% endif %}
      Require env env_spd_allow
      AuthType none
    </LocationMatch>

    # The internal lifecycle API is secured with basic auth
    <Location "/deprovision/">
      Require all granted
      AuthType none
    </Location>

    <LocationMatch "\\.(eot|svg|ttf|woff2|woff|js|js\.map|css|css\.map|png|jpg|ico)$">
      Require all granted
      AuthType none
    </LocationMatch>

    <Location ~ "/(asset-)?manifest.json$">
      Require all granted
    </Location>

    Header always set Content-Security-Policy "{{ httpd_csp.strict_with_static_img }}"
    Header always set X-Frame-Options "DENY"
    Header always set Referrer-Policy "origin-when-cross-origin"
    Header always set X-Content-Type-Options "nosniff"

    {% if haproxy_backend_tls %}
    SSLEngine on
    SSLCertificateFile      {{ tls.cert_path }}/backend.{{ base_domain }}.pem
    SSLCertificateKeyFile   {{ tls.cert_private_path }}/backend.{{ base_domain }}.key
    Include ssl_backend.conf
    {% endif %}

    {% if apache_app_listen_address.all is defined %}
    SSLEngine on
    SSLCertificateFile      {{ tls.cert_path }}/{{ tls_star_cert }}
    SSLCertificateKeyFile   {{ tls.cert_private_path }}/{{ tls_star_cert_key }}
    SSLCertificateChainFile {{ tls.cert_path_ca }}/{{ tls_ca }}
    Include ssl_backend.conf
    {% endif %}

</VirtualHost>
