{
  "version": 0,
  "type": "oidc10_rp",
  "data": {
    "entityid": "{{ manage_provision_cc_client_id }}",
    "state": "{{ manage_provision_state }}",
    "allowedall": false,
    "arp": {
      "enabled": true,
      "attributes": {}
    },
    "metaDataFields": {
      "name:en": "{{ manage_provision_cc_name_en }}",
      "name:nl": "{{ manage_provision_cc_name_en }}",
      "name:pt": "{{ manage_provision_cc_name_en }}",
      "description:en": "{{ manage_provision_cc_description_en }}",
      "OrganizationName:en": "{{ instance_name }}",
      "secret": "{{ manage_provision_cc_rp_secret }}",
      "scopes": [ "{{ manage_provision_cc_scopes }}" ],
      "grants": [ "client_credentials" ],
      "isResourceServer": {{ manage_provision_cc_is_resource_server }}
    },
    "allowedEntities": [],
    "allowedResourceServers": [],
    "revisionnote": "Initial import"
  }
}
