{
  "version": 0,
  "type": "oidc10_rp",
  "data": {
    "entityid": "{{ manage_provision_oidcrp_client_id }}",
    "state": "{{ manage_provision_state }}",
    "allowedall": true,
    "arp": {
      "enabled": true,
      "attributes": {}
    },
    "metaDataFields": {
      "name:en": "{{ manage_provision_oidcrp_name_en }}",
      "description:en": "{{ manage_provision_oidcrp_description_en }}",
      "secret": "{{ manage_provision_oidcrp_secret }}",
{% if manage_provision_oidcrp_grants != "client_credentials" %}
      "redirectUrls": [ "{{ manage_provision_oidcrp_redirecturls }}" ],
      "isPublicClient": "{{ manage_provision_oidcrp_is_public_client }}",
{% endif %}
      "grants": [ {{ manage_provision_oidcrp_grants }} ]
    },
    "allowedEntities": [],
{% if manage_provision_oidcrp_grants != "client_credentials" %}
    "allowedResourceServers": [ {{ manage_provision_oidcrp_allowed_resource_servers }} ],
{% endif %}
    "revisionnote": "Initial import"
  }
}
