{
  "version": 0,
  "type": "saml20_sp",
  "data": {
    "entityid": "{{ manage_provision_client_id }}",
    "state": "{{ manage_provision_state }}",
    "allowedall": true,
    "arp": {
      "enabled": false,
      "attributes": {}
    },
    "metaDataFields": {
      "name:en": "{{ manage_provision_name_en }}",
      "description:en": "{{ manage_provision_description_en }}",
      "AssertionConsumerService:0:Binding": "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST",
      "AssertionConsumerService:0:Location": "{{ manage_provision_acs_location }}",
      "NameIDFormat": "urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified",
      "coin:signature_method": "http://www.w3.org/2001/04/xmldsig-more#rsa-sha256",
{% if manage_provision_trusted_proxy | bool %}
      "coin:trusted_proxy": true,
{% endif %}
      "certData": "{{ manage_provision_sp_cert }}",
      "redirect.sign": {{ manage_provision_sign }}
    },
    "allowedEntities": [],
    "metadataurl": "{{ manage_provision_metadata_url }}",
    "type": "saml20-sp",
    "revisionnote": "Initial import"
  }
}

