[Unit]
Description={{ _springapp_service_name }}

[Service]
WorkingDirectory={{ _springapp_dir }}
ExecStart=/usr/lib/jvm/java-1.8.0/bin/java -Xms{{ _springapp_min_heapsize }} -Xmx{{ _springapp_max_heapsize }} -Djava.security.egd={{ _springapp_random_source }} -jar {{ _springapp_jar }} {{ _springapp_opts }}
User={{ _springapp_user }}
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
