<?php

$config = array(

    // This is a authentication source which handles admin authentication.
    'admin' => array(
        'core:AdminPassword',
    ),

    // be careful: diyidp_users has weird characters and quotes inside the strings
    'user_chooser' => [ 'exampleauth:UserClick', 'users' => json_decode(<<<'ENDJSON'
{{ diyidp_users | to_json }}
ENDJSON
        , true),
    ]
);
