<?php

$metadata['https://{{ diyidp_domain}}'] = array(
    'host' => '__DEFAULT__',

    'privatekey' => 'server.key',
    'certificate' => 'server.crt',

    'auth' => 'user_chooser',

    'signature.algorithm' => 'http://www.w3.org/2001/04/xmldsig-more#rsa-sha256',

    'attributes.NameFormat' => 'urn:oasis:names:tc:SAML:2.0:attrname-format:uri',
    'authproc' => array(
        100 => array('class' => 'core:AttributeMap', 'name2oid'),
        200 => array('class' => 'core:AttributeMap', 'name2urn'),
        300 => array(
            'class' => 'core:AttributeMap',
            'surfAutorisaties' => 'urn:mace:surf.nl:attribute-def:surf-autorisaties',
            'surfCRMId'        => 'urn:mace:surf.nl:attribute-def:surf-crm-id'
        ),
        900 => array('class' => 'saml:PersistentNameID', 'identifyingAttribute' => 'urn:oid:1.3.6.1.4.1.5923.1.1.1.6' ),
    ),
);
