<?php
{% for remotesp in diyidp_remotesp %}
/*
 * {{ remotesp.name }}
 */
$metadata['{{ remotesp.metadataurl }}'] = [
    'AssertionConsumerService' => [[
        'Location' => '{{ remotesp.acslocation }}',
        'Binding'  => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST'
    ]],
    'IDPList' => [ 'user_chooser' ],
    'NameIDFormat' => 'urn:oasis:names:tc:SAML:2.0:nameid-format:persistent',
];
{% endfor %}
