systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/mongod.log

processManagement:
  fork: true  # fork and run in background
  pidFilePath: /var/run/mongodb/mongod.pid  # location of pidfile

# network interfaces
net:
  port: 27017
{% if mongo_tls %}
  ssl:
    mode: requireSSL
    PEMKeyFile: /etc/pki/mongo/mongo.{{ base_domain }}.pem
    CAFile: /etc/pki/mongo/mongo.{{ base_domain }}_ca.pem
    allowConnectionsWithoutCertificates: true
{% endif %}

storage:
  dbPath: /var/lib/mongo
  journal:
    enabled: {% if 'mongod_arbiters' in group_names %}false{% else %}true{% endif %}  
{% if 'mongod_arbiters' in group_names %}
  mmapv1:
    smallFiles: true
{% endif %}

{% if mongo_tls %}
replication:
  replSetName: {{ replica_set_name }}
  replSetName: configReplSet
{% endif %}

security: 
    authorization: enabled

