Listen {{ apache_app_listen_address.engine }}:{{ loadbalancing.engine.port }}
<Virtualhost {{ apache_app_listen_address.engine }}:{{ loadbalancing.engine.port }}>
    ServerAdmin {{ apache_server_admin}}

    DocumentRoot {{ engine_current_release_symlink }}/web
    ServerName   {{ engine_domain }}

    <Directory "{{ engine_current_release_symlink }}/web">
      AllowOverride All
    </Directory>

    SetEnv ENGINEBLOCK_ENV {{ engine_apache_environment }}
    SetEnv SYMFONY_ENV {{ engine_apache_symfony_environment }}
    SetEnv HTTPS on

    RewriteEngine On
    # We support only GET/POST/HEAD
    RewriteCond %{REQUEST_METHOD} !^(POST|GET|HEAD)$
    RewriteRule .* - [R=405,L]
    # If the requested url does not map to a file or directory, then forward it to index.php/URL.
    # Note that the requested URL MUST be appended because Corto uses the PATH_INFO server variable
    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} !-f
    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /app{% if develop %}_dev{% endif %}.php/$1 [L] # Send the query string to app(_dev).php
    # Requests to the domain (no query string)
    RewriteRule ^$ /app{% if develop %}_dev{% endif %}.php/ [L]

    ErrorLog "|/usr/bin/logger -p local3.err  -t 'Apache-EB'"
    CustomLog "|/usr/bin/logger -p local3.info  -t 'Apache-EB'" combined
</VirtualHost>
