{% if apache_app_listen_address.engine_api is defined %}
Listen {{ apache_app_listen_address.engine_api }}:{{ loadbalancing.engine_api.port }}
<Virtualhost {{ apache_app_listen_address.engine_api }}:{{ loadbalancing.engine_api.port }}>
{% else %}
<Virtualhost *:443 >
{% endif %}
    ServerAdmin {{ apache_server_admin}}

    DocumentRoot {{ engine_current_release_symlink }}/www/api
    ServerName   {{ engine_api_domain }}

{% if apache_app_listen_address.all is defined %}
    SSLEngine on
    SSLCertificateFile      {{ tls.cert_path }}/{{ tls_star_cert }}
    SSLCertificateKeyFile   {{ tls.cert_private_path }}/{{ tls_star_cert_key }}
    SSLCertificateChainFile {{ tls.cert_path_ca }}/{{ tls_ca }}
    BrowserMatch "MSIE [2-6]" nokeepalive ssl-unclean-shutdown downgrade-1.0 force-response-1.0
    # MSIE 7 and newer should be able to use keepalive
    BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown
{% endif %}

    <Directory "{{ engine_current_release_symlink }}/www">
      AllowOverride All
    </Directory>

    SetEnv ENGINEBLOCK_ENV {{ engine_apache_environment }}
    SetEnv HTTPS on

    RewriteEngine On
    # If the requested url does not map to a file or directory, then forward it to index.php/URL.
    # Note that it MUST be index.php/URL because Corto uses the PATH_INFO server variable
    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} !-f
    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /index.php/$1 [L] # Send the query string to index.php
    # Requests to the domain (no query string)
    RewriteRule ^$ index.php/ [L]

    ErrorLog "|/usr/bin/logger -p local3.err  -t 'Apache-EBAPI'"
    CustomLog "|/usr/bin/logger -p local3.info  -t 'Apache-EBAPI'" combined
</VirtualHost>
