parameters:
    secret: {{ engine_parameters_secret }}
    error_feedback_wiki_links:
        fallback:
            en: '%openconext_support_url%'
            nl: '%openconext_support_url%'
            pt: '%openconext_support_url%'
        specified:
            unknown_error:
                en: 'https://support.surfconext.nl/help-error-error-en'
                nl: 'https://support.surfconext.nl/help-error-error-nl'
            authorization_policy_violation:
                en: 'https://support.surfconext.nl/help-pep-en'
                nl: 'https://support.surfconext.nl/help-pep-nl'
            invalid_attribute_value:
                en: 'https://support.surfconext.nl/help-scope-en'
                nl: 'https://support.surfconext.nl/help-scope-nl'
            unknown_service_provider:
                en: 'https://support.surfconext.nl/help-unknown-sp-en'
                nl: 'https://support.surfconext.nl/help-unknown-sp-nl'
            unknown_issuer:
                en: 'https://support.surfconext.nl/help-unknown-sp-en'
                nl: 'https://support.surfconext.nl/help-unknown-sp-nl'
            clock_issue:
                en: 'https://support.surfconext.nl/help-ntp-nl'
                nl: 'https://support.surfconext.nl/help-ntp-nl'
            stuck_in_authentication_loop:
                en: 'https://support.surfconext.nl/help-loop-en'
                nl: 'https://support.surfconext.nl/help-loop-nl'
            unknown_preselected_idp:
                en: 'https://support.surfconext.nl/help-no-connection-en'
                nl: 'https://support.surfconext.nl/help-no-connection-nl'
            received_invalid_response:
                en: 'https://support.surfconext.nl/help-prepare-idp'
                nl: 'https://support.surfconext.nl/help-prepare-idp'
            received_invalid_signed_response:
                en: 'https://support.surfconext.nl/help-bindings'
                nl: 'https://support.surfconext.nl/help-bindings'
            invalid_acs_binding:
                en: 'https://support.surfconext.nl/help-bindings'
                nl: 'https://support.surfconext.nl/help-bindings'
            missing_required_fields:
                en: 'https://support.surfconext.nl/help-missing-fields-en'
                nl: 'https://support.surfconext.nl/help-missing-fields-nl'
            session_lost:
                en: 'https://support.surfconext.nl/help-session-lost-en'
                nl: 'https://support.surfconext.nl/help-session-lost-nl'
    error_feedback_idp_contact:
        - clock_issue
        - missing_required_fields
        - unable_to_receive_message
        - received_invalid_signed_response
        - authorization_policy_violation
        - invalid_attribute_value
        - unknown_service_provider
        - unsupported_signature_method
        - unknown_issuer
        - stuck_in_authentication_loop
        - unknown_preselected_idp
        - received_invalid_response
        - received_invalid_signed_response
        - no_idps
        - session_not_started
