Listen {{ apache_app_listen_address.profile }}:10{{ loadbalancing.profile.port }}
<Virtualhost {{ apache_app_listen_address.profile }}:10{{ loadbalancing.profile.port }}>
		ServerAdmin {{ apache_server_admin }}

		DocumentRoot {{ engine_current_release_symlink }}/www/profile
		ServerName   {{ profile_domain }}

		<Directory "{{ engine_current_release_symlink }}/www">
			AllowOverride None
		</Directory>

		Alias /simplesaml {{ engine_current_release_symlink }}/vendor/simplesamlphp/simplesamlphp/www

		RewriteEngine On
		# If the requested url does not map to a file or directory, then forward it to index.php/URL.
		# Note that it MUST be index.php/URL because Corto uses the PATH_INFO server variable
		RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} !-f
		RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} !-d
		RewriteCond %{REQUEST_URI} !^/(simplesaml.*)$
		RewriteRule ^(.*)$ /index.php/$1 [L] # Send the query string to index.php
		# Requests to the domain (no query string)
		RewriteRule ^$ index.php/ [L]

		ErrorLog "|/usr/bin/logger -p local3.err  -t 'Apache-PROFILE'"
		CustomLog "|/usr/bin/logger -p local3.info  -t 'Apache-PROFILE'" combined
</VirtualHost>
