---
teams_dir: /opt/teams
teams_cronjobmaster: true
teams_help_link_en: https://example.org
teams_help_link_nl: https://example.org
teams_help_link_pt: https://example.org
teams_tos_en: https://example.org
teams_tos_nl: https://example.org
teams_tos_pt: https://example.org
teams_main_link: https://www.openconext.org
teams_organization: "{{ instance_name }}"
teams_api_lifecycle_username: teams_api_lifecycle_user
teams_oauth2_token_url: "https://connect.{{ base_domain }}/oidc/token"
teams_authz_client_id: "teams.{{ base_domain }}"
teams_manage_provision_oidcrp_name_en: "Teams client credentials client for VOOT access"
teams_manage_provision_oidcrp_description_en: "OAuth client to access VOOT for group information"
teams_manage_provision_oidcrp_grants: "client_credentials"
teams_manage_provision_oidcrp_state: "prodaccepted"
teams_manage_provision_oidcrp_scopes: "groups"
teams_manage_provision_oidcrp_allowed_resource_servers: '{"name": "{{ voot.oidcng_checkToken_clientId }}"}'
teams_manage_provision_samlsp_client_id: "https://teams.{{ base_domain }}/shibboleth"
teams_manage_provision_samlsp_name_en: "{{ instance_name }} Teams"
teams_manage_provision_samlsp_description_en: "{{ instance_name }} Teams application for group memberships"
teams_manage_provision_samlsp_acs_location: "https://teams.{{ base_domain }}/Shibboleth.sso/SAML2/POST"
teams_manage_provision_samlsp_metadata_url: "https://teams.{{ base_domain }}/Shibboleth.sso/Metadata"
teams_manage_provision_samlsp_sp_cert: ""
teams_manage_provision_samlsp_trusted_proxy: false
teams_manage_provision_samlsp_sign: false
teams_spring_flyway_enabled: true
teams_docker_networks: 
  - name: "loadbalancer"
teams_server_restart_policy: always
teams_server_restart_retries: 0
