---
oidcng_dir: /opt/openconext/oidcng
oidcng_config_dir: /config
oidcng_version: ""
oidcng_snapshot_timestamp: ""
oidcng_cronjobmaster: true
oidcng_saml_sp_entityid: https://connect.{{ base_domain }}
oidcng_idp_metadata_url: https://engine.{{ base_domain }}/authentication/idp/metadata
oidcng_base_hostname: connect.{{ base_domain }}
oidcng_logback_email: true
oidcng_logback_json: true
oidcng_device_flow: false
oidcng_idp_sso_location: https://engine.{{ base_domain }}/authentication/idp/single-sign-on
oidcng_manage_provision_samlsp_client_id: "https://connect.{{ base_domain }}"
oidcng_manage_provision_samlsp_name_en: "{{ instance_name }} OIDC Gateway"
oidcng_manage_provision_samlsp_description_en: "Trusted proxy that handles the OIDC protocol"
oidcng_manage_provision_samlsp_acs_location: "https://connect.{{ base_domain }}/oidc/SSO/alias/oidc-proxy"
oidcng_manage_provision_samlsp_metadata_url: "https://connect.{{ base_domain }}/oidc/metadata"
oidcng_manage_provision_samlsp_sp_cert: "{{ lookup('file', '{{ inventory_dir }}/files/certs/oidc/oidcsaml.crt') | depem }}"
oidcng_manage_provision_samlsp_sign: "True"
oidcng_manage_provision_samlsp_trusted_proxy: "True"
oidcng_docker_networks:
  - name: loadbalancer
oidcng_server_restart_policy: always
oidcng_server_restart_retries: 0
