{% if apache_app_listen_address.manage is defined %}
Listen {{ apache_app_listen_address.manage }}:{{ loadbalancing.manage.port }}
<Virtualhost {{ apache_app_listen_address.manage }}:{{ loadbalancing.manage.port }}>
{% else %}
<Virtualhost *:443 >
{% endif %}
    # General setup for the virtual host, inherited from global configuration
    ServerName https://manage.{{ base_domain }}

    ErrorLog "|/usr/bin/logger -p local3.err  -t 'Apache-Manage'"
    CustomLog "|/usr/bin/logger -p local3.info  -t 'Apache-Manage'" combined

    RewriteEngine on

    RewriteCond %{REQUEST_URI} !\.html$
    RewriteCond %{REQUEST_URI} !\.js$
    RewriteCond %{REQUEST_URI} !\.svg$
    RewriteCond %{REQUEST_URI} !\.css$
    RewriteCond %{REQUEST_URI} !\.png$
    RewriteCond %{REQUEST_URI} !\.ico$
    RewriteCond %{REQUEST_URI} !\.woff$
    RewriteCond %{REQUEST_URI} !\.woff2$
    RewriteCond %{REQUEST_URI} !\.ttf$
    RewriteCond %{REQUEST_URI} !\.eot$
    RewriteCond %{REQUEST_URI} !manage
    RewriteCond %{REQUEST_URI} !fonts
    RewriteRule (.*) /index.html [L]

    ProxyPass /manage/api http://localhost:{{ springapp_tcpport }}/ retry=0
    ProxyPassReverse /manage/api http://localhost:{{ springapp_tcpport }}/

    DocumentRoot /var/www/manage/current

    <Directory /var/www/manage/current>
      Order       allow,deny
      Allow       from all
      Options     -Indexes
    </Directory>

    Header set Content-Security-Policy "default-src 'self'; style-src 'self' 'unsafe-inline'; img-src 'self' static.surfconext.nl static.{{ base_domain }} data:;"
    Header set X-Frame-Options "DENY"
    Header set Referrer-Policy "same-origin"
    Header set X-Content-Type-Options "nosniff"

    {% if haproxy_backend_tls %}
    SSLEngine on
    SSLCertificateFile      {{ tls.cert_path }}/backend.{{ base_domain }}.pem
    SSLCertificateKeyFile   {{ tls.cert_private_path }}/backend.{{ base_domain }}.key
    Include ssl_backend.conf
    {% endif %}

</VirtualHost>
