<p>Beste {{ commonName }},</p>

<p>Bedankt voor het registreren van je token. Klik op onderstaande link om je e-mailadres te bevestigen:</p>

<p><a href='{{ verificationUrl }}'>{{ verificationUrl }}</a></p>

<p>Is klikken op de link niet mogelijk? Kopieer dan de link en plak deze in de adresbalk van je browser.</p>
