<p>Beste {{ commonName }},</p>

<p>Bedankt voor het registreren een herstelmethode. Je kunt deze methode gebruiken wanneer je een token dat je verloren bent opnieuw wilt activeren.</p>

<p>Zorg er altijd voor dat je tenminste één herstelmethode beschikbaar hebt.</p>
