{% if apache_app_listen_address.metadata is defined %}
Listen {{ apache_app_listen_address.metadata }}:{{ loadbalancing.metadata.port }}
<Virtualhost {{ apache_app_listen_address.metadata }}:{{ loadbalancing.metadata.port }}>
{% else %}
<Virtualhost *:443 >
{% endif %}
    ServerName metadata.{{ base_domain }}:443

    DocumentRoot {{ metadata_dir }}
    <Directory "{{ metadata_dir }}">
          Require all granted
    </Directory>

{% if apache_app_listen_address.all is defined %}
    SSLEngine on
    SSLCertificateFile      {{ tls.cert_path }}/{{ tls_star_cert }}
    SSLCertificateKeyFile   {{ tls.cert_private_path }}/{{ tls_star_cert_key }}
    SSLCertificateChainFile {{ tls.cert_path_ca }}/{{ tls_ca }}
{% endif %}

    ErrorLog "|/usr/bin/logger -p local3.err  -t 'Apache-METADATA'"
    CustomLog "|/usr/bin/logger -p local3.info  -t 'Apache-METADATA'" combined
    
    {% if haproxy_backend_tls %}
    SSLEngine on
    SSLCertificateFile      {{ tls.cert_path }}/backend.{{ base_domain }}.pem
    SSLCertificateKeyFile   {{ tls.cert_private_path }}/backend.{{ base_domain }}.key
    Include ssl_backend.conf
    {% endif %}
    {% if apache_app_listen_address.all is defined %}
    SSLEngine on
    SSLCertificateFile      {{ tls.cert_path }}/{{ tls_star_cert }}
    SSLCertificateKeyFile   {{ tls.cert_private_path }}/{{ tls_star_cert_key }}
    SSLCertificateChainFile {{ tls.cert_path_ca }}/{{ tls_ca }}
    Include ssl_backend.conf
    {% endif %}

</VirtualHost>
