{% if apache_app_listen_address.metadata is defined %}
Listen {{ apache_app_listen_address.metadata }}:{{ loadbalancing.metadata.port }}
<Virtualhost {{ apache_app_listen_address.metadata }}:{{ loadbalancing.metadata.port }}>
{% else %}
<Virtualhost *:443 >
{% endif %}
    ServerName metadata.{{ base_domain }}:443

    DocumentRoot {{ metadata_dir }}
    <Directory "{{ metadata_dir }}">
          Require all granted
    </Directory>

    Header always set Content-Security-Policy "{{ httpd_csp.strict }}"
    Header always set X-Frame-Options "DENY"
    Header always set Referrer-Policy "strict-origin-when-cross-origin"
    Header always set X-Content-Type-Options "nosniff"
    Header always set X-XSS-Protection "1; mode=block"

    AddType application/x-pem-file .pem
    <Location "/sp/">
        ForceType text/xml
    </Location>

    ErrorLog "|/usr/bin/logger -S 32k -p local3.err  -t 'Apache-METADATA'"
    CustomLog "|/usr/bin/logger -S 32k -p local3.info  -t 'Apache-METADATA'" combined
    
    {% if haproxy_backend_tls %}
    SSLEngine on
    SSLCertificateFile      {{ tls.cert_path }}/backend.{{ base_domain }}.pem
    SSLCertificateKeyFile   {{ tls.cert_private_path }}/backend.{{ base_domain }}.key
    Include ssl_backend.conf
    {% endif %}
    {% if apache_app_listen_address.all is defined %}
    SSLEngine on
    SSLCertificateFile      {{ tls.cert_path }}/{{ tls_star_cert }}
    SSLCertificateKeyFile   {{ tls.cert_private_path }}/{{ tls_star_cert_key }}
    SSLCertificateChainFile {{ tls.cert_path_ca }}/{{ tls_ca }}
    Include ssl_backend.conf
    {% endif %}

</VirtualHost>
