# The logging configuration.
logging:
  config: file://{{ mujina_idp_dir }}/logback.xml
  level:
    mujina: DEBUG

server:
  # The port to where this Spring Boot application listens to. e.g. http://localhost:{{ springapp_tcpport }}
  port: {{ springapp_tcpport }}
  # The context path of the server. You can skip this value in the overriding application.properties on the classpath
  contextPath:
  session:
    # 8 hours before we time-out
    timeout: 28800
  server-header: no

secure_cookie: {{ mujina_idp.cookie_secure }}

# Identity Provider
idp:
  entity_id: {{ mujina_idp.entity_id }}
  # base url
  base_url: {{ mujina_idp.base_url }}
  # Private key used to sign the SAML response
  private_key: {{ mujina_idp.private_key }}
  # Public certificate to verify the signature of the SAML response
  certificate: {{ mujina_idp.certificate }}
  # Passphrase of the keystore
  passphrase: {{ mujina_idp.passphrase }}
  # The number of seconds before a lower time bound, or after an upper time bound, to consider still acceptable
  clock_skew: 300
  # Number of seconds after a message issue instant after which the message is considered expired
  expires: 300
  # Authentication method ALL for every username / password combination and USER for the configured users
  auth_method: ALL

spring:
  mvc:
    favicon:
      enabled: false
  velocity:
    check-template-location: False

# We disable all endpoints except health for the load-balancer and info for git information.
endpoints:
  enabled: false
  jmx:
    enabled: false
  health:
    enabled: true
  info:
    enabled: true
