Listen {{ apache_app_listen_address.mujina_idp }}:{{ loadbalancing.mujina_idp.port }}
<Virtualhost {{ apache_app_listen_address.mujina_idp }}:{{ loadbalancing.mujina_idp.port }}>
    ServerName mujina-idp.{{ base_domain }}:443
    SetEnv HTTPS on

    ErrorLog "|/usr/bin/logger -p local3.err  -t 'Apache-Mujina-Idp'"
    CustomLog "|/usr/bin/logger -p local3.info  -t 'Apache-Mujina-Idp'" combined

    # Proxy requests through to Tomcat using AJP
    ProxyPass / ajp://localhost:8009/ retry=0

</VirtualHost>
