{% if apache_app_listen_address.metadata_exporter is defined %}
Listen {{ apache_app_listen_address.metadata_exporter }}:{{ loadbalancing.metadata_exporter.port }}
<VirtualHost {{ apache_app_listen_address.metadata_exporter }}:{{ loadbalancing.metadata_exporter.port }}>
{% else %}
<Virtualhost *:443 >
{% endif %}

    ServerName https://multidata.{{ base_domain }}

    ErrorLog "|/usr/bin/logger -p local3.err  -t 'Apache-Metadata-Exporter'"
    CustomLog "|/usr/bin/logger -p local3.info  -t 'Apache-Metadata-Exporter'" combined

    ProxyPass / http://localhost:{{ springapp_tcpport }}/ retry=0
    ProxyPassReverse / http://localhost:{{ springapp_tcpport }}/ retry=0

    <Location />
        RewriteEngine On
        RewriteRule /favicon.ico - [R=410]

        RewriteCond %{REQUEST_URI} ^/jsError$ [NC]
        RewriteRule ^.*$ - [F,L]
    </Location>
    
    {% if haproxy_backend_tls %}
    SSLEngine on
    SSLCertificateFile      {{ tls.cert_path }}/backend.{{ base_domain }}.pem
    SSLCertificateKeyFile   {{ tls.cert_private_path }}/backend.{{ base_domain }}.key
    Include ssl_backend.conf
    {% endif %}

    {% if apache_app_listen_address.all is defined %}
    SSLEngine on
    SSLCertificateFile      {{ tls.cert_path }}/{{ tls_star_cert }}
    SSLCertificateKeyFile   {{ tls.cert_private_path }}/{{ tls_star_cert_key }}
    SSLCertificateChainFile {{ tls.cert_path_ca }}/{{ tls_ca }}
    Include ssl_backend.conf
    {% endif %}

</VirtualHost>
