logging.config=file://{{ teams_dir }}/logback.xml
server.port={{ springapp_tcpport }}
server.tomcat.basedir={{ teams_dir }}/tomcat_work
server.session.cookie.secure=true

# An empty value will be replaced with the default
server.server-header=no

application.version= {{ teams_version }}

datasource.teams.driver-class-name=org.mariadb.jdbc.Driver
datasource.teams.url=jdbc:mysql://{{ teams.db_host }}/{{ teams.db_name }}
datasource.teams.username={{ teams.db_user }}
datasource.teams.password={{ teams.db_password }}
datasource.teams.validation-query=SELECT 1
datasource.teams.testWhileIdle=true

datasource.grouper.driver-class-name=org.mariadb.jdbc.Driver
datasource.grouper.url=jdbc:mysql://{{ teams.db_host }}/{{ teams.db_name }}
datasource.grouper.username={{ teams.db_user }}
datasource.grouper.password={{ teams.db_password }}
datasource.grouper.validation-query=SELECT 1
datasource.grouper.testWhileIdle=true

# The key which restricts access to running migrations from Grouper to teams database
migration.secret_key={{ teams_migration_secret_key }}
voot.api.user={{ teams.voot_api_user }}
voot.api.password={{ external_group_provider_secrets.teams }}

spring.jpa.properties.hibernate.naming-strategy=org.hibernate.cfg.ImprovedNamingStrategy
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MariaDB53Dialect

datasource.groupzy.driver-class-name=org.mariadb.jdbc.Driver
datasource.groupzy.url=jdbc:mysql://localhost/groupzy
datasource.groupzy.username=groupzy
datasource.groupzy.password=groupzy
datasource.groupzy.validation-query=SELECT 1
datasource.groupzy.testWhileIdle=true

#the stem name to find all groups
defaultStemName={{ teams_stemname }}

# App id displayed in the updates / invites section of the portal
appId={{ instance_name }} Teams

# The URL where the teams application is run so we can send out emails
teamsURL=https://teams.{{ base_domain }}

# SMTP server settings for notifications
spring.mail.host={{ smtp_server }}
spring.mail.port=25

# Email address that is the sender of invitations/requests
systemEmail={{ instance_name }} Teams <{{ noreply_email }}>

# Maximum amount an invitation can be sent
maxInvitations=5

#Group name context
group-name-context={{ teams.group_name_context }}

####################################################################
##
## The following properties are used to enable/disable features
##
####################################################################

# If set to false, the link to external group providers will not be shown
displayExternalTeams=true
# If set to false, the link from the list of external groups to the detail view with their members is hidden
displayExternalTeamMembers=true
# Shows/hides the button to add an external group to a SURFteam. If true, the button is visible
displayAddExternalGroupToTeam=true
# In a multi master database setup toggle which machine is reponsible for cron jobs
teamsCronJobResponsible={{ teams_cronjobmaster }}
####################################################################
##
## The following properties are the responsibility of the developers
##
####################################################################

# Maximum upload size in forms (in bytes), ~2MB
multipart.maxFileSize=2048000

# actual end-point for accessing VOOT
voot.serviceUrl=https://voot.{{ base_domain }}
# oauth config for accessing voot.
voot.accessTokenUri=https://authz.{{ base_domain }}/oauth/token
voot.clientId=surf-teams
voot.clientSecret={{ teams_authz_client_secret }}
voot.scopes=groups

server.session-timeout=3600

endpoints.enabled=false
endpoints.health.enabled=true
endpoints.info.enabled=true

spring.view.prefix: /WEB-INF/jsp/
spring.view.suffix: .jsp
spring.mvc.favicon.enabled=false
