# The logging configuration.
logging:
  config: file://{{ oidcng_dir }}/logback.xml
  level:
    org.springframework: INFO

server:
  # The port to where this Spring Boot application listens to. e.g. http://localhost:{{ springapp_tcpport }}
  port: {{ springapp_tcpport }}
  # We serve from the root. Do not change this
  contextPath:
  session:
    timeout: 28800
    cookie:
      secure: true
  server-header: no
  max-http-header-size: 10000000
  tomcat:
    max-http-post-size: 10000000

# Is this node in a load-balanced topology responsible for cleaning up resources
cron:
  node-cron-job-responsible: {{ oidcng_cronjobmaster }}
  # Every 15 minutes
  token-cleaner-expression: "0 0/15 * * * *"
  # Differs per env: see https://docs.spring.io/spring/docs/current/javadoc-api/org/springframework/scheduling/support/CronSequenceGenerator.html
  key-rollover-expression: {{ oidcng.key_rollover_cron_expression }}

mongodb_db: {{ oidcng.mongo_database }}
oidc_saml_mapping_path: file://{{ oidcng_dir }}/oidc_saml_mapping.json
openid_configuration_path: file://{{ oidcng_dir }}/openid-configuration.json
secret_key_set_path: file://{{ oidcng_dir }}/secret_keyset.json
associated_data: {{ oidcng_associated_data }}
access_token_one_way_hash_salt: {{ oidcng_access_token_one_way_hash_salt }}
private_key_path: file://{{ oidcng_dir }}/oidcsaml.key
certificate_path: file://{{ oidcng_dir }}/oidcsaml.crt
default_acr_value: {{ oidcng.default_acr_value }}
secure_cookie: true
oidc_token_endpoint: https://connect.{{ base_domain }}/oidc/token

idp:
  alias: engine-{{ env }}
  # comma separated string of metadata url's
  metadata_urls: {{ oidcng_idp_metadata_url }}
  name_id: https://engine.{{ base_domain }}/authentication/idp/metadata
  metadata_signing_certificate_path: file://{{ oidcng_dir }}/SURFconext-metadata-signer.pem

spring:
  data:
    mongodb:
      uri: "mongodb://{{ oidcng.mongo_user }}:{{ oidcng.mongo_password }}@{% if not mongo_cluster %}{{ mongo_hostname }}{% else %}{% for host in groups['mongo_servers'] %}{{ hostvars[host]['mongo_hostname'] }}:{{ oidcng.mongo_port }}{% if not loop.last %},{% endif %}{% endfor %}{% endif %}/{{ oidcng.mongo_database }}{% if mongo_tls %}?ssl=true{% endif %}"

  thymeleaf:
    cache: true
  security:
    saml2:
      network:
        read-timeout: 10000
        connect-timeout: 5000
      service-provider:
        entity-id: {{ oidcng_saml_sp_entityid }}
        prefix: oidc
        alias: oidc-proxy
        base-path: https://{{ oidcng_base_hostname }}
        sign-metadata: true
        sign-requests: true
        want-assertions-signed: true
        single-logout-enabled: false
        name-ids:
          - urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified
          - urn:oasis:names:tc:SAML:2.0:nameid-format:persistent
          - urn:oasis:names:tc:SAML:2.0:nameid-format:transient

manage:
  user: manage
  password: {{ oidcng_api_metadata_push_password }}

token-api:
  enabled: {{ oidcng.token_api_enabled }}
  users:
    - user: eduid
      password: {{ oidcng_api_tokens_eduid_password }}
    - user: profile
      password: {{ oidcng_api_tokens_profile_password }}

eduid:
  user: oidcng
  password: {{ myconext_api_attribute_manipulation_password }}
  uri: https://login.{{ myconext_base_domain }}/myconext/api/attribute-manipulation
  enabled: {{ oidcng.eduid_attribute_manipulation_enabled }}
