#jinja2:lstrip_blocks: True
<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

 <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
   <file>/var/log/oidcng/oidcng.log</file>
   <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
     <!-- daily rollover -->
     <fileNamePattern>/var/log/oidcng/oidcng-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
     <maxHistory>"{{ logback_max_history }}"</maxHistory>
   </rollingPolicy>
   <encoder>
     <pattern>%d{ISO8601} %5p [%t] %logger{40}:%L - %m%n</pattern>
   </encoder>
 </appender>

 <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
   <syslogHost>{{ rsyslog_host }}</syslogHost>
   <facility>DAEMON</facility>
   <suffixPattern>oidcng: [%thread] %logger %msg</suffixPattern>
 </appender>

 <appender name="JSON_SYSLOG" class="net.logstash.logback.appender.LogstashSocketAppender">
    <host>{{ ansible_fqdn }}</host>
    <port>514</port>
      <customFields>{"app":"oidcng"}</customFields>
        <fieldNames>
            <thread>[ignore]</thread>
            <version>[ignore]</version>
            <levelValue>[ignore]</levelValue>
       </fieldNames>
             <prefix class="ch.qos.logback.classic.PatternLayout">
        <pattern>oidcngjson:</pattern>
      </prefix>
  </appender>

{%if oidcng_logback_email | bool %}
 <appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
   <smtpHost>{{ smtp_server }}</smtpHost>
   <from>{{ noreply_email }}</from>
   <to>{{ error_mail_to }}</to>
   <subject>{{ error_subject_prefix }}Unexpected error oidcng</subject>
   <layout class="ch.qos.logback.classic.html.HTMLLayout"/>

    <filter class="filter.CustomThresholdFilter">
        <clazz>com.nimbusds.oauth2.sdk.ParseException</clazz>
        <clazz>org.springframework.security.authentication.BadCredentialsException</clazz>
        <clazz>oidc.exceptions.UnauthorizedException</clazz>
        <clazz>oidc.exceptions.RedirectMismatchException</clazz>
        <clazz>org.springframework.dao.EmptyResultDataAccessException</clazz>
        <clazz>java.lang.IllegalArgumentException</clazz>
     <level>ERROR</level>
   </filter>
 </appender>
{%endif%}

 <logger name="oidc" level="INFO" />
 <logger name="org.springframework" level="INFO" />
 <root level="WARN">
   <appender-ref ref="FILE" />
{%if oidcng_logback_email |bool  %}
   <appender-ref ref="EMAIL" />
{%endif%}
   <appender-ref ref="SYSLOG" />
   <appender-ref ref="JSON_SYSLOG" />
 </root>

</configuration>
