#jinja2:lstrip_blocks: True
<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

 <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
  <encoder>
     <pattern>%d{ISO8601} %5p [%t] %logger{40}:%L - %m%n</pattern>
   </encoder>
 </appender>

 <appender name="JSON_SYSLOG" class="net.logstash.logback.appender.LogstashSocketAppender">
    <host>{{ ansible_fqdn }}</host>
    <port>514</port>
      <customFields>{"app":"oidcng"}</customFields>
        <fieldNames>
            <thread>[ignore]</thread>
            <version>[ignore]</version>
            <levelValue>[ignore]</levelValue>
       </fieldNames>
             <prefix class="ch.qos.logback.classic.PatternLayout">
        <pattern>oidcngjson:</pattern>
      </prefix>
  </appender>

 <appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
   <smtpHost>{{ smtp_server }}</smtpHost>
   <from>{{ noreply_email }}</from>
   <to>{{ error_mail_to }}</to>
   <subject>{{ error_subject_prefix }}Unexpected error oidcng</subject>
   <layout class="ch.qos.logback.classic.html.HTMLLayout"/>

    <filter class="filter.CustomThresholdFilter">
        <clazz>com.nimbusds.oauth2.sdk.ParseException</clazz>
        <clazz>org.springframework.security.authentication.BadCredentialsException</clazz>
        <clazz>oidc.exceptions.UnauthorizedException</clazz>
        <clazz>oidc.exceptions.RedirectMismatchException</clazz>
        <clazz>org.springframework.dao.EmptyResultDataAccessException</clazz>
        <clazz>java.lang.IllegalArgumentException</clazz>
     <level>ERROR</level>
   </filter>
 </appender>

 <logger name="oidc" level="WARN" />
 <logger name="org.springframework" level="WARN" />
 <root level="WARN">
{%if oidcng_logback_file |bool  %}
   <appender-ref ref="FILE" />
{%endif%}
{%if oidcng_logback_email |bool  %}
   <appender-ref ref="EMAIL" />
{%endif%}
   <appender-ref ref="SYSLOG" />
{%if oidcng_logback_json |bool  %}
   <appender-ref ref="JSON_SYSLOG" />
{%endif%}
 </root>

</configuration>
