{% if apache_app_listen_address.welcome is defined %}
Listen {{ apache_app_listen_address.welcome }}:{{ loadbalancing.welcome.port }}
<Virtualhost {{ apache_app_listen_address.welcome }}:{{ loadbalancing.welcome.port }}>
{% else %}
<Virtualhost *:443 >
{% endif %}
    # General setup for the virtual host, inherited from global configuration
    ServerName {{ base_domain }}:443

    DocumentRoot /var/www/welcome
{% if apache_app_listen_address.all is defined %}
    SSLEngine on
    SSLCertificateFile      {{ tls.cert_path }}/{{ tls_star_cert }}
    SSLCertificateKeyFile   {{ tls.cert_private_path }}/{{ tls_star_cert_key }}
    SSLCertificateChainFile {{ tls.cert_path_ca }}/{{ tls_ca }}
    BrowserMatch "MSIE [2-6]" nokeepalive ssl-unclean-shutdown downgrade-1.0 force-response-1.0
    # MSIE 7 and newer should be able to use keepalive
    BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown
{% endif %}

    ErrorLog "|/usr/bin/logger -p local3.err  -t 'Apache-Welcome'"
	  CustomLog "|/usr/bin/logger -p local3.info  -t 'Apache-Welcome'" combined

</VirtualHost>
