Listen {{ apache_app_listen_address.welcome }}:{{ loadbalancing.welcome.port }}
<Virtualhost {{ apache_app_listen_address.welcome }}:{{ loadbalancing.welcome.port }}>
    # General setup for the virtual host, inherited from global configuration
    ServerName {{ base_domain }}:443

    DocumentRoot /var/www/welcome

    ErrorLog "|/usr/bin/logger -p local3.err  -t 'Apache-Welcome'"
    CustomLog "|/usr/bin/logger -p local3.info  -t 'Apache-Welcome'" combined
</VirtualHost>
