---
- name: Create directory to keep configfile
  ansible.builtin.file:
    dest: "/opt/openconext/teams"
    state: directory
    owner: root
    group: root
    mode: "0770"

- name: Place the serverapplication configfiles
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: /opt/openconext/teams/{{ item }}
    owner: root
    group: root
    mode: "0644"
  with_items:
    - serverapplication.yml
    - logback.xml
  notify: restart teamsserver

- name: Add the MariaDB docker network to the list of networks when MariaDB runs in Docker
  ansible.builtin.set_fact:
    teams_docker_networks:
      - name: loadbalancer
      - name: openconext_mariadb
  when: mariadb_in_docker | default(false) | bool

- name: Create and start the server container
  community.docker.docker_container:
    name: teamsserver
    env:
      TZ: "{{ timezone }}"
    image: ghcr.io/openconext/openconext-teams-ng/teams-server:{{ teams_server_version }}
    pull: true
    restart_policy: "{{ teams_server_restart_policy }}"
    restart_retries: "{{ teams_server_restart_retries }}" # Only for restart policy on-failure
    state: started
    networks: "{{ teams_docker_networks }}"
    mounts:
      - source: /opt/openconext/teams/serverapplication.yml
        target: /application.yml
        type: bind
      - source: /opt/openconext/teams/logback.xml
        target: /logback.xml
        type: bind
    command: "-Xmx512m --spring.config.location=./"
    etc_hosts:
      host.docker.internal: host-gateway
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "-no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:8080/internal/health",
        ]
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 10s
  register: teamsserverontainer

- name: Create the gui container
  community.docker.docker_container:
    name: teamsgui
    image: ghcr.io/openconext/openconext-teams-ng/teams-gui:{{ teams_gui_version }}
    pull: true
    restart_policy: "always"
    state: started
    networks:
      - name: "loadbalancer"
    labels:
      traefik.http.routers.teamsgui.rule: "Host(`teams.{{ base_domain }}`)"
      traefik.http.routers.teamsgui.tls: "true"
      traefik.enable: "true"
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost/internal/health"]
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 10s
    hostname: teams
    mounts:
      - source: /etc/localtime
        target: /etc/localtime
        type: bind
      - source: /opt/openconext/common/favicon.ico
        target: /var/www/favicon.ico
        type: bind
    env:
      HTTPD_CSP: "{{ httpd_csp.strict_with_static_img }}"
      HTTPD_SERVERNAME: "teams.{{ base_domain }}"
      OPENCONEXT_INSTANCENAME: "{{ instance_name }}"
      OPENCONEXT_ENGINE_LOGOUT_URL: "https://engine.{{ base_domain }}/logout"
      OPENCONEXT_HELP_EMAIL: "{{ support_email }}"
      SHIB_ENTITYID: "https://teams.{{ base_domain }}/shibboleth"
      SHIB_REMOTE_ENTITYID: "https://engine.{{ base_domain }}/authentication/idp/metadata"
      SHIB_REMOTE_METADATA: "{{ shibboleth_metadata_sources.engine }}"
