---
- name: create user
  user: name=teams system=yes home={{ teams_dir }} shell=/sbin/nologin

- name: copy start script
  template: src=templates/spring-boot.j2 dest=/etc/init.d/{{ springapp_service_name }} mode=0755
  notify: restart teams

- name: enable service
  service: name=teams enabled=yes

- name: Create logging directory
  file: path=/var/log/{{ springapp_service_name }} state=directory owner=teams group=teams mode=0755

- include: ../../../tasks/springbootapp/install-release.yml
  when: "teams_snapshot_timestamp == '' and teams_local_jar == ''"

- include: ../../../tasks/springbootapp/install-snapshot.yml
  when: "teams_snapshot_timestamp != '' and teams_local_jar == ''"

- include: ../../../tasks/springbootapp/install-local.yml
  when: "teams_local_jar != ''"

- name: copy logging config
  template: src=logback.xml.j2 dest={{ teams_dir }}/logback.xml owner=teams group=teams mode=0740
  notify: restart teams

- name: copy application config
  template: src=application.properties.j2 dest={{ teams_dir }}/application.properties owner=teams group=teams mode=0740
  notify: restart teams

- name: copy grouper client config
  template: >
    src=grouper.client.properties.j2
    dest={{ teams_dir }}/grouper.client.properties
    owner=teams
    group=teams
    mode=0740
  register: grouper_client_config_result
  notify: restart teams

# grouperClient.jar insists that a file called grouper.client.properties is on the classpath, so we'll put it inside the war.
- name: add grouper client config to war
  shell: jar -uf $(readlink teams-current.war) grouper.client.properties chdir={{ teams_dir }}
  when: grouper_client_config_result.changed or (springapp_release_released is defined and springapp_release_released.changed) or (springapp_snapshot_released is defined and springapp_snapshot_released.changed)

- name: copy locale languages files
  copy: src=WEB-INF dest={{ teams_dir }} owner="{{ springapp_user }}" group="{{ springapp_user }}" mode=0740

- name: replace language files in war
  shell: jar -uvf $(readlink teams-current.war) ./WEB-INF/ chdir={{ teams_dir }}
  when: (springapp_release_released is defined and springapp_release_released.changed) or (springapp_snapshot_released is defined and springapp_snapshot_released.changed)

- name: change permissions to war
  file:
    path: "{{ springapp_dir }}/{{ springapp_artifact_id }}-{{ springapp_version }}.{{ springapp_artifact_type }}"
    owner: "{{ springapp_user }}"
    group: "{{ springapp_user }}"
    mode: 0644
  when: "teams_snapshot_timestamp == '' and teams_local_jar == ''"

- name: change permissions to war
  file:
    path: "{{ springapp_dir }}/{{ springapp_artifact_id }}-{{ springapp_version }}-{{ springapp_snapshot_timestamp }}.{{ springapp_artifact_type }}"
    owner: "{{ springapp_user }}"
    group: "{{ springapp_user }}"
    mode: 0644
  when: "teams_snapshot_timestamp != '' and teams_local_jar == ''"

- name: copy grouper provision script for teams
  copy: src={{ item }} dest=~/{{ item }}
  with_items:
    - create-stems.gsh
  when: env == 'vm' or env == 'test2' or env == 'template'

- name: provision grouper for teams
  shell: "/bin/env GSH_JVMARGS='-Djava.security.egd=file:///dev/urandom' bin/gsh ~/create-stems.gsh"
  register: gsh_output
  changed_when: "gsh_output.stderr != ''"
  args:
    chdir: /opt/www/grouper-shell
  when: env == 'vm' or env == 'test2' or env == 'template'

- name: copy apache config
  template: src=teams.conf.j2 dest=/etc/httpd/conf.d/teams.conf
  notify: reload httpd

# no idea why this is necessary, as the init script returns an ok status also
# if teams is still initializing.  Waiting for the port to open works well
# though, and seems like to correct way to handle this.
- name: start the teams service
  service: name=teams state=started enabled=yes
  ignore_errors: true

- name: wait for teams to start
  wait_for: connect_timeout=30 port={{ springapp_tcpport }} state=started

- name: ensure the service is started
  service: name=teams enabled=yes state=started

- name: cleanup old wars
  shell: find . ! -name $(basename $(readlink teams-current.war)) -name '*.war' -type f -exec rm {} \; chdir={{ teams_dir }}
  when: (springapp_release_released is defined and springapp_release_released.changed) or (springapp_snapshot_released is defined and springapp_snapshot_released.changed)
