#!/bin/bash
#
### To run inside a runnig docker container
# sudo docker cp /root/01-webauthn-db_init.sh webauthn:/
# sudo docker exec -it webauthn /bin/bash /01-webauthn-db_init.sh
#
cd /var/www/html
echo "Create database if not exists"
/var/www/html/bin/console doctrine:database:create --if-not-exists
if [ $? -eq 0 ]
then
    echo "Done!"
else
    echo "Database creation failed"
    exit 1
fi
echo "Create or migrate schema"
/var/www/html/bin/console doctrine:migrations:migrate
then
    echo "Done!"
else
    echo "Database migration failed"
    exit 1
fi
