# The logging configuration.
logging:
  config: file://{{ attribute_aggregation_dir }}/logback.xml
  level:
    org.hibernate.SQL: INFO

server:
  # The port to where this Spring Boot application listens to. e.g. http://localhost:{{ springapp_tcpport }}
  port: {{ springapp_tcpport }}
  contextPath: /aa/api
  session:
    timeout: 28800
    cookie:
      secure: true
  server-header: no

scim_server_environment: test.surfconext
attribute_authorities_config_path: file:///opt/attribute-aggregation/attributeAuthorities.yml
authorization_access_token_url: https://authz.{{ base_domain }}/oauth/token
aggregate_cache_duration_milliseconds: -1

orcid:
  authorization_uri: "{{ aa.orcid_authorization_uri }}"
  access_token_uri: "{{ aa.access_token_uri }}"
  client_id: "{{ aa.orcid_client_id }}"
  client_secret: "{{ aa.orcid_secret }}"
  redirect_uri: https://aa.{{ base_domain }}/redirect

security:
  internal_user_name: {{ aa.eb_username }}
  internal_password: {{ aa.eb_password }}

pseudo:
  mail_postfix: {{ attribute_aggregation_pseudo_mail_postfix }}

spring:
  jpa:
    properties:
      hibernate:
        naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
        dialect: org.hibernate.dialect.MariaDB53Dialect
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mysql://{{ aa.db_host }}/{{ aa.db_name }}
    username: {{ aa.db_user }}
    password: {{ aa.db_password }}
    tomcat:
      test-on-borrow: true
      validation-query: SELECT 1
      remove-abandoned: true
  main:
    banner-mode: "off"

# We disable all endpoints except health for the load-balancer and info for git information.
endpoints:
  enabled: false
  health:
    enabled: true
    sensitive: false
  info:
    enabled: true
