authorities:
  - {
      id: "pseudo_email",
      description: "Pseudo email provides a pseudo email address to be used by Service Providers. Mails sent to this pseudo email address will be delivered to the real email address",
      endpoint: "",
      user: "",
      password: "",
      timeOut: 1000,
      attributes: [
        {
          name: "urn:mace:dir:attribute-def:mail",
          description: "The pseudo email address of the user.",
          type: "string",
          example: "8d6a9e55-8824-4cf5-b2eb-f877f11f4e5f@surfconext.nl"
        }
      ],
      requiredInputAttributes: [
        {
        name: "urn:mace:dir:attribute-def:mail",
        },
        {
        name: "SPentityID"
        }
      ],
      validationRegExp: "^[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,6}$"
    }
  - {
      id: "orcid",
      description: "ORCID provides a persistent digital identifier that distinguishes you from every other researcher and, through integration in key research workflows such as manuscript and grant submission, supports automated linkages between you and your professional activities ensuring that your work is recognized",
      endpoint: "",
      user: "",
      password: "",
      timeOut: 1000,
      attributes: [
        {
          name: "urn:mace:dir:attribute-def:eduPersonOrcid",
          description: "The ORCID is a persistent digital identifier that distinguishes the account holder from every other researcher.",
          type: "string",
          example: "http://orcid.org/0000-0002-4926-2859"
        }
      ],
      requiredInputAttributes: [
        {
        name: "urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified"
        }
      ],
      validationRegExp: "^(https?://orcid\\.org/|)([0-9]{4}-){3}[0-9]{3}[0-9X]$"
    }
  - {
      id: "sab",
      description: "SURF Autorisatie Beheer",
      endpoint: "{{ aa.sab_endpoint }}",
      user: "{{ aa.sab_username }}",
      password: "{{ aa.sab_password }}",
      timeOut: 1000,
      attributes: [
        {
          name: "urn:mace:dir:attribute-def:eduPersonEntitlement",
          description: "URI (either URN or URL) that indicates a set of rights to specific resources.",
          type: "string",
          example: "urn:mace:surfnet.nl:surfnet.nl:sab:role:Instellingsbevoegde"
        }
      ],
      requiredInputAttributes: [
        {
        name: "urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified"
        }
      ],
      validationRegExp: "^urn:mace:surfnet.nl:(surfnet\\.nl|surf\\.nl):sab:(role|organizationCode|organizationGUID|mobile):[A-Z0-9_+-]+$"
    }
  - {
      id: "voot",
      description: "An extensible protocol for dynamic exchange of group and authorization data",
      endpoint: "https://voot.{{ base_domain }}",
      user: "{{ aa.authz_client_id }}",
      password: "{{ aa.authz_secret }}",
      timeOut: 1000,
      attributes: [
        {
          name: "urn:mace:dir:attribute-def:isMemberOf",
          description: "Lists the collaborative organisations / groups the user is a member of",
          type: "string",
          example: "urn:collab:group:test.surfteams.nl:nl:surfnet:diensten:admins"
        }
      ],
      requiredInputAttributes: [
        {
        name: "urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified"
        }
      ],
      validationRegExp: "^urn:collab:group:.*$"
    }
  - {
      id: "ala",
      description: "Account Linking App",
      endpoint: "{{ aa.ala_url }}",
      user: "{{ aa.ala_username }}",
      password: "{{ aa.ala_password }}",
      timeOut: 3000,
      attributes: [
        {
          name: "urn:mace:dir:attribute-def:eduPersonPrincipalName",
          description: "The EPPN of the user.",
          type: "string",
          example: "j.doe@example.co"
        },
        {
          name: "urn:mace:eduid.nl:1.1",
          description: "SP scoped unique eduID.",
          type: "string",
          example: "b04f6998-81e3-4d40-9cee-d96a9fe570df"
        },
        {
          name: "urn:mace:dir:attribute-def:eduPersonEntitlement",
          description: "URI indicating a set of rights to specific resources.",
          type: "string",
          example: "urn:mace:eduid.nl:entitlement:verified-by-institution"
        },
        {
          name: "urn:mace:dir:attribute-def:givenName",
          description: "The given name of the user.",
          type: "string",
          example: "John"
        },
        {
          name: "urn:mace:dir:attribute-def:sn",
          description: "The family name of the user.",
          type: "string",
          example: "Doe"
        }
      ],
      requiredInputAttributes: [
        {
          name: "urn:mace:dir:attribute-def:eduPersonPrincipalName"
        },
        {
          name: "SPentityID"
        }
      ],
      validationRegExp: "^.*$"
    }
  - {
      id: "manage",
      description: "Manage - SURF CRM",
      endpoint: "{{ aa.manage_url }}",
      user: "{{ aa.manage_username }}",
      password: "{{ aa.manage_password }}",
      timeOut: 3000,
      attributes: [
        {
          name: "urn:mace:surf.nl:attribute-def:surf-crm-id",
          description: "The SURF CRM value in Manage of the IdP attribute 'coin:institution_guid'.",
          type: "guid",
          example: "ad93daef-0911-e511-80d0-005056956c1a"
        }
      ],
      requiredInputAttributes: [
        {
          name: "IDPentityID"
        }
      ],
      validationRegExp: "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
    }
  - {
    id: "eduid",
    description: "eduID Attribute Aggregator",
    endpoint: "{{ aa.eduid_url }}",
    user: "{{ aa.eduid_username }}",
    password: "{{ aa.eduid_password }}",
    timeOut: 3000,
    attributes: [
    {
      name: "urn:mace:eduid.nl:1.1",
      description: "SP scoped unique eduID.",
      type: "string",
      example: "b04f6998-81e3-4d40-9cee-d96a9fe570df"
    }
    ],
    requiredInputAttributes: [
    {
      name: "urn:mace:dir:attribute-def:eduPersonPrincipalName"
    },
    {
      name: "SPentityID"
    }
    ],
    validationRegExp: "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
  }
