authorities:
  - {
      id: "orcid",
      description: "ORCID provides a persistent digital identifier that distinguishes you from every other researcher and, through integration in key research workflows such as manuscript and grant submission, supports automated linkages between you and your professional activities ensuring that your work is recognized",
      endpoint: "",
      user: "",
      password: "",
      timeOut: 1000,
      attributes: [
        {
          name: "urn:mace:dir:attribute-def:eduPersonOrcid",
          description: "The ORCID is a persistent digital identifier that distinguishes the account holder from every other researcher.",
          type: "string",
          example: "http://orcid.org/0000-0002-4926-2859"
        }
      ],
      requiredInputAttributes: [
        {
        name: "urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified"
        }
      ]
    }
  - {
      id: "sab",
      description: "SURFnet Autorisatie Beheer",
      endpoint: "{{ aa.sab_endpoint }}",
      user: "{{ aa.sab_username }}",
      password: "{{ aa.sab_password }}",
      timeOut: 1000,
      attributes: [
        {
          name: "urn:mace:dir:attribute-def:eduPersonEntitlement",
          description: "URI (either URN or URL) that indicates a set of rights to specific resources.",
          type: "string",
          example: "urn:x-surfnet:surfnet.nl:sab:role:Instellingsbevoegde"
        }
      ],
      requiredInputAttributes: [
        {
        name: "urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified"
        }
      ]
    }
  - {
      id: "voot",
      description: "An extensible protocol for dynamic exchange of group and authorization data",
      endpoint: "https://voot.{{ base_domain }}",
      user: "{{ aa.authz_client_id }}",
      password: "{{ aa.authz_secret }}",
      timeOut: 1000,
      attributes: [
        {
          name: "urn:mace:dir:attribute-def:isMemberOf",
          description: "Lists the collaborative organisations / groups the user is a member of",
          type: "string",
          example: "urn:collab:group:test.surfteams.nl:nl:surfnet:diensten:admins"
        }
      ],
      requiredInputAttributes: [
        {
        name: "urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified"
        }
      ]
    }
