---
oidc_playground_dir: /opt/oidc-playground
oidc_playground_snapshot_timestamp: ''
oidc_playground_local_jar: ''
oidc_playground_jar: oidc-playground-current.jar
oidc_playground_random_source: 'file:///dev/urandom'
