parameters:
{% if 'docker' in group_names %}
    app_env: prod
    app_debug: false
    app_secret: {{ ra_secret }}
{% endif %}

    trusted_proxies:   [ {{ engine_trusted_proxy_ips|join(',') }} ]

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    default_locale:       {{ default_locale }}
    locales:              [{{ enabled_locales | join(",") }}]
    locale_cookie_domain: {{ locale_cookie_domain }}

    secret:               {{ ra_secret }}

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

{# Note: Gateway API acces over HTTP #}
{# gateway vhost ip is set in /etc/hosts #}
    gateway_api_url: https://{{ gateway_vhost_name }}/
    gateway_api_username: ra
    gateway_api_password: {{ registration_authority_api_password }}

    middleware_credentials_username: ra
    middleware_credentials_password: {{ registration_authority_api_password }}

{# Note: Middleware API acces over HTTP #}
{# middleware vhost ip is set in /etc/hosts #}
    middleware_url_command_api: https://{{ middleware_vhost_name }}/command
    middleware_url_api: https://{{ middleware_vhost_name }}/

    sms_originator: {{ sms_originator }}
    sms_otp_expiry_interval: {{ sms_otp_expiry_interval }}
    sms_maximum_otp_requests: {{ sms_maximum_otp_requests }}

    saml_sp_publickey: {{ current_release_config_file_dir_name_in_config }}/sp.crt
    saml_sp_privatekey: {{ current_release_config_file_dir_name_in_config }}/sp.key

    saml_metadata_publickey: {{ current_release_config_file_dir_name_in_config }}/sp.crt
    saml_metadata_privatekey: {{ current_release_config_file_dir_name_in_config }}/sp.key

    saml_remote_idp_entity_id: https://{{ gateway_vhost_name }}/authentication/metadata
    saml_remote_idp_sso_url: https://{{ gateway_vhost_name }}/authentication/single-sign-on
    saml_remote_idp_certificate: {{ gateway_saml_idp_publickey | depem }}

    # Minimum LoA required for login to the RA interface
    authentication_context_class_ref: '{{ stepup_uri_loa3 }}'

    stepup_loa_loa1: '{{ stepup_uri_loa1 }}'
    stepup_loa_loa2: '{{ stepup_uri_loa2 }}'
    stepup_loa_loa3: '{{ stepup_uri_loa3 }}'
    stepup_loa_self_asserted: '{{ stepup_uri_self_asserted }}'

    logout_redirect_url:
{% for key, value in logout_redirect_url.items() %}
      {{ key }}: {{ value }}
{% endfor %}

    enabled_second_factors: [ {{ stepup_enabled_factors }} ]

    enabled_generic_second_factors:
{% for key, value in stepup_enabled_generic_second_factors.items() %}
      {{ key }}:
        loa: {{ value.loa }}
{% endfor %}

    session_max_absolute_lifetime: {{ app_session_max_duration }}
    session_max_relative_lifetime: {{ app_session_expiry_time }}

    # URL of the selfselrvice interface, for display in (error) messages to the user
    self_service_url: https://{{ selfservice_vhost_name }}

    # Date format defaults for Twig date functions
    date_format: 'Y-m-d H:i P'
    date_timezone: Europe/Amsterdam
