# The logging configuration.
logging:
  config: file://{{ mujina_sp_dir }}/logback.xml
  level:
    mujina: DEBUG

server:
  # The port to where this Spring Boot application listens to. e.g. http://localhost:{{ springapp_tcpport }}
  port: {{ springapp_tcpport }}
  # The context path of the server. You can skip this value in the overriding application.properties on the classpath
  contextPath:
  session:
    # 8 hours before we time-out
    timeout: 28800
  server-header: no

secure_cookie: {{ mujina_sp.cookie_secure }}

# Service Provider
sp:
  # base url
  base_url: {{ mujina_sp.base_url }}
  # Entity ID of the SP
  entity_id: {{ mujina_sp.entity_id }}
  # Private key used to sign the SAML response
  private_key: {{ mujina_sp.private_key }}
  # Public certificate to verify the signature of the SAML response
  certificate: {{ mujina_sp.certificate }}
  # Passphrase of the keystore
  passphrase: {{ mujina_sp.passphrase }}
  # Resource URL for the idp metadata
  idp_metadata_url: {{ mujina_sp.idp_metadata_url }}
  # SingleSignOnServiceLocation
  single_sign_on_service_location: {{ mujina_sp.single_sign_on_service_location }}
  # ACS location
  acs_location_path: /saml/SSO
  # Protocol binding
  protocol_binding: urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST
  # Do we sign the authnRequest
  needs_signing: true

spring:
  mvc:
    favicon:
      enabled: false
  velocity:
    check-template-location: False

# We disable all endpoints except health for the load-balancer and info for git information.
endpoints:
  enabled: false
  jmx:
    enabled: false
  health:
    enabled: true
  info:
    enabled: true
