Listen {{ apache_app_listen_address.mujina_sp }}:{{ loadbalancing.mujina_sp.port }}
<Virtualhost {{ apache_app_listen_address.mujina_sp }}:{{ loadbalancing.mujina_sp.port }}>
    # General setup for the virtual host, inherited from global configuration
    ServerName mujina-sp.{{ base_domain }}:443

    # Use separate log files for the SSL virtual host; note that LogLevel
    # is not inherited from httpd.conf.
    ErrorLog logs/mujina-sp_ssl_error_log
    TransferLog logs/mujina-sp_ssl_access_log
    LogLevel warn

    # Proxy requests through to Tomcat using AJP
    ProxyPass / ajp://localhost:8009/ retry=0

</VirtualHost>
