_jsErrorConfig = {
  accessToken: "{{ js_error_reporting_access_token }}",
  enabled: {{ js_error_enabled | bool|lower }},
  environment: "{{ env }}",
  clientId: "{{ js_error_reporting_client_id }}",
  url: "{{ js_error_reporting_url }}"
};

window.onerror = function(msg, url, line, col, error) {
  if (!_jsErrorConfig.enabled) {
    return false;
  }
  var xhr = new XMLHttpRequest();
  xhr.open('POST', _jsErrorConfig.url);
  xhr.setRequestHeader('Content-Type', 'application/json');
  xhr.send(JSON.stringify({
    accessToken: _jsErrorConfig.accessToken,
    environment: _jsErrorConfig.environment,
    clientId: _jsErrorConfig.clientId,
    userAgent: navigator.userAgent,
    message: msg,
    url: url,
    line: line,
    col: col,
    error: error
  }));
  return true;
};
