input {
  beats {
    port => 5055
    {% if logstash_tls %}
    ssl_enable => true
    ssl_cert => "/etc/pki/tls/certs/logstash.{{ base_domain }}.pem"
    ssl_key => "/etc/pki/tls/private/logstash.{{ base_domain }}.key"
    {% endif %}
    add_field =>  { "origin" => "stepup" }

  }
}
filter {
   grok {
      match => { "message" =>  "%{SYSLOGBASE}?%{GREEDYDATA:message}" }
      overwrite => [ "message" ]
   }
   mutate {
       remove_field => "agent" # Agent is added by filebeat, and clashes with the nginx agent field
   }
}
