parameters:
    app_env: prod
    app_debug: false
    app_secret: {{ lifecycle_symfony_secret }}
    database_host: {{ lifecycle_db_host }}
    database_port: 3306
    database_name: {{ lifecycle_eb_logins_db }}
    database_user: {{ lifecycle_db_user }}
    database_password: {{ lifecycle_db_pass }}
    secret: {{ lifecycle_symfony_secret }}
    open_conext_user_lifecycle_clients:
        engine:
            url: 'https://engine-api.{{ base_domain }}'
            username: "{{ engine_api_deprovision_user }}"
            password: "{{ engine_api_deprovision_password }}"
            verify_ssl: true
        teams:
            url: 'https://teams.{{ base_domain }}/'
            username: "{{ teams_api_lifecycle_username }}"
            password: "{{ teams_api_lifecycle_password }}"
            verify_ssl: true
        invite:
            url: 'https://invite.{{ base_domain }}/api/external/v1/'
            username: "{{ invite.lifecycle_user }}"
            password: "{{ invite.lifecycle_secret }}"
            verify_ssl: true
        attribute-aggregation-server:
            url: 'https://aa.{{ base_domain}}/aa/api/'
            username: "{{ attribute_aggregator_api_lifecycle_username }}"
            password: "{{ attribute_aggregator_api_lifecycle_password }}"
            verify_ssl: true
        stepup:
            url: 'https://middleware.{{ base_domain}}/'
            username: "lifecycle"
            password: "{{ lifecycle_password }}"
            verify_ssl: true
    user_quota: {{ lifecycle_user_quota }}
    inactivity_period: {{ lifecycle_inactivity_period }}
    # is the deprovision api enabled?
    deprovision_api_settings_enabled: {{ lifecycle_api_enabled }}
    deprovision_api_settings_username: "{{ lifecycle_api_username }}"
    deprovision_api_settings_password: "{{ lifecycle_api_password }}"
