logging.config=file://{{ authz_playground_dir }}/logback.xml

oauth.redirect_uri={{ authzplayground.springapp_oauth_redirect }}
oauth.token_uri={{ authzplayground.springapp_oauth_token_url }}
oauth.client_id={{ authzplayground.springapp_client_id }}
oauth.client_secret={{ authzplayground.springapp_client_secret | vault }}
oauth.authorize_url={{ authzplayground.springapp_authorize_url }}
oauth.resource_server_api_url={{ authzplayground.springapp_resource_server_api_url }}

server.port={{ springapp_tcpport }}
