Listen {{ apache_app_listen_address.authz_playground }}:{{ loadbalancing.authz_playground.port }}
<VirtualHost {{ apache_app_listen_address.authz_playground }}:{{ loadbalancing.authz_playground.port }}>
    ServerName authz-playground.{{ base_domain }}:443

    ErrorLog logs/authzplayground_ssl_error_log
    TransferLog logs/authzplayground_ssl_access_log
    LogLevel warn

    ProxyPass / http://localhost:{{ springapp_tcpport }}/ retry=0
    ProxyPassReverse / http://localhost:{{ springapp_tcpport }}/ retry=0

</VirtualHost>
