{
{% for institution_key, institution in aa.institutions.items() %}
  "{{ institution_key }}": {
    "baseUrl": "{{ institution.baseUrl }}",
    "userName": "{{ institution.userName }}",
    "password": "{{ institution.password }}"
  }{% if not loop.last %},{% endif %}
{% endfor %}
}
