{
  "https://mock-sp": {
    "baseUrl": "http://localhost:8989/",
    "userName": "api-user",
    "password": "secret"
  },
  "https://mock-rp": {
    "baseUrl": "http://localhost:8989",
    "userName": "api-user",
    "password": "secret"
  }
}