<?xml version="1.0"?>
<Attributes xmlns="urn:mace:shibboleth:2.0:attribute-map" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!-- ENGINEBLOCK ATTRIBUTE MAPS -->
    <!-- Name ID Attribute map -->
    <Attribute name="urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified" id="name-id">
      <AttributeDecoder xsi:type="NameIDAttributeDecoder" formatter="$Name" defaultQualifiers="true"/>
    </Attribute>

    <!-- UID attribute map -->
    <Attribute name="urn:mace:dir:attribute-def:uid" nameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri" id="uid" />
    <!-- Mail attribute map -->
    <Attribute name="urn:mace:dir:attribute-def:mail" nameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri" id="Shib-InetOrgPerson-mail" />
    <!-- schacHomeOrganization attribute map -->
    <Attribute name="urn:mace:terena.org:attribute-def:schacHomeOrganization" nameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri" id="schacHomeOrganization" />
    <!-- isMemberOf attribute map -->
    <Attribute name="urn:mace:dir:attribute-def:isMemberOf" nameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri" id="is-member-of" />
    <!-- eduPersonEntitlement attribute map -->
    <Attribute name="urn:mace:dir:attribute-def:eduPersonEntitlement" nameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri" id="eduPersonEntitlement" />
    <!-- Display Name attribute map -->
    <Attribute name="urn:mace:dir:attribute-def:displayName" nameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri" id="displayName" />

    <!-- Dashboard needs all known attributes to display in the attributes overview page for services -->
    <Attribute name="urn:mace:dir:attribute-def:sn"                                            nameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri" id="Shib-surName"/>
    <Attribute name="urn:mace:dir:attribute-def:givenName"                                     nameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri" id="Shib-givenName"/>
    <Attribute name="urn:mace:dir:attribute-def:cn"                                            nameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri" id="Shib-commonName"/>
    <Attribute name="urn:mace:dir:attribute-def:ou"                                            nameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri" id="Shib-orgUnit"/>
    <Attribute name="urn:mace:dir:attribute-def:eduPersonAffiliation"                          nameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri" id="Shib-eduPersonAffiliation"/>
    <Attribute name="urn:mace:dir:attribute-def:eduPersonScopedAffiliation"                    nameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri" id="Shib-eduPersonScopedAffiliation"/>
    <Attribute name="urn:mace:dir:attribute-def:eduPersonTargetedID"                           nameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri" id="Shib-eduPersonTargetedID"/>
    <Attribute name="urn:mace:dir:attribute-def:eduPersonPrincipalName"                        nameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri" id="Shib-eduPersonPN"/>
    <Attribute name="urn:mace:dir:attribute-def:eduPersonOrcid"                                nameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri" id="Shib-eduPersonOrcid"/>
    <Attribute name="urn:mace:dir:attribute-def:preferredLanguage"                             nameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri" id="Shib-preferredLanguage"/>
    <Attribute name="urn:mace:terena.org:attribute-def:schacHomeOrganizationType"              nameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri" id="Shib-schacHomeOrganizationType"/>
    <Attribute name="urn:schac:attribute-def:schacPersonalUniqueCode"                          nameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri" id="Shib-schacPersonalUniqueCode"/>
    <Attribute name="urn:mace:surffederatie.nl:attribute-def:nlEduPersonOrgUnit"               nameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri" id="Shib-nlEduPersonOrgUnit"/>
    <Attribute name="urn:mace:surffederatie.nl:attribute-def:nlEduPersonStudyBranch"           nameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri" id="Shib-nlEduPersonStudyBranch"/>
    <Attribute name="urn:mace:surffederatie.nl:attribute-def:nlStudielinkNummer"               nameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri" id="Shib-nlStudielinkNummer"/>
    <Attribute name="urn:mace:surf.nl:attribute-def:eckid"                                     nameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri" id="Shib-surfEckid"/>
    <Attribute name="urn:mace:eduid.nl:1.1"                                                    nameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri" id="Shib-eduid"/>
    <Attribute name="urn:mace:surf.nl:attribute-def:surf-crm-id"                               nameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri" id="Shib-surf-crm"/>
    <Attribute name="urn:mace:surf.nl:attribute-def:surf-autorisaties"                         nameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri" id="Shib-surf-autorisaties"/>
    <Attribute name="urn:oasis:names:tc:SAML:attribute:subject-id"                             nameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri" id="Shib-subjectid"/>
</Attributes>
