<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ instance_name }} - Local logout</title>
  <meta http-equiv="refresh" content="0;url={{ engine_logout_url }}">
  <link rel="stylesheet" href="<shibmlp styleSheet/>">
  <link rel="stylesheet" href="<shibmlp styleSheet2/>">
</head>
<body class="index">
<div id="wrapper">

  <header>
  <div id="header">
  </div>
  </header>

  <main>
  <div id="main">

    <h1>Local Logout</h1>

    <div class="main-top"></div>
    <div class="main">
      <p class="text">
        <strong>Status of Local Logout:</strong><br>
        <shibmlp logoutStatus/>
      </p>
      <p class="text">
        You <strong>must</strong> close your browser to complete the logout process.
      </p>

    </div>
    <div class="main-bottom"></div>
    <footer>
    <div class="bottom">
      <p>This service is provided by {{ instance_name }}.</p>
    </div>
    </footer>
  </div>
  </main>
</div>

</body>

</html>
