<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>{{ instance_name }} - Local logout</title>
  <link rel="stylesheet" href="<shibmlp styleSheet/>"/>
  <link rel="stylesheet" href="<shibmlp styleSheet2/>"/>
</head>
<body class="index">
<div id="wrapper">

  <!-- = Header -->
  <div id="header">
  </div>
  <!-- / Header -->

  <!-- = Main -->
  <div id="main">
    <h1>Local Logout</h1>

    <div class="main-top"></div>
    <div class="main">
      <span class="text">
        <strong>Status of Local Logout:</strong><br/>
        <shibmlp logoutStatus/>
      </span>
      <br/>
      <span class="text">
        You <strong>must</strong> close your browser to complete the logout process.
      </span><br/>

    </div>
    <div class="main-bottom"></div>
    <div class="bottom">
      <p>This service is provided by {{ instance_name }}.</p>
    </div>
  </div>
  <!-- / Main -->
</div>

</body>

</html>
