---
- name: Download Minio Client
  ansible.builtin.get_url:
    url: "https://dl.min.io/client/mc/release/linux-amd64/mc"
    dest: "/usr/local/sbin/mc"
    mode: '0700'
    checksum: 01f866e9c5f9b87c2b09116fa5d7c06695b106242d829a8bb32990c00312e891
