- name: Check if minio alias is set
  ansible.builtin.command: "mc alias list {{ minio_alias }}"
  changed_when: false
  register: minio_alias_present
  check_mode: false # always run its safe

- name: Debug alias list
  ansible.builtin.debug:
    msg: "{{ minio_alias_present }}"
    verbosity: 2

# - name: Configure minio connection alias
# when: minio_alias_present.stdout 
#   command: "mc alias set {{ minio_alias }} {{ minio_url_local }} {{ minio_root_user }} {{ minio_root_password }}"
#   register: alias_command
#   changed_when: false
#   failed_when: '"Added `" + minio_alias + "` successfully" not in alias_command.stdout'

