- name: Check whether user is already configured
  command: "{{ minio_mc }} admin user info {{ minio_alias }} {{ user.name }}"
  register: get_user
  changed_when: false
  ignore_errors: true

- name: Create users
  command: "{{ mc_command }} admin user add {{ minio_alias }} {{ user.name }} {{ user.password }}"
  register: add_user
  changed_when: '"Added user `" + user.name + "` successfully" in add_user.stdout'
  when:
    - get_user.rc==1
    - '"Unable to get user info" in get_user.stderr'
