- name: Configure and start container
  ansible.builtin.include_tasks: "configure_container.yml"

- name: Configure minio
  ansible.builtin.include_tasks: "configure_minio.yml"

- name: Add minio users
  ansible.builtin.include_tasks: "create_users.yml"
  loop: "{{ minio_users }}"
  loop_control:
    loop_var: "user"
