{
    "displayName": {
    "en": "The display name for this connection, overrides the 'name' in WAYFs."
    },
    "coin_guest_qualifier": {
    "en": "Can have the value None, Some or All. Indicates that no users from this IDP are marked as guest, some users are marked as guest or all users are marked as guest respectively"
    },
    "coin_consent_required": {
    "en": "Demand that users do not have to give consent to release their personal information"
    },
    "coin_eula": {
    "en": "URL of the End User License Agreement for the service."
    },
    "logo_url": {
    "en": "The URL of the IDPs logo image. This URL must be accessible from the public internet."
    },
    "logo_width": {
    "en": "The width of the IDPs logo image. Required for MDUI export."
    },
    "logo_height": {
    "en": "The height of the IDPs logo image. Required for MDUI export."
    },
    "keywords": {
    "en": "Space separated list of keywords users can search on in the WAYF screen"
    },
    "coin_do_not_add_attribute_aliases": {
    "en": "Do not add aliases of attributes (default: Unchecked). Eg: Unset/unchecked gives both urn:mace:dir:attribute-def:cn and urn:oid:2.5.4.3. Checked gives only urn:mace:dir:attribute-def:cn."
    },
    "coin_hidden": {
    "en": "Hide from metadata"
    },
    "coin_trusted_proxy": {
        "en": "Enable to allow this SP to act as a trusted proxy. A trusted proxy is allowed to handle authentication on behalf of other SPs."
    },
    "coin_entity_categories": {
        "en": "Entity Category supported by this entity, to be advertised in metadata."
    }
}
