---
- name: Install latest version of nss
  yum: name=nss state=latest

- name: copy locale languages files
  copy: src=resources dest={{ tomcat.install_dir }}/{{ tomcat.properties_dir }}/oidc owner=tomcat group=tomcat mode=0740
  register: oidc_language_files

- name: add language files to war
  shell: jar -uvf {{ tomcat_install_dir }}/wars/{{ deploy_name }}.war ./resources/ chdir={{ tomcat.install_dir }}/{{ tomcat.properties_dir }}/oidc
  when: new_deployment is defined

- name: change permissions to war
  file: path={{ tomcat_install_dir }}/wars/{{ deploy_name }}.war owner=tomcat group=tomcat mode=0644

- name: copy oidc configuration
  template: src=application.oidc.properties.j2 dest={{ tomcat.install_dir }}/{{ tomcat.properties_dir }}/application.oidc.properties
  tags: oidc
  notify: restart tomcat

- name: copy clients and resources configuration
  template: src=clientsAndResources.yml.j2 dest={{ tomcat.install_dir }}/{{ tomcat.properties_dir }}/clientsAndResources.yml
  tags: oidc
  notify: restart tomcat

- name: copy oidc jwks keystore configuration
  template: src=oidc.keystore.jwks.json.j2 dest={{ tomcat.install_dir }}/{{ tomcat.properties_dir }}/oidc.keystore.jwks.json
  tags: oidc
  notify: restart tomcat

- name: copy oidc logging configuration
  copy: src=oidc-logback.xml dest={{ tomcat.install_dir }}/{{ tomcat.properties_dir }}/oidc-logback.xml group=tomcat owner=tomcat
  notify: restart tomcat

- meta: flush_handlers

- name: copy virtual host config
  template: src=oidc.conf.j2 dest=/etc/httpd/conf.d/oidc.conf
  notify: reload httpd
  when: oidc_standalone is undefined

- name: copy standalone httpd config
  template: src=oidc.httpd.conf.standalone.j2 dest=/etc/httpd/conf.d/oidc.conf
  notify: reload httpd
  when: oidc_standalone is defined
        
