<html>
<title>SRAM</title>
<body>

<h2>SRAM metadata</h2>
<p><a href='proxy_idp.xml'>SRAM IdP proxy metadata</a><br>
(for use by Service Providers)</p>
<p><a href='proxy_sp.xml'>SRAM SP proxy metadata</a><br>
(for use by Identity Providers)</p>
</body>
</html>
