[Unit]
Description=pyFF Metadata processing
After=syslog.target network.target

[Service]
Type=oneshot
WorkingDirectory={{metadata.basedir}}
ExecStart=echo "pyff-metadata"
SyslogIdentifier=pyff-metadata

[Install]
WantedBy=multi-user.target
