Listen {{ apache_app_listen_address.static }}:{{ loadbalancing.static.port }}
<Virtualhost {{ apache_app_listen_address.static }}:{{ loadbalancing.static.port }}>
    ServerName static.{{ base_domain }}:443

    DocumentRoot /var/www/static

    ErrorLog "|/usr/bin/logger -p local3.err  -t 'Apache-STATIC'"
    CustomLog "|/usr/bin/logger -p local3.info  -t 'Apache-STATIC'" combined

</VirtualHost>
