Listen {{ apache_app_listen_address.static }}:10{{ loadbalancing.static.port }}
<Virtualhost {{ apache_app_listen_address.static }}:10{{ loadbalancing.static.port }}>
    ServerName static.{{ base_domain }}:443

    DocumentRoot /var/www/static

    # Use separate log files for the SSL virtual host; note that LogLevel
    # is not inherited from httpd.conf.
    ErrorLog logs/static_ssl_error_log
    TransferLog logs/static_ssl_access_log
    LogLevel warn

</VirtualHost>
