{% if apache_app_listen_address.static is defined %}
Listen {{ apache_app_listen_address.static }}:{{ loadbalancing.static.port }}
<Virtualhost {{ apache_app_listen_address.static }}:{{ loadbalancing.static.port }}>
{% else %}
<Virtualhost *:443 >
{% endif %}
    ServerName static.{{ base_domain }}:443

    DocumentRoot {{ static_dir }}
{% if apache_app_listen_address.all is defined %}
    SSLEngine on
    SSLCertificateFile      {{ tls.cert_path }}/{{ tls_star_cert }}
    SSLCertificateKeyFile   {{ tls.cert_private_path }}/{{ tls_star_cert_key }}
    SSLCertificateChainFile {{ tls.cert_path_ca }}/{{ tls_ca }}
{% endif %}

    ErrorLog "|/usr/bin/logger -p local3.err  -t 'Apache-STATIC'"
    CustomLog "|/usr/bin/logger -p local3.info  -t 'Apache-STATIC'" combined
    
    {% if haproxy_backend_tls %}
    SSLEngine on
    SSLCertificateFile      {{ tls.cert_path }}/backend.{{ base_domain }}.pem
    SSLCertificateKeyFile   {{ tls.cert_private_path }}/backend.{{ base_domain }}.key
    Include ssl_backend.conf
    {% endif %}

    {% if apache_app_listen_address.all is defined %}
    SSLEngine on
    SSLCertificateFile      {{ tls.cert_path }}/{{ tls_star_cert }}
    SSLCertificateKeyFile   {{ tls.cert_private_path }}/{{ tls_star_cert_key }}
    SSLCertificateChainFile {{ tls.cert_path_ca }}/{{ tls_ca }}
    Include ssl_backend.conf
    {% endif %}

</VirtualHost>
