$TTL    4h
$ORIGIN ha.{{ base_domain }}.
@           IN      SOA     ns1.{{ base_domain }}.    surfconext-beheer.surfnet.nl. (
                            2016160300    ; Serial
                            1d            ; slave refresh (1 day)
                            2h            ; slave retry time in case of a problem (2 hours)
                            2w            ; slave expiration time (2 weeks)
                            2d            ; minimum caching time in case of failed lookups (2 days)
                            )
            IN      NS      ns1.{{ base_domain }}.
engine      IN      A       192.168.66.98
