options
{
        directory       "/var/cache/bind";  // "Working" directory
        dump-file       "data/cache_dump.db";
        statistics-file "data/named_stats.txt";
        memstatistics-file "data/named_mem_stats.txt";
        listen-on       port 53 { any; };
        listen-on-v6    port 53 { any; };
        allow-query     { any; };
        recursion       no;
        pid-file        "/run/named/named.pid";
        session-keyfile "/run/named/session.key";
        key-directory	"keys";
        bindkeys-file   "/etc/bind/bind.keys";
        version		"{{ instance_name }} DNS server";
};
