---
- name: Restart minio
  community.docker.docker_container:
    name: minio
    state: started
    restart: true
    # avoid restarting it creates unexpected data loss according to docker_container_module notes
    # https://docs.ansible.com/ansible/latest/collections/community/docker/docker_container_module.html#notes
    comparisons:
      '*': ignore
  when: minio_container is success and minio_container is not change
