{% if apache_app_listen_address.engine_api is defined %}
Listen {{ apache_app_listen_address.engine_api }}:{{ loadbalancing.engine_api.port }}
<Virtualhost {{ apache_app_listen_address.engine_api }}:{{ loadbalancing.engine_api.port }}>
{% else %}
<Virtualhost *:443 >
{% endif %}
    ServerAdmin {{ apache_server_admin}}

    DocumentRoot {{ engine_current_release_symlink }}/web
    ServerName   {{ engine_api_domain }}

{% if apache_app_listen_address.all is defined %}
    SSLEngine on
    SSLCertificateFile      {{ tls.cert_path }}/{{ tls_star_cert }}
    SSLCertificateKeyFile   {{ tls.cert_private_path }}/{{ tls_star_cert_key }}
    SSLCertificateChainFile {{ tls.cert_path_ca }}/{{ tls_ca }}
    BrowserMatch "MSIE [2-6]" nokeepalive ssl-unclean-shutdown downgrade-1.0 force-response-1.0
    # MSIE 7 and newer should be able to use keepalive
    BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown
{% endif %}

    <Directory "{{ engine_current_release_symlink }}/web">
        Require all granted
        Options -MultiViews
        RewriteEngine On
        RewriteBase /
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteRule ^(.*)$ app{% if develop %}_dev{% endif %}.php [QSA,L]
    </Directory>

    SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
    SetEnv ENGINEBLOCK_ENV {{ engine_apache_environment }}
    SetEnv SYMFONY_ENV {{ engine_apache_symfony_environment }}
    SetEnv HTTPS on

    RewriteEngine On
    # We support only GET/POST/HEAD
    RewriteCond %{REQUEST_METHOD} !^(POST|GET|HEAD)$
    RewriteRule .* - [R=405,L]

    #Proxy the requests to FPM
    ProxyPassMatch ^/(.*\.php(/.*)?)$ fcgi://127.0.0.1:{{ engine_fpm_port }}/{{ engine_current_release_symlink }}/web/$1

    ErrorLog "|/usr/bin/logger -p local3.err  -t 'Apache-EBAPI'"
    CustomLog "|/usr/bin/logger -p local3.info  -t 'Apache-EBAPI'" combined
</VirtualHost>
