authorities:
  - {
      id: "orcid",
      description: "ORCID provides a persistent digital identifier that distinguishes you from every other researcher and, through integration in key research workflows such as manuscript and grant submission, supports automated linkages between you and your professional activities ensuring that your work is recognized",
      endpoint: "https://orcidaa.{{ base_domain }}/idp/profile/admin/resolvertest",
      user: "",
      password: "",
      timeOut: 1000,
      attributes: [
        {
          name: "urn:mace:dir:attribute-def:eduPersonOrcid",
          caseExact: True,
          description: "The ORCID is a persistent digital identifier that distinguishes the account holder from every other researcher.",
          multiValued: True,
          mutability: "readOnly",
          required: False,
          returned: "default",
          type: "string",
          uniqueness: "none"
        }
      ],
      requiredInputAttributes: [
        {
        name: "urn:mace:dir:attribute-def:eduPersonPrincipalName"
        }
      ]
    }
  - {
      id: "sab",
      description: "SURFnet Autorisatie Beheer",
      endpoint: "{{ aa.sab_endpoint }}",
      user: "{{ aa.sab_username }}",
      password: "{{ aa.sab_password }}",
      timeOut: 1000,
      attributes: [
        {
          name: "urn:mace:dir:attribute-def:eduPersonEntitlement",
          caseExact: True,
          description: "URI (either URN or URL) that indicates a set of rights to specific resources.",
          multiValued: True,
          mutability: "readOnly",
          required: False,
          returned: "default",
          type: "string",
          uniqueness: "none",
        }
      ],
      requiredInputAttributes: [
        {
        name: "urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified"
        }
      ]
    }
  - {
      id: "voot",
      description: "An extensible protocol for dynamic exchange of group and authorization data",
      endpoint: "https://voot.{{ base_domain }}",
      user: "{{ aa.authz_client_id }}",
      password: "{{ aa.authz_secret }}",
      timeOut: 1000,
      attributes: [
        {
          name: "urn:mace:dir:attribute-def:isMemberOf",
          caseExact: True,
          description: "Lists the collaborative organisations / groups the user is a member of",
          multiValued: True,
          mutability: "readOnly",
          required: False,
          returned: "default",
          type: "string",
          uniqueness: "none",
        }
      ],
      requiredInputAttributes: [
        {
        name: "urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified"
        }
      ]
    }
  - {
      id: "idin",
      description: "With iDIN, you can identify yourself online to companies and organisations using your banks log-in procedure - simple, secure and safe",
      endpoint: "https://attribute-mapper.{{ base_domain }}/api/user",
      user: "{{ aa.idin_client_id }}",
      password: "{{ aa.idin_secret }}",
      timeOut: 1000,
      attributes: [
        {
          name: "urn:mace:dir:attribute-def:isMemberOf",
          caseExact: True,
          description: "Lists the collaborative organisations / groups the user is a member of",
          multiValued: True,
          mutability: "readOnly",
          required: False,
          returned: "default",
          type: "string",
          uniqueness: "none",
        },
        {
          name: "urn:mace:dir:attribute-def:eduPersonAffiliation",
          caseExact: True,
          description: "Indicates a set of roles of the person.",
          multiValued: True,
          mutability: "readOnly",
          required: False,
          returned: "default",
          type: "string",
          uniqueness: "none",
        },
        {
          name: "urn:mace:dir:attribute-def:mail",
          caseExact: True,
          description: "The email address of the person.",
          multiValued: False,
          mutability: "readOnly",
          required: True,
          returned: "default",
          type: "string",
          uniqueness: "none",
        }
      ],
      requiredInputAttributes: [
        {
        name: "urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified"
        }
      ]
    }
  - {
      id: "test:mock",
      description: "Test authority",
      timeOut: 1000,
      attributes: [
        {
          name: "urn:mace:dir:attribute-def:isMemberOf",
          caseExact: True,
          description: "Test memberOf membership",
          multiValued: True,
          mutability: "readOnly",
          required: False,
          returned: "default",
          type: "string",
          uniqueness: "none",
        }
      ],
      requiredInputAttributes: [
        {
        name: "urn:mace:dir:attribute-def:eduPersonPrincipalName"
        }
      ]
    }

