dn: {{ ldap.admin.suffix }}
objectClass: top
objectClass: dcObject
objectClass: organization
dc: {{ ldap.admin.org }}
o: {{ ldap.admin.org }}

dn: cn={{ ldap.grouper.unit_test_user }},{{ ldap.admin.suffix }}
objectClass: applicationProcess
objectClass: top
cn: {{ ldap.grouper.unit_test_user }}

dn: cn={{ ldap.engine.user_cn }},{{ ldap.admin.suffix }}
objectClass: applicationProcess
objectClass: simpleSecurityObject
objectClass: top
cn: {{ ldap.engine.user_cn }}
userPassword: {{ ldap.engine.password_sha }}

dn: cn={{ ldap.user_cn }},{{ ldap.admin.suffix }}
objectClass: applicationProcess
objectClass: simpleSecurityObject
objectClass: top
cn: {{ ldap.user_cn }}
userPassword: {{ ldap.password_sha }}
