<?php

return [
    'suite_name'               => '{{ instance_name }}',
    'organisation_noun'        => 'institution',
    'organisation_noun_plural' => 'institutions',
    'account_noun'             => 'institutional account',
    'openconext_support_url' => 'https://support.surfconext.nl/en',
    'support_url' => 'https://support.surfconext.nl/en',

    // Footer
    'serviceprovider_link_text' => '%suiteName%',
    'serviceprovider_link_target' => 'https://www.surfconext.nl/en',
    'terms_of_service_link_text' => 'Terms of Service',
    'terms_of_service_link_target' => '{{ engine_support_url }}terms-nl',

    // Metadata
    'openconext_terms_of_use_url' => 'No longer current, please use https://metadata.{{ base_domain }}/',

    // Consent page
    'consent_attribute_source_voot'           => 'Group membership',
    'consent_attribute_source_sabrest'        => 'SURF Autorisatie Beheer',
    'consent_attribute_source_orcid'          => 'ORCID iD',
    'consent_attribute_source_manage'         => 'SURF CRM',
    'consent_attribute_source_invite'         => 'SURFconext Invite',
    'consent_attribute_source_logo_url_voot'  => 'https://static.surfconext.nl/media/aa/voot.png',
    'consent_attribute_source_logo_url_sabrest' => 'https://static.surfconext.nl/media/aa/sab.png',
    'consent_attribute_source_logo_url_orcid' => 'https://static.surfconext.nl/media/aa/orcid.png',
    'consent_attribute_source_logo_url_manage' => 'https://static.surfconext.nl/logos/idp/surf.png',
    'consent_attribute_source_logo_url_invite' => 'https://static.surfconext.nl/media/aa/voot.png',

    // Logout
    'logout_information_link' => '<a href="{{ engine_support_url }}help-logout-en">More information about secure log out</a>',
    'logout_information_link_target' => '{{ engine_support_url }}help-logout-en',
    'logout_information_link_text' => 'More information about secure log out',

    'name_id_support_url' => 'https://support.surfconext.nl/help-nameid-en',
    'error_help-desk-href' => 'https://support.surfconext.nl/en',
    'error_feedback_idp_contact_label_small_authentication_feedback_received_error_status_code' => 'Mail',
    'error_feedback_wiki_links_authentication_feedback_received_error_status_code' => '{{ engine_support_url }}/help-idp-error-en',
];
