# This is the SeaweedFS S3 API configuration file

[jwt.signing]
key = "{{ s3_jwt_key | default('secret') }}"

[s3.auditlog]
dir = "/data/s3_audit"

[s3api]
# AWS-compatible endpoint URL is required for AWS SDK to work with virtual-host style
# The hostname or address must be the one to access from clients
enabled = true
domain_name = "{{ s3_domain_name }}"

[s3api.access]
# Allow requests to create browser-based uploads.
allow_browser_uploads = {{ s3_allow_browser_uploads | default('true') }}

# S3 API credentials
# Ensure these credentials match the ones in the .env file
[s3api.auth.static.admin]
access_key = "{{ s3_admin_key }}"
secret_key = "{{ s3_admin_secret }}"

# add more credential lines here as needed
{% if s3_additional_users is defined and s3_additional_users|length > 0 %}
{% for user in s3_additional_users %}
[s3api.auth.static.{{ user.name }}]
access_key = "{{ user.access_key }}"
secret_key = "{{ user.secret_key }}"
{% endfor %}
{% endif %}

# S3 signature validation
[s3.signature]
signature_version = {{ s3_signature_version | default(2) }}
address_style = "{{ s3_address_style | default('virtual_host') }}"

# S3 API region settings
[s3.region]
name = "{{ s3_region_name | default('us-east-1') }}"

# Configure the S3 API to use public URLs
[s3.public]
secure = {{ s3_secure | default('false') }}
