[{{ appname }}]
listen = /var/run/php-fpm/{{ appname }}-pool-72.sock
listen.allowed_clients = 127.0.0.1
listen.owner = apache
listen.group = apache
listen.mode = 0640
user = {{ appname }}
group = {{ appname }}
pm = dynamic
pm.max_children = 40
pm.start_servers = 5
pm.min_spare_servers = 5
pm.max_spare_servers = 35
pm.status_path = /status
php_admin_flag[log_errors] = on
php_admin_value[memory_limit] = {{ fpmmemory | default('128M') }}
php_value[session.save_handler] = files
php_value[session.save_path] = {{ php_session_dir }}/{{ appname }}
php_value[disable_functions] = {{ php_disabled_functions }}
php_value[session.cookie_domain] = {{ vhost_name }}
php_value[session.cookie_lifetime] = 0
php_value[session.gc_maxlifetime] = {{ app_session_expiry_time }}
