# Github action to run Molecule for "mongo"

name: mongo
on:
  workflow_dispatch:
  # push:
  #   paths:
  #     - 'roles/mongo/**'
  #     - 'molecule/mongo/**'
  #     - '.github/workflows/molecule-mongo.yml'
  # pull_request:
  #   paths:
  #     - 'roles/mongo/**'
  #     - 'molecule/mongo/**'
  #     - '.github/workflows/molecule-mongo.yml'

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python 3.8
        uses: actions/setup-python@v6
        with:
          python-version: 3.8

      - name: Installing dependencies
        run: pip install jinja2 ansible molecule molecule-docker pytest-testinfra pytest setuptools

      - name: Run role tests
        run: molecule test -s mongo
