logging:
  config: file:///config/logback.xml
  level:
    org.springframework.data.mongodb: INFO
    org.springframework.data.convert: INFO
    org.springframework.security: WARN
    myconext: DEBUG
    io.mongock: DEBUG

server:
  # The port to where this Spring Boot application listens to.
  port: 8080
  error:
    path: "/error"
  server-header:
  servlet:
    # We serve from the root. Do not change this
    context-path:
    session:
      timeout: 28800
      cookie:
        secure: true
    max-http-header-size: 20000

springdoc:
  pathsToMatch:
    - "/api/remote-creation/**"
    - "/myconext/api/invite/**"
    - "/mobile/**"
  api-docs:
    path: "/myconext/api/api-docs"
    enabled: true
    # resolves to https://login.test2.eduid.nl/myconext/api/swagger-ui/index.html
  swagger-ui:
    path: "/myconext/api/"
    operationsSorter: method
    enabled: true

email:
  from_deprovisioning: "{{ myconext.email.from_deprovisioning }}"
  from_code: "{{ myconext.email.from_code }}"
  from_app_nudge: "{{ myconext.email.from_deprovisioning }}"
  from_new_device: "{{ myconext.email.from_deprovisioning }}"
  error: {{ error_mail_to }}
  error_mail: {{ error_mail_to }}
  magic-link-url: https://login.{{ myconext_base_domain }}/saml/guest-idp/magic
  my-surfconext-url: https://mijn.{{ myconext_base_domain }}
  idp-surfconext-url: https://login.{{ myconext_base_domain }}
  mail-templates-directory: classpath:mail_templates

identity-provider-meta-data:
  single_sign_on_service_uri: "https://login.{{ myconext_base_domain }}/saml/guest-idp/SSO"
  name: "eduID IdP"
  description: "eduID IdP"
  logo_uri: "https://static.surfconext.nl/media/idp/eduid.png"

schac_home_organization: eduid.nl

cron:
  node-cron-job-responsible: {{ myconext_cronjobmaster }}
  token-cleaner-expression: "0 0/15 * * * *"
  manage-initial-delay-milliseconds: 15000
  manage-fixed-rate-milliseconds: 300_000
  # Runs on the first day of February, May, August, and November.
  # 0 – seconds
  # 30 – minute
  # 5 – hour
  # * – every day of month
  # 2,5,8,11 – February, May, August, November
  # * – every day of week
  mail-institution-mail-usage-expression: "0 30 5 * 2,5,8,11 *"
  mail-institution-batch-size: 500
  # Every day at 6:30AM
  nudge-app-mail-expression: "0 30 6 * * ?"
  # Number of days after creation of the eduID account which the nudge mail is send
  nudge-app-mail-days-after-creation: 14
  # Every day at 7:30AM
  inactivity-users-expression: "0 30 7 * * ?"
  # Set to true to disable sending emails
  dry-run-email: {{ myconext.feature_dry_run_email_cron }}

manage:
  username: myconext
  password: "{{ manage_myconext_secret }}"
  base_url: "https://manage.{{ base_domain }}"
  enabled: True

mongodb_db: {{ myconext.mongo_database }}
base_domain: {{ myconext_base_domain }}
saml_metadata_base_path: https://login.{{ myconext_base_domain }}
base_path: https://mijn.{{ myconext_base_domain }}
continue_after_login_url: https://login.{{ myconext_base_domain }}/saml/guest-idp/continue
idp_redirect_url: https://login.{{ myconext_base_domain }}
rp_id: login.{{ myconext_base_domain }}
rp_origin: https://login.{{ myconext_base_domain }}
sp_redirect_url: https://mijn.{{ myconext_base_domain }}
sp_entity_id: {{ myconext.sp_entity_id }}
sp_entity_metadata_url: {{ myconext.sp_entity_metadata_url }}
guest_idp_entity_id: https://engine.{{ base_domain }}/authentication/idp/metadata
my_conext_url: https://mijn.{{ myconext_base_domain }}
domain: {{ myconext_base_domain }}
mijn_eduid_entity_id: https://mijn.{{ myconext_base_domain }}/shibboleth
mobile_app_redirect: eduid:///client/mobile
# For this RP we nudge the user to use the magic link
mobile_app_rp_entity_id: {{ myconext.mobile_app_rp_entity_id }}

# The host headers to identify the service the user is logged in
host_headers:
  service_desk: servicedesk.{{ myconext_base_domain }}
  mijn_ediuid: mijn.{{ myconext_base_domain }}
  #Only for testing purposes
  active: ignore.test.eduid.nl

feature:
  webauthn: {{ myconext.feature_webauthn }}
  warning_educational_email_domain: {{ myconext.feature_warning_educational_email_domain }}
  connections: {{ myconext.feature_show_connections }}
  # Do we deny emails that are known Disposable Email Providers
  deny_disposable_email_providers: {{ myconext.feature_deny_disposable_email_providers }}
  use_deny_allow_list:
    allow_enabled: {{ myconext.feature_allowlist }}
    allow_location: "classpath:/deny-allow/allowed.json"
  # Do we allow the create-from-institution flow
  create_eduid_institution_enabled: {{ myconext.feature_create_eduid_institution_enabled }}
  # Do we show the landing page for the create-from-institution flow
  create_eduid_institution_landing: {{ myconext.feature_create_eduid_institution_landing }}
  # Do we default remember the user for a longer period
  default_remember_me: True
  # Do we default add affiliate email address
  default_affiliate_email: True
  # Does the SAMLIdpService expects authn requests to be signed
  requires_signed_authn_request: False
  # Do we support ID verify
  id_verify: {{ myconext.feature_id_verify}}
  # Do we support the remote creation API (e.g. for studielink)
  remote_creation_api: {{ myconext.feature_remote_creation_api }}
  # Do we send error mails for reported errors by the JS UI
  send_js_exceptions: {{ myconext.feature_send_js_exceptions }}
  # Do we periodically mail users who have used their institution account
  mail_institution_mail_usage: {{ myconext.feature_mail_institution_mail_usage }}
  # Do we periodically mail users who are inactive and might have their account deleted
  mail_inactivity_mails: {{ myconext.feature_mail_inactivity_mails }}
  # Do we mail users who have not installed the eduID app
  nudge_app_mail: {{ myconext.feature_nudge_app_mail }}
  # Set to true if the servicedesk is fully operational (e.g. show the user the control-code option)
  service_desk_active: {{ myconext.feature_service_desk_active }}
  # Set to true to enable captcha in the account creation
  captcha_enabled: True
  # Set to true to use the BRIN code to add ui-roles and authentication scoped affiliations
  use_remote_creation_for_affiliation:  {{ myconext.feature_use_remote_creation_for_affiliation }}
  # Set to true to show the account linking related options on the personal-info page and home page (banner)
  enable_account_linking: {{ myconext.feature_enable_account_linking }}
  # Set to true to show the app login option
  use_app: {{ myconext.feature_use_app }}

default_affiliate_email_domain: eduid.nl

captcha:
  sitekey: {{ myconext.captcha_sitekey }}
  apikey: {{ myconext.captcha_apikey }}
  host: https://global.frcapi.com/api/v2/captcha/siteverify

secure_cookie: true
idp_entity_id: https://login.{{ myconext_base_domain }}
private_key_path: file:///config/myconext_saml.key
certificate_path: file:///config/myconext_saml.crt
tiqr_hash_secret: "{{ myconext_tiqr_hash_secret }}"

remember_me_max_age_seconds: 15_768_000 # 11 uur
tiqr_trust_for_pn_max_age_seconds: 15_768_000
sso_mfa_duration_seconds: 3600
nudge_eduid_app_login_days: {{ myconext.nudge_eduid_app_login_days }}
nudge_eduid_app_pause_days: {{ myconext.nudge_eduid_app_pause_days }}
remember_me_question_asked_days: {{ myconext.remember_me_question_asked_days }}
email_guessing_sleep_millis: 500
email_spam_threshold_seconds: 15

sms:
  url: "{{ myconext.sms_api_url }}"
  bearer: "{{ myconext_sms_bearer }}"
  route: "{{ myconext.sms_api_route }}"

tiqr_configuration: "file:///config/tiqr.configuration.yml"

# We don't encode in-memory passwords, but they are reused so do NOT prefix them with {noop}
external-api-configuration:
  remote-users:
    -
      username: aa
      password: "{{ myconext_api_attribute_aggregation_password }}"
      scopes:
        - attribute-aggregation
        - system
    -
      username: oidcng
      password: "{{ myconext_api_attribute_manipulation_password }}"
      scopes:
        - attribute-manipulation
    -
      username: studielink
      password: "{{ myconext_api_studielink_password }}"
      scopes:
        - remote-creation
      institutionGUID: ec9d6d75-0d11-e511-80d0-005056956c1a
      schac_home: studielink.nl
    -
      username: invite
      password: "{{ myconext_api_invite_password }}"
      scopes:
        - invite
    -
      username: internal
      password: "{{ myconext_api_internal_password }}"
      scopes:
        - actuator

oidc-token-api:
  token-url: https://connect.{{ base_domain }}/tokens
  user: eduid
  password: "{{ oidcng_api_tokens_eduid_password }}"
  enabled: {{ oidcng.token_api_enabled }}

oidc:
  client-id: {{ myconext.rp_client_id }}
  secret: {{ myconext_client_secret }}
  idp-flow-redirect-url: https://login.{{ myconext_base_domain }}/myconext/api/idp/oidc/redirect
  sp-flow-redirect-url: https://mijn.{{ myconext_base_domain }}/myconext/api/sp/oidc/redirect
  mobile-flow-redirect-url: https://login.{{ myconext_base_domain }}/myconext/api/mobile/oidc/redirect

  sp-create-from-institution-redirect-url: https://mijn.{{ myconext_base_domain }}/myconext/api/sp/create-from-institution/oidc-redirect
  base-url: https://connect.{{ base_domain }}


services-configuration:
  # All entity identifiers from services we want to hide in the data & activity overview
  hide_in_overview:
    - playground_client

linked_accounts:
  # The duration that non validated-name linked accounts are valid - note that they are not removed and will still be used for EPPN Pseudonymisation
  expiry-duration-days-non-validated: 180
  # The duration after which validated-name linked accounts are removed
  removal-duration-days-validated: 2190

account_linking_context_class_ref:
  linked_institution: https://eduid.nl/trust/linked-institution
  validate_names: https://eduid.nl/trust/validate-names
  validate_names_external: https://eduid.nl/trust/validate-names-external
  affiliation_student: https://eduid.nl/trust/affiliation-student
  profile_mfa: https://refeds.org/profile/mfa

account_linking:
  myconext_sp_entity_id: https://mijn.{{ myconext_base_domain }}/shibboleth

eduid_api:
  oidcng_introspection_uri: https://connect.{{ base_domain }}/oidc/introspect
  oidcng_discovery_url: "https://connect.{{ base_domain }}/oidc/.well-known/openid-configuration"
  oidcng_client_id: {{ myconext.rs_client_id }}
  oidcng_secret: {{ myconext_rs_client_secret }}
  base_url: https://login.{{ myconext_base_domain }}

geo_location:
  # Use either max_mind or mock
  service: max_mind
  license_key: {{ myconext_geo2lite_license_key }}
  external_url: {{ myconext.geo_location_external_url }}
  download_directory: "/config/geo2lite"

# Signicat configuration
verify:
  client_id: {{ myconext_verify_client_id }}
  secret: {{ myconext_verify_secret }}
  base_uri: {{ myconext.verify_base_uri }}
  sp_verify_redirect_url: https://mijn.{{ myconext_base_domain }}/myconext/api/sp/verify/redirect
  idp_verify_redirect_url: https://login.{{ myconext_base_domain }}/myconext/api/idp/verify/redirect
  mobile_verify_redirect_url: https://mijn.{{ myconext_base_domain }}/myconext/api/mobile/verify/redirect
  issuers_path: "classpath:idin/issuers.json"

spring:
  data:
    mongodb:
      uri: mongodb://{{ myconext.mongo_user }}:{{ myconext.mongo_password }}@{% for mongo_server in myconext.mongo_servers %}{{ mongo_server }}:{{ myconext.mongo_port }}{% if not loop.last %},{% endif %}{% endfor %}/{{ myconext.mongo_database }}?ssl={{ mongodb_ssl | default('true') }}

  mail:
    host: {{ smtp_server }}
    port: 25
  main:
    banner-mode: "off"

service_desk_role_auto_provisioning: False
service_desk_roles: {{ myconext.service_desk_roles | join(",") }}

gui:
  disclaimer:
    background-color: {{ environment_ribbon_colour }}
    content: {{ environment_shortname }}

# We disable all endpoints except health for the load-balancer and info for git information and prometheus.
management:
  endpoints:
    web:
      exposure:
        include: "health,info,prometheus"
      base-path: "/internal"
  endpoint:
    info:
      access: unrestricted
    health:
      access: unrestricted
      show-details: always
    prometheus:
      access: read_only
    mappings:
      access: none
    metrics:
      access: unrestricted
  info:
    git:
      mode: full
