#jinja2:lstrip_blocks: True
<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
            <jsonFormatter
                    class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                <prettyPrint>true</prettyPrint>
            </jsonFormatter>
            <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
        </layout>
    </appender>

 <logger name="myconext" level="INFO" />
 <logger name="org.springframework.security" level="WARN" />
 <logger name="tiqr.org" level="INFO" />
 <logger name="io.changock" level="INFO" />

 <root level="WARN">
   <appender-ref ref="STDOUT" />
 </root>

</configuration>
