---
- name: Create directory to keep configfile
  ansible.builtin.file:
    dest: "/opt/openconext/pdp"
    state: directory
    owner: root
    group: root
    mode: "0770"

- name: Place the serverapplication configfiles
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: /opt/openconext/pdp/{{ item }}
    owner: root
    group: root
    mode: "0644"
  with_items:
    - serverapplication.yml
    - logback.xml
    - xacml.conext.properties
  notify: restart pdpserver

- name: Add the MariaDB docker network to the list of networks when MariaDB runs in Docker
  ansible.builtin.set_fact:
    pdp_docker_networks:
      - name: loadbalancer
      - name: openconext_mariadb
  when: mariadb_in_docker | default(false) | bool

- name: Remove obsolete pdp containers
  community.docker.docker_container:
    name: "{{ item }}"
    state: absent
  loop:
    - "pdpgui"
    - "pdpserver"

- name: Create and start the server container
  community.docker.docker_container:
    name: pdp
    env:
      TZ: "{{ timezone }}"
    image: ghcr.io/openconext/openconext-pdp/pdp-server:{{ pdp_version }}
    pull: true
    restart_policy: "{{ pdp_server_restart_policy }}"
    restart_retries: "{{ pdp_server_restart_retries }}" # Only for restart policy on-failure
    state: started
    networks: "{{ pdp_docker_networks }}"
    mounts:
      - source: /opt/openconext/pdp/serverapplication.yml
        target: /application.yml
        type: bind
      - source: /opt/openconext/pdp/logback.xml
        target: /logback.xml
        type: bind
      - source: /opt/openconext/pdp/xacml.conext.properties
        target: /xacml.conext.properties
        type: bind
    command: "-Xmx512m --spring.config.location=./"
    etc_hosts:
      host.docker.internal: host-gateway
    labels:
      traefik.http.routers.pdp.rule: "Host(`pdp.{{ base_domain }}`)"
      traefik.http.routers.pdp.tls: "true"
      traefik.enable: "true"
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "-no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:8080/internal/health",
        ]
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 10s
  register: pdpservercontainer
