logging:
  config: file://{{ metadata_registry_dir }}/logback.xml
  level:
    org.springframework.data.mongodb: INFO

server:
  # The port to where this Spring Boot application listens to.
  port: {{ springapp_tcpport }}
  # We serve from the root. Do not change this
  contextPath:
  session:
    cookie:
      secure: true
  server-header: no
  session-timeout: 3600

features: {{ metadata_registry.features }}

manage_cronjobmaster: {{ manage_cronjobmaster }}
manage_cronjob_minutes: 30

push:
  url: https://{{ engine_api_domain }}/api/connections
  user: {{ engine_api_janus_user }}
  password: {{ engine_api_janus_password }}
  name: SURFConext EngineBlock

email:
  base_url: https://manage.{{ base_domain }}
  from: {{ noreply_email }}
  to: {{ error_mail_to }}

product:
  name: Metadata Registry
  organization: OpenConext

metadata_configuration_path: file://{{ metadata_registry_dir }}/metadata_configuration
metadata_templates_path: file://{{ metadata_registry_dir }}/metadata_templates
metadata_exports_path: file://{{ metadata_registry_dir }}/metadata_export
migrate_data_from_janus: false

security:
  backdoor_user_name: {{ metadata_registry.backdoor_api_user }}
  backdoor_password: {{ metadata_registry_backdoor_api_password }}
  api_users_config_path: file://{{ metadata_registry_dir }}/mr-api-users.yml

spring:
  profiles:
    active: test
  mail:
    host: localhost
    port: 25
  data:
    mongodb:
      uri: mongodb://{{ metadata_registry.mongo_host }}:{{ metadata_registry.mongo_port }}/metadata
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mysql://{{ metadata_registry.db_host }}/{{ metadata_registry.db_name }}
    username: {{ metadata_registry.db_user }}
    password: {{ metadata_registry.db_password }}
    dbcp2:
      test-while-idle: true
      validation-query: SELECT 1
  main:
    banner-mode: "off"

eb:
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mysql://{{ metadata_registry.eb_db_host }}/{{ metadata_registry.eb_db_name }}
    username: {{ metadata_registry.eb_db_user }}
    password: {{ metadata_registry.eb_db_password }}
    dbcp2:
      test-while-idle: true
      validation-query: SELECT 1

management:
  health:
    mail:
      enabled: true

# We disable all endpoints except health for the load-balancer and info for git information.
endpoints:
  enabled: false
  health:
    enabled: true
    sensitive: false
  info:
    enabled: true
